.ab-header {
	width:100%;
	display:table;
	margin:0 auto;
	padding:10px 20px;
	position:relative;
}

.ab-header #ab-logo-header {
	position:relative;
	width:170px;
	margin-left:0;
	float:left;
}

#ab-logo-header img, #ab-header-logo-overlay img {
	width:170px;
}

.ab-header #login-container {
	position:relative;
	right:0;
	padding:0;
	float:none;
	display:table;
	width:100%;
}

#login-container .login-form {
	padding-top:0;
}

.ab-login-field {
	position:relative;
	float:left;
	margin-right:5px;
}

.ab-login-field:nth-of-type(1),
.ab-login-field:nth-of-type(2) {
	width:311px;
	margin-right:12px;
}

.ab-login-field:nth-of-type(3) {
	width:70px;
	margin-right:0;
}


.ab-login-field input,
.ab-login-field select { 
	border:1px solid #0d4a70;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	padding:3px;
	width:100px;
	font-size:13px;
}


.ab-login-field input {
	width:100%;
	font-size:14px;
}

.ab-login-field select {
	padding:2px;
	float:right;
	display:block;
}

.ab-login-field .text-link {
	color: #0d4a70;
	font-family: 'Roboto', sans-serif;
}


#login-container .submit-btn {
	background: url(../images/ab-website-fnl/login-arrow.png) no-repeat #84bc44;
    background-position: 58px 7px;
	font-family: Helvetica, sans-serif;
    font-size: 13px;
	line-height:13px;
    text-decoration: none;
    border: none;
    padding: 7px 20px 5px 8px;
    color: #fff !important;
	border:0;
	border-radius:0;
	border-color:#84bc44;
	text-transform:uppercase;
	margin-right:0;
	position:relative;
	float:left;
	width:70px;
}

.ab-row {
	display:table;
	width:100%;
	margin-bottom:6px;
	position:relative;
}

#ab-hero {
	display:none;
}

#ab-hero-mobile {
	width:100%;
	background: url(../images/ab-website-fnl/ab-hero-mobile.jpg) no-repeat;
	background-size:100%;
	background-position: top center;
	display:table;
	height:541px;
	padding:30px 20px;
	box-sizing: border-box;
	color:#fff;
}



#ab-hero .hero-container {
	width:1200px;
	display:table;
	margin:0 auto;
}

#ab-hero .hero-container .hero-left {
	margin-left:70px;
	float:left;
	width:570px;
	box-sizing: border-box;
	padding-top:25px;
}

#ab-hero-mobile .slogan {
	font-size:26px;
	line-height:30px;
	color:#fff;
	font-family:'Roboto', sans-serif;
	margin:0 0 20px;
	width:100%;
	text-align:center;
}

#ab-hero-mobile  #private-listings,
#ab-hero-mobile  #verified-amount,
#ab-hero-mobile  #ave-agent-sales,
#ab-hero-mobile  #worldwide
 {
	padding:15px 0; 
	width:100%;
}

#ab-hero-mobile .amount {
	font-size:60px;
	font-weight:900;
	font-family:'Roboto', sans-serif;
	text-align:center;
	margin-bottom:5px;
}

#ab-hero-mobile .description {
	font-size:18px;
	font-weight:normal;
	font-family:'Roboto', sans-serif;
	text-align:center;
}

.about-bg {
	display:none;
}

.about-ab {
	display:none;
}

.about-ab-mobile {
	display:table;
	
}


.about-ab-mobile .ab-who .title,
.about-ab-mobile .ab-what .title,
.about-ab-mobile .ab-how .title  {
	height:52px;
	display:table;
	text-align:center;
	font-family:'Roboto', sans-serif;
	color:#fff;
	width:100%;
	line-height:52px;
	font-size:18px;
	font-weight:400;
}

.about-ab-mobile .title span {
	font-weight:700;
}

.about-ab-mobile .ab-who .content,
.about-ab-mobile .ab-what .content,
.about-ab-mobile .ab-how .content  {
	padding:20px;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	background:#fff;
	width:100%;
	display:table;
	border:0;
	box-shadow:none;
	font-size:16px;
	text-align:center;
	display:table;
	margin-bottom:0;
}

.about-ab-mobile .ab-how .content .founder-badge {
	background:url(../images/ab-website-fnl/ab-founder-logo.png) no-repeat;
	width:104px;
	height:115px;
	position:relative;
	margin:0 auto 20px;
}

.about-ab-mobile .content p.small {
	font-size:16px;
}

.about-ab-mobile .ab-who,
.about-ab-mobile .ab-what,
.about-ab-mobile .ab-how {
	display:table;
	position:relative;
	width:100%;
}

.about-ab-mobile .ab-who .top1 {
	font-size:60px;
	font-weight:900;
	line-height:60px;
}

.about-ab-mobile .ab-what .big-green {
	font-size:32px;
	font-weight:900;
	line-height:34px;
	color: #84bc44;
}

.ab-who .title {
	background:#84bc44;
}
.ab-what .title {
	background:#2f99cd;
}
.ab-how .title {
	background:#0d4a70;
}

.about-ab-mobile .ab-who .testimonial {
	display:table;
	width:100%;
	margin:0;
	padding:0;
	background:#0d4a70;
	position:relative;
	height:140px;
}

.about-ab-mobile .ab-who .testimonial .slide-img {
	display:table;
	width:400px;
	height:140px;
	margin:0 auto;
	padding:0;
	position:relative;
}

.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg {
	background:url(../images/ab-website-fnl/carousel1-img.jpg) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}

.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg2 {
	background:url(../images/ab-website-fnl/carousel2-img.png) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}

.about-ab-mobile .ab-who .testimonial .slide-img .slide-photo {
	background:url(../images/ab-website-fnl/testimonial-photo.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.about-ab-mobile .ab-who .testimonial-text {
	display:table;
	width:100%;
	padding:20px;
	position:relative;
}

.about-ab-mobile .ab-who .testimonial-text .quote {
	font-size:18px;
	text-align:center;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	text-align:center;
	line-height:22px;
}

.about-ab-mobile .ab-who .testimonial-text .quote-from {
	font-size:14px;
	text-align:center;
	font-family:'Roboto', sans-serif;
	color:#0d4a70;
}
.about-ab-mobile .ab-who .testimonial-text .quote-from  span {
	font-style:italic;
}

#carousel {
	display:none;
}

.carousel-container {
	width:1200px;
	margin:0 auto;
	height:140px;
}

.carousel-container .slide {
	width:1050px;
	position:relative;
	display:table;
	margin:0 auto;
	height:100%;
}

.slide .slide-left {
	position:relative;
	float:left;
	width:405px;
	height:140px;
}

.slide-left .slide-bg {
	background:url(../images/ab-website-fnl/carousel1-img.jpg) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}

.slide-left .slide-photo {
	background:url(../images/ab-website-fnl/testimonial-photo.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.slide .slide-right {
	width:512px;
	height:140px;
	color:#fff;
	font-family:'Roboto', sans-serif;
	font-size:22px;
	font-weight:normal;
	position:relative;
	line-height:140px;
	display:table;
	float: left;
    margin-left: 40px;
}

.slide .slide-right span {
	display:table-cell;
	vertical-align:middle;
	line-height:normal;
}

.map {
	display:none;
}

.ab-logo-footer {
	display:none;
}

.ab-footer {
	display:none;
}

.ab-footer-mobile {
	display:table;
	width:100%;
}

.ab-footer-mobile .contact-title {
	color:#84bc44;
	font-weight:700;
}

.ab-footer-mobile p {
	font-weight:700;
	color:#0d4a70;	
	text-align:center;
	font-size:18px;
	margin-bottom:10px;
	font-family:'Roboto', sans-serif;
}

.ab-footer-mobile a:link, .ab-footer a:visited  {
	font-weight:bold;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	font-size:18px;
	text-decoration:none;
}

.ab-footer-mobile a:hover, .ab-footer a:active  {
	font-weight:bold;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	font-size:18px;
	text-decoration:underline;
}


.ab-footer-mobile p.copyright {
	font-size:14px;
}

.ab-logo-footer-mobile {
	display:table;
	background:url(../images/ab-website-fnl/ab-logo.png) no-repeat;
	background-size:100%;
	width:142px;
	height:50px;
	margin:0 auto 10px;
}

span.error {
	font-size:11px;
}


.ab-footer-row {
	margin-top:0;
}

#authnet_container {
	display:table;
	margin:0px auto 10px;
}

.app-prompt-overlay {
	width: 100%;
	height: 162px;
	z-index: 100000;
	display: none;
	position: relative;
	float:left;
	background: #EEE;		
}

.app-prompt {
	z-index: 100001;
	display: block;
	position: relative;
	margin-left: 50%;
	left: -150px;
	width:300px;
}

#ab-header-logo-overlay {
	display:none;
	position: relative;
	width: 170px;
	margin-left: 10px;
	float: left;
	z-index:100001;
	top:10px;
	margin-left:20px;
}

#download-app {
	display: table;
	z-index: 100001;
	color: #fff;
	cursor: pointer;
	width: 300px;
	text-align: center;
}

#continue-web, #recommend {
	margin: 10px 0;
	color: #0d4a70;
	text-align: center;
	cursor: pointer;
	font-size:16px;
	text-align:center;
	width:300px;
	line-height:24px;
	font-weight:bold;
	display:table;
}

#recommend .applogo {
	position: relative;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    overflow: hidden;
	margin:0 5px 0 0;
}

.signup {
	text-align: center;
    font-size: 11px;
    width: 300px;
    display: table;
    line-height: 16px;
    margin: 10px 0;
	color:#333;
}

.signup a {
	font-size:11px !important;
}

#recommend .applogo img {
	width:100%;
	height:100%;
}

#recommend .text {
	font-family: 'OpenSansRegular', Arial, sans-serif;
	position: relative;
    float: left;
    font-size: 14px;
    width: 240px;
    margin-left: 5px;
	color:#333;
	letter-spacing:normal;
}

#continue-web {
	font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    color: #007bae;
}

.app-prompt #fancybox-close {
	display:table;
	width: 30px;
    height: 30px;
    background: transparent url(/templates/agentbridge/plugins/fancybox/fancybox.png) -40px 0px;
    cursor: pointer; 
	margin: 10px auto; 
}

@media only screen and (max-width: 773px) {
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:317px;
	}
	
	#system-message {
		margin:0 0 0 20px;
		float:left;
		max-width:48%;
	}
	
	
	.alert, .notification_message {
		width:100%;
	}
}

@media only screen and (max-width: 768px) {
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:314px;
	}
}

@media only screen and (max-width: 736px) {
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:296px;
	}
	
	#system-message {
		max-width:49%;
	}
}

@media only screen and (max-width: 667px) {
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:266px;
	}
}

@media only screen and (max-width: 640px) {
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:253px;
	}
}


@media only screen and (max-width: 568px) {
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:217px;
	}
}


@media only screen and (max-device-width: 480px) {
	#ab-hero-mobile .amount {
		font-size:44px;
	}

	#ab-hero-mobile .description {
		font-size:16px;
	}
	
	.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg {
		width:65%;
	}
	
	.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg2 {
		width:65%;
	}
	
	.about-ab-mobile .ab-who .testimonial .slide-img {
		width:100%;
		margin:0;
	}

	.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg {
		width:65%;
		left:0;
	}
	
	.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg2 {
		width:65%;
		left:0;
	}

	.about-ab-mobile .ab-who .testimonial .slide-img .slide-photo {
		right:23%;
	}
	
	.ab-login-field:nth-of-type(1),
	.ab-login-field:nth-of-type(2) {
		width:173px;
		margin-right:12px;
	}
	
	#system-message {
		max-width: 100%;
		margin:0 0 8px 0;
	}
}

@media only screen and (max-width: 435px) {
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:150px;
	}
}

@media only screen and (max-width: 416px) {
	.about-ab-mobile .ab-who .testimonial .slide-img {
		width:90%;
	}
	
	.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg2 {
		width:90%;
	}
}


@media only screen and (max-width: 414px) {
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:140px;
	}
}


@media only screen and (max-width: 411px) {
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:138px;
	}
	
	#ab-hero-mobile .amount {
		font-size:46px;
	}
}

@media only screen and (max-width: 375px) {
	.ab-header #ab-logo-header {
		width:160px;
	}
	
	#ab-logo-header img, #ab-header-logo-overlay img {
		width:160px;
	}
	
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:120px;
	}
}


@media only screen and (max-width: 360px) {	
	.ab-header #ab-logo-header {
		width:144px;
	}
	
	#ab-logo-header img, #ab-header-logo-overlay img {
		width:144px;
	}
	
	.ab-login-field:nth-of-type(1),
	.ab-login-field:nth-of-type(2) {
		width:113px;
		margin-right:12px;
	}
}

@media only screen and (max-width: 346px) {
	#ab-hero-mobile .amount {
		font-size:42px;
	}
}

@media only screen and (max-width: 323px) {
	#ab-hero-mobile .amount {
		font-size:36px;
	}
}


@media only screen and (orientation: portrait) and (max-device-width: 320px) { 
	.ab-header {
		display: table;
		margin: 0;
		padding: 10px 20px;
		position: relative;
		width:320px;
	}
	
	.ab-header #ab-logo-header {
		width:140px;
	}
	
	#ab-hero-mobile {
		width:320px;
	}
	
	#ab-logo-header img, #ab-header-logo-overlay img {
		width:140px;
	}
	
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:100px;
		margin: 0 5px 0 0;
	}
	
	.ab-login-field:nth-of-type(3) {
		margin-right:0;
	}
	
	.about-ab-mobile {
		width:320px;
	}
	
	.about-ab-mobile .ab-who, .about-ab-mobile .ab-what, .about-ab-mobile .ab-how {
		width:320px;
	}
	
	.ab-footer-mobile {
		width:320px;
	}	
}