.ab-header {
	width:100%;
	display:table;
	margin:0 auto;
	padding:10px 20px;
	position:relative;
	height:94px;
}

.ab-header #ab-logo-header {
	margin-top:10px;
	margin-right:0;
	width:185px;
}

#ab-logo-header img {
	width:185px;
}

.ab-header #ab-founder-header {
	background: url(../images/ab-website-fnl/ab-landing-founder-header.png) no-repeat;
	background-size:100%;
	width:103px;
	height:115px;
	position:absolute;
	top:10px;
	left:20px;
	z-index:2;
}

.ab-header #login-container {
	display:none;
}

#login-container .login-form {
	padding-top:0;
	display:none;
}

.ab-login-field {
	position:relative;
	float:right;
	margin-right:5px;
}

.ab-login-field:nth-of-type(1) {
	display:table;
	float:right;
	clear:both;
	width:100%;
	margin-bottom:22px;
}

.ab-login-field:nth-of-type(2) {
	margin-right:0;
}

.ab-login-field:nth-of-type(3),
.ab-login-field:nth-of-type(4) {
	width:248px;
	margin-right:12px;
}


.ab-login-field input,
.ab-login-field select { 
	border:1px solid #0d4a70;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	padding:3px;
	width:100px;
	font-size:13px;
}


.ab-login-field input {
	width:100%;
	font-size:14px;
}

.ab-login-field select {
	padding:2px;
	float:right;
	display:block;
}

.ab-login-field .text-link {
	color: #0d4a70;
	font-family: 'Roboto', sans-serif;
}


#login-container .submit-btn {
	background: url(../images/ab-website-fnl/login-arrow.png) no-repeat #84bc44;
    background-position: 90% 50%;
	font-family: Helvetica, sans-serif;;
    font-size: 13px;
    text-decoration: none;
    border: none;
    padding: 5px 20px 5px 8px;
    color: #fff !important;
	border:0;
	border-radius:0;
	border-color:#84bc44;
	text-transform:uppercase;
	margin-right:0;
	position:relative;
	float:left;
	width:70px;
}

.ab-row {
	display:table;
	width:100%;
	margin-bottom:6px;
	position:relative;
}

#ab-hero {
	display:none;
}

#ab-hero-mobile {
	width:100%;
	background: url(../images/ab-website-fnl/ab-hero-mobile.jpg) no-repeat;
	background-size:100%;
	background-position: top center;
	display:table;
	height:541px;
	padding:30px 20px;
	box-sizing: border-box;
	color:#fff;
}



#ab-hero .hero-container {
	width:1200px;
	display:table;
	margin:0 auto;
}

#ab-hero .hero-container .hero-left {
	margin-left:70px;
	float:left;
	width:570px;
	box-sizing: border-box;
	padding-top:25px;
}

#ab-hero-mobile .slogan {
	font-size:26px;
	line-height:30px;
	color:#fff;
	font-family:'Roboto', sans-serif;
	margin:0 0 20px;
	width:100%;
	text-align:center;
}

#ab-hero-mobile  #private-listings,
#ab-hero-mobile  #verified-amount,
#ab-hero-mobile  #ave-agent-sales,
#ab-hero-mobile  #worldwide
 {
	padding:15px 0;
	width:100%;
}

#ab-hero-mobile .amount {
	font-size:60px;
	font-weight:900;
	font-family:'Roboto', sans-serif;
	text-align:center;
	margin-bottom:5px;
}

#ab-hero-mobile .description {
	font-size:18px;
	font-weight:normal;
	font-family:'Roboto', sans-serif;
	text-align:center;
}

.about-bg {
	display:none;
}

.about-ab {
	display:none;
}

.about-ab-mobile {
	display:table;
	
}


.about-ab-mobile .ab-who .title,
.about-ab-mobile .ab-what .title,
.about-ab-mobile .ab-how .title  {
	height:52px;
	display:table;
	text-align:center;
	font-family:'Roboto', sans-serif;
	color:#fff;
	width:100%;
	line-height:52px;
	font-size:18px;
	font-weight:400;
}

.about-ab-mobile .title span {
	font-weight:700;
}

.about-ab-mobile .ab-who .content,
.about-ab-mobile .ab-what .content,
.about-ab-mobile .ab-how .content  {
	padding:20px;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	background:#fff;
	width:100%;
	display:table;
	border:0;
	box-shadow:none;
	font-size:16px;
	text-align:center;
	display:table;
	margin-bottom:0;
}

.about-ab-mobile .ab-what .content {
	padding:20px 0;
}

.about-ab-mobile .ab-how .content .founder-badge {
	background:url(../images/ab-website-fnl/ab-founder-logo.png) no-repeat;
	width:104px;
	height:115px;
	position:relative;
	margin:0 auto 20px;
}

.about-ab-mobile .content p.small {
	font-size:16px;
}

.about-ab-mobile .ab-who {
	display:table;
	position:relative;
}

.about-ab-mobile .ab-who .top1 {
	font-size:60px;
	font-weight:900;
	line-height:60px;
}

.about-ab-mobile .ab-what .big-green {
	font-size:32px;
	font-weight:900;
	line-height:34px;
	color: #84bc44;
}

.ab-what-map {
	background:#d5ebf5;
	width:100%;
	height:184px;
	margin-bottom:20px;
	position:relative;
	text-align:center;
	display:table;
}

.ab-who .title {
	background:#84bc44;
}
.ab-what .title {
	background:#2f99cd;
}
.ab-how .title {
	background:#0d4a70;
}

.about-ab-mobile .ab-who .testimonial {
	display:table;
	width:100%;
	margin:0;
	padding:0;
	background:#0d4a70;
	position:relative;
	height:140px;
}

.about-ab-mobile .ab-who .testimonial .slide-img {
	display:table;
	width:400px;
	height:140px;
	margin:0 auto;
	padding:0;
	position:relative;
}

.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg {
	background:url(../images/ab-website-fnl/carousel1-img.jpg) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}

.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg2 {
	background:url(../images/ab-website-fnl/carousel2-img.png) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}

.about-ab-mobile .ab-who .testimonial .slide-img .slide-photo {
	background:url(../images/ab-website-fnl/testimonial-photo.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.about-ab-mobile .ab-who .testimonial-text {
	display:table;
	width:100%;
	padding:20px;
	position:relative;
}

.about-ab-mobile .ab-who .testimonial-text .quote {
	font-size:18px;
	text-align:center;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	text-align:center;
	line-height:22px;
}

.about-ab-mobile .ab-who .testimonial-text .quote-from {
	font-size:14px;
	text-align:center;
	font-family:'Roboto', sans-serif;
	color:#0d4a70;
}
.about-ab-mobile .ab-who .testimonial-text .quote-from  span {
	font-style:italic;
}

#carousel {
	display:none;
}

.carousel-container {
	width:1200px;
	margin:0 auto;
	height:140px;
}

.carousel-container .slide {
	width:1050px;
	position:relative;
	display:table;
	margin:0 auto;
	height:100%;
}

.slide .slide-left {
	position:relative;
	float:left;
	width:405px;
	height:140px;
}

.slide-left .slide-bg {
	background:url(../images/ab-website-fnl/carousel1-img.jpg) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}

.slide-left .slide-photo {
	background:url(../images/ab-website-fnl/testimonial-photo.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.slide .slide-right {
	width:512px;
	height:140px;
	color:#fff;
	font-family:'Roboto', sans-serif;
	font-size:22px;
	font-weight:normal;
	position:relative;
	line-height:140px;
	display:table;
	float: left;
    margin-left: 40px;
}

.slide .slide-right span {
	display:table-cell;
	vertical-align:middle;
	line-height:normal;
}

.map {
	display:none;
}

.ab-logo-footer {
	display:none;
}

.ab-footer {
	display:none;
}

.ab-footer-mobile {
	display:table;
	width:100%;
}

.ab-footer-mobile .contact-title {
	color:#84bc44;
	font-weight:700;
}

.ab-footer-mobile p {
	font-weight:700;
	color:#0d4a70;	
	text-align:center;
	font-size:18px;
	margin-bottom:10px;
	font-family:'Roboto', sans-serif;
}

.ab-footer-mobile a:link, .ab-footer a:visited  {
	font-weight:bold;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	font-size:18px;
	text-decoration:none;
}

.ab-footer-mobile a:hover, .ab-footer a:active  {
	font-weight:bold;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	font-size:18px;
	text-decoration:underline;
}


.ab-footer-mobile p.copyright {
	font-size:14px;
}

.ab-logo-footer-mobile {
	display:table;
	background:url(../images/ab-website-fnl/ab-logo.png) no-repeat;
	background-size:100%;
	width:142px;
	height:50px;
	margin:0 auto 10px;
}

.founder-bottom {
	display:none;
}



@media only screen and (max-width: 480px) {
	#ab-hero-mobile .amount {
		font-size:44px;
	}

	#ab-hero-mobile .description {
		font-size:16px;
	}
	
	.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg {
		width:65%;
	}
	
	.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg2 {
		width:65%;
	}
	
	.about-ab-mobile .ab-who .testimonial .slide-img {
		width:100%;
		margin:0;
	}

	.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg {
		width:65%;
		left:0;
	}
	
	.about-ab-mobile .ab-who .testimonial .slide-img .slide-bg2 {
		width:65%;
		left:0;
	}

	.about-ab-mobile .ab-who .testimonial .slide-img .slide-photo {
		right:23%;
	}
	
	.ab-login-field:nth-of-type(3),
	.ab-login-field:nth-of-type(4) {
		width:167px;
		margin-right:12px;
	}
}

@media only screen and (max-width: 360px) {
	.ab-header #login-container {
		padding:28px 0 0;
	}
	
	.ab-header #ab-logo-header {
		width:144px;
	}
	
	#ab-logo-header img {
		width:144px;
	}
	
	.ab-login-field:nth-of-type(1) {
		margin-bottom:18px;
	}
	
	.ab-login-field:nth-of-type(3),
	.ab-login-field:nth-of-type(4) {
		width:90px;
		margin-right:12px;
	}
}