@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,700italic,400italic,500,500italic,300italic,300,900italic,100,100italic);


.ab-header {
	width:1200px;
	display:table;
	margin:0 auto;
	position:relative;
}

.ab-header #ab-logo-header {
	margin-right:70px;
	position:relative;
	float:right;
	width:235px;
}

.ab-header #ab-founder-header {
	background: url(../images/ab-website-fnl/ab-landing-founder-header.png) no-repeat;
	width:155px;
	height:169px;
	position:absolute;
	top:10px;
	left:70px;
	z-index:2;
}

.ab-header #login-container {
	display:none;
}

.ab-login-field {
	position:relative;
	float:right;
	margin-right:10px;
}

.ab-login-field input,
.ab-login-field select { 
	border:1px solid #0d4a70;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	padding:3px;
}

.ab-login-field select {
	padding:2px;
}

.ab-login-field .text-link {
	color: #0d4a70;
	font-family: 'Roboto', sans-serif;
}


#login-container .submit-btn {
	background: url(../images/ab-website-fnl/login-arrow.png) no-repeat #84bc44;
    background-position: 90% 50%;
	font-family: Helvetica, sans-serif;;
    font-size: 13px;
    text-decoration: none;
    border: none;
    padding: 6px 20px 6px 8px;
    color: #fff !important;
	border:0;
	border-radius:0;
	border-color:#84bc44;
	text-transform:uppercase;
	margin-right:10px;
	position:relative;
	float:left;
}

.ab-row {
	display:table;
	width:100%;
	margin-bottom:6px;
	position:relative;
}

#ab-hero {
	width:100%;
	background: url(../images/ab-website-fnl/ab-hero-full.jpg) no-repeat;
	background-position: top center;
	display:table;
	height:312px;
	padding:30px 0;
	box-sizing: border-box;
	color:#fff;
}

#ab-hero-mobile {
	display:none;
}

#ab-hero .hero-container {
	width:1200px;
	display:table;
	margin:0 auto;
}

#ab-hero .hero-container .hero-left {
	margin-left:70px;
	float:left;
	width:570px;
	box-sizing: border-box;
	padding-top:80px;
}

#ab-hero .hero-container .hero-left .slogan {
	display:none;
}

#ab-hero .hero-container .hero-left .slogan-landing {
	font-size:35px;
	line-height:40px;
	color:#fff;
	margin-bottom:25px;
	font-family:'Roboto', sans-serif;
}



#ab-hero .hero-container .hero-left .how-ab-works {
	display:none;
}

#ab-hero .hero-container .hero-right {
	float:right;
	margin-right:70px;
	width:327px;
	box-sizing: border-box;
	padding-left:30px;
	border-left:2px solid #fff;
}

#ab-hero .hero-container .hero-right  #private-listings,
#ab-hero .hero-container .hero-right  #verified-amount,
#ab-hero .hero-container .hero-right  #ave-agent-sales {
	padding:15px 0;
}

#ab-hero .hero-container .hero-right  #private-listings {
	width:260px;
	border-bottom:2px solid #fff;
}
#ab-hero .hero-container .hero-right  #ave-agent-sales {
	width:260px;
	border-top:2px solid #fff;
}



#ab-hero .hero-container .hero-right .amount {
	font-size:32px;
	font-weight:900;
	font-family:'Roboto', sans-serif;
}

#ab-hero .hero-container .hero-right .description {
	font-size:16px;
	font-weight:bold;
	font-family:'Roboto', sans-serif;
}

.about-bg {
	width:100%;
	display:table;
	position:absolute;
	top:0;
	left:0;
	height:90px;
}
.about-bg .about-left {
	width:50%;
	position:relative;
	float:left;
	height:90px;
	background:#84bc44;
}
.about-bg .about-right {
	width:50%;
	position:relative;
	float:right;
	height:90px;
	background:#0d4a70;
}

.about-ab {
	width:1200px;
	position:relative;
	display:table;
	margin:0 auto;
}

.about-ab-mobile {
	display:none;
}

.about-ab .ab-who, .about-ab  .ab-what, .about-ab  .ab-how {
	position:relative;
	float:left;
	width:400px;
}

.ab-who .title,
.ab-what .title,
.ab-how .title  {
	height:90px;
	display:table;
	text-align:center;
	font-family:'Roboto', sans-serif;
	color:#fff;
	width:100%;
	line-height:90px;
	font-size:28px;
	font-weight:300;
}

.ab-who .content,
.ab-what .content,
.ab-how .content  {
	padding:20px 55px;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	background:#fff;
	width:100%;
	display:table;
	border:0;
	box-shadow:none;
	font-size:16px;
}

.about-ab .content p {
	font-weight:bold;
	font-size:22px;
	margin-bottom:10px;
}

.about-ab .content ul {
	list-style:disc;
	margin-left:20px;
}

.about-ab .content ul li {
	margin-bottom:10px;
}

.ab-who .title {
	background:#84bc44;
}
.ab-what .title {
	background:#2f99cd;
}
.ab-how .title {
	background:#0d4a70;
}

.ab-who .testimonial {
	display:none;
}

#carousel {
	background:#0d4a70;
	color:#fff;
	height:140px;
	width:100%;
	position:relative;
	display:table;
	margin:0;
}

.carousel-container {
	width:1200px;
	margin:0 auto;
	height:140px;
}

.carousel-container .slide {
	width:1050px;
	position:relative;
	display:table;
	margin:0 auto;
	height:100%;
}

.slide .slide-left {
	position:relative;
	float:left;
	width:405px;
	height:140px;
}

.slide-left .slide-bg {
	background:url(../images/ab-website-fnl/carousel1-img.jpg) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}

.slide-left .slide-bg2 {
	background:url(../images/ab-website-fnl/carousel2-img.png) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}


.slide-left .slide-photo {
	background:url(../images/ab-website-fnl/testimonial-photo.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.slide-left .slide-photo1 {
	background:url(../images/ab-website-fnl/avatar1.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.slide-left .slide-photo3 {
	background:url(../images/ab-website-fnl/avatar3.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.slide .slide-right {
	width:512px;
	height:140px;
	color:#fff;
	font-family:'Roboto', sans-serif;
	font-size:22px;
	font-weight:normal;
	position:relative;
	line-height:140px;
	display:table;
	float: left;
    margin-left: 40px;
}

.slide .slide-right span {
	display:table-cell;
	vertical-align:middle;
	line-height:normal;
}

.map {
	background:#84bc44;
	margin-bottom:0;
}

#map {
	width:1200px;
	display:table;
	background:#84bc44;
	margin:0 auto;
	height:778px;
	position:relative;
}

.founder-bottom {
	background:url(../images/ab-website-fnl/ab-landing-founder-bottom.png) no-repeat;
	width:155px;
	height:103px;
	display:table;
	margin:0 auto;
	position:relative;
}

.ab-logo-footer {
	display:table;
	background:url(../images/ab-website-fnl/ab-logo.png) no-repeat;
	width:235px;
	height:89px;
	margin:0 auto;
}

.ab-footer {
	display:table;
	color:#0d4a70;
	width:100%;
	margin:20px 0 50px;
	font-size:22px;
	font-family:'Roboto', sans-serif;
	text-align:center;
}

.ab-footer a:link, .ab-footer a:visited  {
	font-weight:bold;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	font-size:22px;
	text-decoration:none;
}

.ab-footer a:hover, .ab-footer a:active  {
	font-weight:bold;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	font-size:22px;
	text-decoration:underline;
}

.ab-footer span {
	font-weight:700;
}

.ab-footer-mobile {
	display:none;
}

map area {
	cursor:pointer;
}

#map span {
	display:none;
	position:absolute;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	z-index:1000;
}
.ab-what-map {
	display:none;
}

.map-title {
	position:absolute;
	width:100%;
	top:30px;
	left:0;
	text-align:center;
	z-index:10;
	color: #0d4a70;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;

}

.map-title span {
	position: relative !important;
    display: inline !important;
    font-style: italic;
    font-weight: 700;
}

.rollover-tip {
    position: absolute;
    bottom: 65px;
    left: 20px;
    font-size: 22px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    width: 165px;
    height: 195px;
    box-sizing: border-box;
    padding: 20px 15px;
    border-top: 2px solid #0d4a70;
    border-bottom: 2px solid #0d4a70;
    color: #0d4a70;
}

.ab-footer-row {
	margin-top:44px;
}

@media only screen and (max-width: 1152px) {
	.ab-header {
		width:100%;
	}
	
	.ab-header #ab-logo-header {
		margin-right:40px;
	}
	
	.ab-header #ab-founder-header {
		left:40px;
	}
	
	#ab-hero .hero-container {
		width:100%;
	}
	
	
	#ab-hero .hero-container .hero-left {
		margin-left:40px;
	}
	
	#ab-hero .hero-container .hero-right {
		margin-right:40px;
	}
	
	.about-ab {
		width:100%;
	}
	
	.about-ab .ab-who, .about-ab .ab-what, .about-ab .ab-how {
		width:33%;
	}
	
	.ab-who .content, .ab-what .content, .ab-how .content {
		padding:20px 40px;
	}
	
	.carousel-container {
		width:100%;
	}
	
	.slide .slide-left {
		width:390px;
		margin-left:70px;
	}
	
	#map {
		width:100%;
		background:#84bc44;
	}
	
	#map img {
		width:100%;
		height:auto;
	}
	
	.carousel-container .slide {
		width:100%;
	}
	
	.slide .slide-right {
		width:45%;
	}
}

@media only screen and (max-width: 800px) {
	.ab-header #ab-founder-header {
		width:120px;
		height:131px;
		background-size:100%;
		left:20px;
	}
	
	.ab-header #ab-logo-header {
		width:180px;
		margin-right:20px;
		margin-top:8px;
	}
	
	#ab-logo-header img {
		width:180px;
	}
	
	
	#ab-hero .hero-container .hero-left {
		margin-left:20px;
		width:390px;
		padding-top:50px
	}
	
	#ab-hero .hero-container .hero-right {
		margin-right:20px;
	}
	
	#ab-hero .hero-container .hero-left .slogan-landing {
		font-size:28px;
		line-height:32px;
	}
	
	#ab-hero .hero-container .hero-right .amount {
		font-size: 28px;
	}
	
	#ab-hero .hero-container .hero-right .description {
		font-size: 14px;
	}

	.ab-who .title, .ab-what .title, .ab-how .title {
		font-size:24px;
	}
	
	.ab-who .content, .ab-what .content, .ab-how .content {
		padding:20px 25px;
		font-size:14px;
	}
	
	.about-ab .content p {
		font-size:18px;
	}
	
	.slide .slide-left {
		width: 290px;
	}
	
	.slide-left .slide-bg {
		width:240px;
	}
	
	.slide .slide-right {
		width: 38%;
	}
	
	.slide .slide-right {
		font-size:18px;
	}
	
	#map {
		height:510px;
	}
	
	
	.map-title {
		top:10px;
		font-size:20px;
	}
	
	.rollover-tip {
		font-size:18px;
		height:155px;
		bottom:20px;
	}
	
	.content {
		margin-bottom:20px;
	}
}