@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,700italic,400italic,500,500italic,300italic,300,900italic,100,100italic);


.ab-header {
	width:1200px;
	display:table;
	margin:0 auto;
}

.ab-header #ab-founder-header {
	display:none;
}

.ab-header #ab-logo-header {
	margin-left:70px;
	position:relative;
	float:left;
	width:235px;
}

.ab-header #login-container {
	margin-right:25px;
	padding:15px 0;
	position:relative;
	float:right;
}

.ab-login-field {
	position:relative;
	float:left;
	margin-right:10px;
}

.ab-login-field:nth-of-type(1),
.ab-login-field:nth-of-type(2) {
	width:197px;
	margin-right:10px;
}

.ab-login-field input,
.ab-login-field select { 
	border:1px solid #0d4a70;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	padding:3px;
}

.ab-login-field input {
	width:100%;
}

.ab-login-field select {
	padding:2px;
}

.ab-login-field .text-link {
	color: #0d4a70;
	font-family: 'Roboto', sans-serif;
}


#login-container .submit-btn {
	background: url(../images/ab-website-fnl/login-arrow.png) no-repeat #84bc44;
    background-position: 58px 7px;
	font-family: Helvetica, sans-serif;
    font-size: 13px;
	line-height:13px;
    text-decoration: none;
    border: none;
    padding: 7px 20px 7px 8px;
    color: #fff !important;
	border:0;
	border-radius:0;
	border-color:#84bc44;
	text-transform:uppercase;
	margin-right:10px;
	position:relative;
	float:left;
}

.ab-row {
	display:table;
	width:100%;
	margin-bottom:6px;
	position:relative;
}

#ab-hero {
	width:100%;
	background: url(../images/ab-website-fnl/ab-hero-full.jpg) no-repeat;
	background-position: top center;
	display:table;
	height:312px;
	padding:30px 0;
	box-sizing: border-box;
	color:#fff;
}

#ab-hero-mobile {
	display:none;
}

#ab-hero .hero-container {
	width:1200px;
	display:table;
	margin:0 auto;
}

#ab-hero .hero-container .hero-left {
	margin-left:70px;
	float:left;
	width:570px;
	box-sizing: border-box;
	padding-top:25px;
}

#ab-hero .hero-container .hero-left .slogan {
	font-size:35px;
	line-height:40px;
	color:#fff;
	margin-bottom:25px;
	font-family:'Roboto', sans-serif;	
}

#ab-hero .hero-container .hero-left .slogan-landing {
	display:none;
}

#ab-hero .hero-container .hero-left .how-ab-works a:link, #ab-hero .hero-container .hero-left .how-ab-works a:visited{
	font-size:18px;
	font-weight:bold;
	font-family:'Roboto', sans-serif;
	color:#0d4a70;
	font-weight:700;
	text-decoration:none;
}

#ab-hero .hero-container .hero-left .how-ab-works a:hover, #ab-hero .hero-container .hero-left .how-ab-works a:active{
	font-size:18px;
	font-weight:bold;
	font-family:'Roboto', sans-serif;
	color:#0d4a70;
	text-decoration:underline;
}

#ab-hero .hero-container .hero-right {
	float:right;
	margin-right:70px;
	width:327px;
	box-sizing: border-box;
	padding-left:30px;
	border-left:2px solid #fff;
}

#ab-hero .hero-container .hero-right  #private-listings,
#ab-hero .hero-container .hero-right  #verified-amount,
#ab-hero .hero-container .hero-right  #ave-agent-sales {
	padding:15px 0;
}

#ab-hero .hero-container .hero-right  #private-listings {
	width:260px;
	border-bottom:2px solid #fff;
}
#ab-hero .hero-container .hero-right  #ave-agent-sales {
	width:260px;
	border-top:2px solid #fff;
}



#ab-hero .hero-container .hero-right .amount {
	font-size:32px;
	font-weight:900;
	font-family:'Roboto', sans-serif;
}

#ab-hero .hero-container .hero-right .description {
	font-size:16px;
	font-weight:bold;
	font-family:'Roboto', sans-serif;
}

.about-bg {
	width:100%;
	display:table;
	position:absolute;
	top:0;
	left:0;
	height:90px;
}
.about-bg .about-left {
	width:50%;
	position:relative;
	float:left;
	height:90px;
	background:#84bc44;
}
.about-bg .about-right {
	width:50%;
	position:relative;
	float:right;
	height:90px;
	background:#0d4a70;
}

.about-ab {
	width:1200px;
	position:relative;
	display:table;
	margin:0 auto;
}

.about-ab-mobile {
	display:none;
}

.about-ab .ab-who, .about-ab  .ab-what, .about-ab  .ab-how {
	position:relative;
	float:left;
	width:400px;
}

.ab-who .title,
.ab-what .title,
.ab-how .title  {
	height:90px;
	display:table;
	text-align:center;
	font-family:'Roboto', sans-serif;
	color:#fff;
	width:100%;
	line-height:90px;
	font-size:28px;
	font-weight:300;
}

.ab-who .content,
.ab-what .content,
.ab-how .content  {
	padding:20px 55px;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	background:#fff;
	width:100%;
	display:table;
	border:0;
	box-shadow:none;
	font-size:16px;
}

.about-ab .content p {
	font-weight:bold;
	font-size:22px;
	margin-bottom:10px;
}

.about-ab .content ul {
	list-style:disc;
	margin-left:20px;
}

.about-ab .content ul li {
	margin-bottom:10px;
}

.ab-who .title {
	background:#84bc44;
}
.ab-what .title {
	background:#2f99cd;
}
.ab-how .title {
	background:#0d4a70;
}

.ab-who .testimonial {
	display:none;
}

#carousel {
	background:#0d4a70;
	color:#fff;
	height:140px;
	width:100%;
	position:relative;
	display:table;
	margin:0;
}

.carousel-container {
	width:1200px;
	margin:0 auto;
	height:140px;
}

.carousel-container .slide {
	width:1050px;
	position:relative;
	display:table;
	margin:0 auto;
	height:100%;
}

.slide .slide-left {
	position:relative;
	float:left;
	width:405px;
	height:140px;
}

.slide-left .slide-bg {
	background:url(../images/ab-website-fnl/carousel1-img.jpg) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}

.slide-left .slide-bg2 {
	background:url(../images/ab-website-fnl/carousel2-img.png) no-repeat;
	width:340px;
	height:140px;
	position:absolute;
	top:0;
	left:0;
}

.slide-left .slide-photo {
	background:url(../images/ab-website-fnl/testimonial-photo.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.slide-left .slide-photo1 {
	background:url(../images/ab-website-fnl/avatar1.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.slide-left .slide-photo3 {
	background:url(../images/ab-website-fnl/avatar3.png) no-repeat;
	width:99px;
	height:99px;
	position:absolute;
	top:20px;
	right:0;
}

.slide .slide-right {
	width:512px;
	height:140px;
	color:#fff;
	font-family:'Roboto', sans-serif;
	font-size:22px;
	font-weight:normal;
	position:relative;
	line-height:140px;
	display:table;
	float: left;
    margin-left: 40px;
}

.slide .slide-right span {
	display:table-cell;
	vertical-align:middle;
	line-height:normal;
}

.map {
	background:#84bc44;
}

#map {
	width:1200px;
	display:table;
	background:#84bc44;
	margin:0 auto;
	height:778px;
	position:relative;
}

.ab-logo-footer {
	display:table;
	background:url(../images/ab-website-fnl/ab-logo.png) no-repeat;
	width:235px;
	height:89px;
	margin:0 auto;
}

.ab-footer {
	display:table;
	color:#0d4a70;
	width:100%;
	margin:20px 0 50px;
	font-size:22px;
	font-family:'Roboto', sans-serif;
	text-align:center;
}

.ab-footer p {
	font-weight: 700;
    color: #0d4a70;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

.ab-footer a:link, .ab-footer a:visited  {
	font-weight:bold;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	font-size:22px;
	text-decoration:none;
}

.ab-footer a:hover, .ab-footer a:active  {
	font-weight:bold;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	font-size:22px;
	text-decoration:underline;
}

.ab-footer span {
	font-weight:700;
}

.ab-footer-mobile {
	display:none;
}

map area {
	cursor:pointer;
}

#map span {
	display:none;
	position:absolute;
	color:#0d4a70;
	font-family:'Roboto', sans-serif;
	z-index:1000;
}

.founder-bottom {
	display:none;
}

.ab-what-map {
	display:none;
}

.map-title {
	position:absolute;
	width:100%;
	top:30px;
	left:0;
	text-align:center;
	z-index:10;
	color: #0d4a70;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;

}

.map-title span {
	position: relative !important;
    display: inline !important;
    font-style: italic;
    font-weight: 700;
}

.rollover-tip {
    position: absolute;
    bottom: 65px;
    left: 20px;
    font-size: 22px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    width: 165px;
    height: 195px;
    box-sizing: border-box;
    padding: 20px 15px;
    border-top: 2px solid #0d4a70;
    border-bottom: 2px solid #0d4a70;
    color: #0d4a70;
	line-height:25px;
}

.ab-footer-row {
	margin-top:44px;
}

span.error {
	background:#fff;
	background-image:none;
	color:#f00;
	font-size:11px;
	padding-top:0;
	margin-top:5px;
	float: left;
    min-height: 14px;
	width:100%;
	text-align:left;
}

.glow-required {
    box-shadow: 0px 0px 10px #2c99ce;
}

#system-message {
	position:relative;
	float:left;
	max-width: 31%;
}

.alert, .notification_message {
    padding: 5px 20px 5px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background: #effaff;
    border: 1px solid #dadada;
    color: #333333;
    font: 12px 'OpenSansRegular';
    position: relative;
	border-radius:0;
	margin:5px auto;
	top:initial;
	right:initial;
	width:90%;
}

.ab-login-field:nth-of-type(3) {
	width:70px;
}

#authnet_container {
	display:table;
	margin:5px auto;
}


@media only screen and (max-width: 1216px) {
	.carousel-container {
		width:100%;
	}
}


@media only screen and (min-width: 1951px) {
	.about-bg {
		width:1950px;
		margin-left:50%;
		left:-975px;
	}
	
	#carousel {
		width:1950px;
		margin-left:50%;
		left:-975px;
	}
	
	.map {
		width:1950px;
		margin-left:50%;
		left:-975px;
	}
}

@media only screen and (max-width: 1152px) {	
	.ab-header {
		width:100%;
	}
	
	.ab-header #ab-logo-header {
		margin-left:40px;
	}
	
	#system-message {
		max-width: 31%;
	}
	
	#ab-hero .hero-container {
		width:100%;
	}
	
	
	#ab-hero .hero-container .hero-left {
		margin-left:40px;
	}
	
	#ab-hero .hero-container .hero-right {
		margin-right:40px;
	}
	
	.about-ab {
		width:100%;
	}
	
	.about-ab .ab-who, .about-ab .ab-what, .about-ab .ab-how {
		width:33%;
	}
	
	.ab-who .content, .ab-what .content, .ab-how .content {
		padding:20px 40px;
	}
	
	.carousel-container {
		width:100%;
	}
	
	.slide .slide-left {
		width:390px;
		margin-left:70px;
	}
	
	#map {
		width:100%;
		background:#84bc44;
	}
	
	#map img {
		width:100%;
		height:auto;
	}
	
	.carousel-container .slide {
		width:100%;
	}
	
	.slide .slide-right {
		width:45%;
	}
	
	.ab-login-field:nth-of-type(1),
	.ab-login-field:nth-of-type(2) {
		width:197px;
	}
}

@media only screen and (max-width: 1024px) {
	.ab-header #ab-logo-header {
		margin-left:40px;
	}
	
	.ab-login-field:nth-of-type(1), .ab-login-field:nth-of-type(2) {
		width:178px;
	}
	
	
	#system-message {
		max-width: 26%;
	}
}

@media only screen and (max-width: 993px) {
	#ab-hero .hero-container .hero-left {
		width: 530px;
	}
	
	#ab-hero .hero-container .hero-left .slogan {
		font-size: 32px;
	}
}

@media only screen and (max-width: 953px) {
	#ab-hero .hero-container .hero-left {
		width: 500px;
	}
	
	#ab-hero .hero-container .hero-left .slogan {
		font-size: 30px;
	}
}

@media only screen and (max-width: 923px) {
	#ab-hero .hero-container .hero-left {
		width: 470px;
	}
	
	#ab-hero .hero-container .hero-left .slogan {
		font-size: 28px;
	}
}

@media only screen and (max-width: 893px) {
	#ab-hero .hero-container .hero-left {
		width: 440px;
	}
	
	#ab-hero .hero-container .hero-left .slogan {
		font-size: 26px;
	}
}

@media only screen and (max-width: 863px) {
	#ab-hero .hero-container .hero-left {
		width: 410px;
	}
	
	#ab-hero .hero-container .hero-left .slogan {
		font-size: 22px;
	}
}

@media only screen and (max-width: 833px) {
	#ab-hero .hero-container .hero-left {
		width: 380px;
	}
	
	#ab-hero .hero-container .hero-left .slogan {
		font-size: 20px;
	}
}

@media only screen and (max-width: 803px) {	
	.ab-header #ab-logo-header {
		width:180px;
		margin-left:20px;
	}
	
	#ab-logo-header img {
		width:180px;
	}
	
	#system-message {
		max-width: 24%; 
	}
	
	.alert, .notification_message {
		padding: 5px 20px 5px 10px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background: #effaff;
		border: 1px solid #dadada;
		color: #333333;
		font: 12px 'OpenSansRegular';
		position: relative;
		border-radius:0;
		margin:5px auto;
		top:auto;
		right:auto;
		width:90%;
	}
	
	.ab-login-field:nth-of-type(1),
	.ab-login-field:nth-of-type(2) {
		width:133px;
	}
	
	.ab-login-field input {
		width:100%;
	}
	
	#ab-hero .hero-container .hero-left {
		margin-left:20px;
		width:390px;
	}
	
	#ab-hero .hero-container .hero-right {
		margin-right:20px;
	}
	
	#ab-hero .hero-container .hero-left .how-ab-works a:link, #ab-hero .hero-container .hero-left .how-ab-works a:visited{
		font-size:14px;
	}

	#ab-hero .hero-container .hero-left .how-ab-works a:hover, #ab-hero .hero-container .hero-left .how-ab-works a:active{
		font-size:14px;
	}
	
	#ab-hero .hero-container .hero-left .slogan {
		font-size:28px;
		line-height:32px;
	}
	
	#ab-hero .hero-container .hero-right .amount {
		font-size: 28px;
	}
	
	#ab-hero .hero-container .hero-right .description {
		font-size: 14px;
	}

	.ab-who .title, .ab-what .title, .ab-how .title {
		font-size:24px;
	}
	
	.ab-who .content, .ab-what .content, .ab-how .content {
		padding:20px 25px;
		font-size:14px;
	}
	
	.about-ab .content p {
		font-size:18px;
	}
	
	.slide .slide-left {
		width: 290px;
	}
	
	.slide-left .slide-bg {
		width:240px;
	}
	
	.slide .slide-right {
		width: 38%;
	}
	
	.slide .slide-right {
		font-size:18px;
	}
	
	#map {
		height:510px;
	}
	
	
	.map-title {
		top:10px;
		font-size:20px;
	}
	
	.rollover-tip {
		font-size:16px;
		width:131px;
		height:139px;
		padding:11px 9px;
		bottom:20px;
		line-height:19px;
	}
	
	.content {
		margin-bottom:20px;
	}
	
	.ab-footer {
		line-height:32px;
	}
	
	.ab-footer .spacer {
		display:none;
	}
	
	.ab-footer .contact-details {
		display:table;
		width:100%;
		text-align:center;
	}
}


