/*  GENERAL STYLE DEFINITIONS
    Defines the general sok and feel of the site
-------------------------------------------------------------------------------*/
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family            : 'OpenSansRegular', Arial, sans-serif;
    -webkit-font-smoothing  : antialiased;
    font-smoothing          : antialiased;
    font-size               : 16px;
    font-weight             : normal;
}

#background {
	position:fixed;
	top:-50%;
	left:-50%;
	width:200%;
	height:200%;
	z-index:-1000;
}

#background img {
	position:absolute;
	margin:auto;
	min-width:50%;
	min-height:50%;
	top:0;
	left:0;
	right:0;
	bottom:0;
}



.texture-overlay {
	background: url(../images/texture-overlay.png) repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	z-index: -998;
}

.outer-wrapper {

	height:100%;
	
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.wrapper-home {
	width: 1024px;
	margin: 0 auto;
}


.row {
    width: 100%;
}

    .row h1 {
        font-size     : 30px;
        text-align    : center;
        margin-bottom : 50px;
        color         : #2c99ce;
    }

/*Columns*/

.columns {
    overflow: hidden;
}

.column-m3 {
        width      : 341.333px;
        float      : left;
        text-align : center;
        padding    : 0px 10px;
    }

.column-m3 p {
            line-height: 1.4em;
    }

.column-m3 p strong {
            display: block;
     }

.column-m3 h2 {
            font-size     : 30px;
            margin-bottom : 25px;
    }

.column-m3 h2 em {
            color: #89c03e;
    }

.agent-bridge-avatar {
            width         : 140px;
            height        : 140px;
            border-radius : 100px;
            overflow      : hidden;
            display       : block;
            margin        : 0 auto 15px;
     }

.column-sm4 {
        float : left;
        width : 256px;
   }



/*  STRUCTURE
    Defines the general form of the site.
-------------------------------------------------------------------------------*/

/* Fix the box model first */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

h1 {
	font-family    : 'GothamHTFMedium';
	font-size: 20px;
}

h2 {
	font-family    : 'GothamHTFMedium';
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

h3 {
	font-size: 16px;
	color: #003366;
}

p {
	margin-bottom: 5px;
}

strong {
	font-weight: bold;
}

.centered {
	margin: 0px auto;
}

section {
	width: 100%;
}

/* Layout modes */
.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	overflow: hidden;
}

.clear-float {
	clear: both;
}

.padded {
	padding: 20px 10px;
}

.full-radius {
	background: #fff;
	border-radius: 2px;
}

.home-form {
	width: 305px;
	position: absolute;
	right: 105px;
}

.home-form>.box1 {
	margin-bottom: 13px;
}

.box1 {
	width: 305px;
	padding: 10px 15px;
	border: 1px solid #d8d7d2;
}

.box1 div {
	margin-bottom: 8px;
}

.box1 h2 {
	margin-bottom: 10px;
}

/*  CURVE BORDERS
-------------------------------------------------------------------------------*/
/* Full curved border */
.curved {
	border-radius: 10px;
	overflow: hidden;
}

.main .main-content {
	background: url(../images/main-content-wide-bg.jpg) center repeat-y #fff;
	padding-bottom: 100px;
	
}

.main .main-content.wrapper {
	overflow: auto;
	
}

.main .main-content h1 {
	font-family: 'OpenSansLight', Arial, sans-serif;
	font-size: 28px;
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 10px;
	color: #0e4a70;
}

/* -------------- Footer Styling -------------- */
.footer {
	font-size: 12px;
	color: #808080;
	padding: 117px 20px 0px 120px;
	position: fixed;
	bottom: 0;
	left: 0;
}

.footer p {
	font-family: 'OpenSansRegular', Arial, sans-serif;
	font-size: 10px;
	color: #333333;
}

.footer-nav {
	margin-bottom: 5px;
}

.footer-nav li {
	 border-right: 1px solid #333333;
    display: inline;
    margin-right: 5px;
    padding-right: 5px;
}

.footer-nav li:last-child {
	margin-right: 0px;
	border-right: none;
}

.footer-nav li a {
	font-family: 'OpenSansRegular', Arial, sans-serif;
	text-decoration: none;
	color: #007bae;
	font-weight: normal;
}

.footer-nav li a:hover {
	text-decoration: underline;
}

/* -------------- Footer Main -------------- */
.main .footer {
	min-width: 960px;
	background: #1b1b1b;
	height: 40px;
	margin-top: -40px;
	font-size: 12px;
	color: #808080;
	padding: 0;
	clear: both;
}

.main .footer p {
	font-size: 11px;
	margin: 15px 0px 0px 20px;
	color: #c2c2c2;
}

.main .footer p a{
	color: #c2c2c2;
}

.main .footer p  a:hover{
	text-decoration: underline;
}

.main .footer-nav {
	background: #303030;
	padding: 14px 12px;
	margin-bottom: 0px;
}

.main .footer-nav li {
	border-right: 1px solid #6f6f6f;
}

.main .footer-nav li a {
	color: #fff;
}

.main .footer-nav li:last-child {
	border-right: none;
}

.main.searchbody .main-content {
	background: white;
}

.search-wrap {
	padding: 25px 0px;
	width: 960px !important;
	margin-bottom:30px;

}

#add_more_cell, #add_more_phone, #add_more_fax, #add_more_site, #add_more_social{
	width: 320px;
}

#add_more_cell div, #add_more_phone div, #add_more_fax div,  #add_more_site div, #add_more_social div{
	margin-bottom:5px;
}

.mclient_info            { font:14px 'OpenSansRegular'; color:#222222; overflow:hidden; clear:both; margin-bottom:20px; border:1px solid #bfbfbf;   }
.mclient_info ul       	 { list-style:none;}
.mclient_info h2       	 { font:14px 'OpenSansSemibold'; color:#21A8D9; }
.mclient_info h4,
.mclient_info p				{ font:10px 'OpenSansRegular'; color:#666666; }
.mclient_info li        	{ float:left; padding:5px 10px 5px; }                
.mclient_fill           	{ clear:both; overflow:hidden;  }
.mclient_fillbox        	{ padding:10px; float:left; }
.mclient_fillbox a       	{ font:11px 'OpenSansRegular'; color:#007bae; text-decoration:none;}
.mclient_fillbox input, 
.mclient_fillbox select        { width:327px; margin-top:10px; margin-bottom:10px; color:#666666; font:12px 'OpenSansRegular'; padding:5px; }
.mclient_fillbox input .mc_select        { padding-left:10px;}       
.mclient_fillbox .mc_select    { width:180px; margin-top: 10px;}
.mclient_fillbox .mc_input     { width:140px; margin-left:8px;  padding:5px;}
.pp_top							{ margin-top:10px;}