.works-avatar {
	width: 78px;
	height: 78px;
	border-radius: 50px;
	margin: 0 auto 15px;
	border: 3px solid #fff;
	overflow: hidden;
}

	.quotes {
		background  : url(../images/quotes.png) no-repeat;
		width       : 41px;
		height      : 29px;
		display     : inline-block;
	}

	blockquote {
		width: 856px;
		float: left;
		line-height: 1.4em;
	}

		.quote-left {
			background-position: top left;
			float: left
		}

		.quote-right {
			background-position: top right;
			float: left;
		}


.demo-wrap ul {
width: 545px;  height: 195px; overflow: hidden;
}

.demo-wrap li {
list-style: none; margin: 0; height: 213px;
text-align: center;
}
.demo-wrap .left {
width: 205px; float: left;
}

.works-content {
	text-align: center;
}

.demo-wrap .right .album {
margin-top: 60px; font-size: 18px;
}

.demo-wrap .right .band {
font-size: 14px; color: #838383;
}

.multiple li {
width: 190px;
}

.DG-prev {
position: absolute; top: 45%; left: -40px; width: 31px; height: 31px; text-indent: -999999px; background: url(icon_arrow_left.png) no-repeat 0 -31px;
}

.DG-next {
position: absolute; top: 45%; right: -40px; width: 31px; height: 31px; text-indent: -999999px; background: url(icon_arrow_right.png) no-repeat 0 -31px;
}

.DG-next:hover,
.DG-prev:hover {
background-position: 0 0;
}
/*start / stop*/
.DG-auto {
text-align: center;
}

.DG-start {
color: #f1eee7; font-size: 14px; background: #838383; padding: 4px 7px;	border-radius: 3px; text-transform: capitalize;
}

.DG-start:hover {
background: #525044; text-decoration: none;
}

/*pager*/
.DG-pager {
text-align: center;
padding-top: 10px;
}

.DG-pager a {
	background: url(../images/slider-pointer.png) no-repeat top right;
	width: 13px;
	margin: 0px 2px;
	height: 13px;
	display: block;
	text-indent: -999999px;
	display: inline-block;
}

.DG-pager .pager-active,
.DG-pager a:hover {
	background: url(../images/slider-pointer.png) no-repeat top left;
}
