@font-face {
    font-family: 'GothamHTFXLight';
    src: url('fonts/gothamhtf-xlight.eot');
    src: url('fonts/gothamhtf-xlight.eot') format('embedded-opentype'),
         url('fonts/gothamhtf-xlight.woff') format('woff'),
         url('fonts/gothamhtf-xlight.ttf') format('truetype'),
         url('fonts/gothamhtf-xlight.svg#GothamHTFXLight') format('svg');
}


@font-face {
    font-family: 'GothamHTFMedium';
    src: url('fonts/gothamhtf-medium.eot');
    src: url('fonts/gothamhtf-medium.eot') format('embedded-opentype'),
         url('fonts/gothamhtf-medium.woff') format('woff'),
         url('fonts/gothamhtf-medium.ttf') format('truetype'),
         url('fonts/gothamhtf-medium.svg#GothamHTFMedium') format('svg');
}

@font-face {
    font-family: 'Conv_GothamHTF-Book 3';
    src: url('fonts/GothamHTF-Book 3.eot');
    src: url('fonts/GothamHTF-Book 3.woff') format('woff'), 
         url('fonts/GothamHTF-Book 3.ttf') format('truetype'), 
         url('fonts/GothamHTF-Book 3.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamHTFBold';
    src: url('fonts/gothamhtf-bold.eot');
    src: url('fonts/gothamhtf-bold.eot') format('embedded-opentype'),
         url('fonts/gothamhtf-bold.woff') format('woff'),
         url('fonts/gothamhtf-bold.ttf') format('truetype'),
         url('fonts/gothamhtf-bold.svg#GothamHTFBold') format('svg');
}


@font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/proximanova-light.eot');
    src: url('fonts/proximanova-light.eot') format('embedded-opentype'),
         url('fonts/proximanova-light.woff') format('woff'),
         url('fonts/proximanova-light.ttf') format('truetype'),
         url('fonts/proximanova-light.svg#ProximaNovaLight') format('svg');
}



