@font-face {
    font-family: 'OpenSansRegular';
    src: url('../css/fonts/OpenSans-Regular-webfont.eot');
    src: url('../css/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../css/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../css/fonts/OpenSans-Light-webfont.eot');
    src: url('../css/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../css/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../css/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../css/fonts/OpenSans-Semibold-webfont.eot');
    src: url('../css/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../css/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../css/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../css/fonts/OpenSans-Italic-webfont.eot');
    src: url('../css/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../css/fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../css/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'OpenSansBold';
    src: url('../css/fonts/OpenSans-Bold-webfont.eot');
    src: url('../css/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../css/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../css/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



