@media screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 1350px) {
	.wide-container {
		padding-bottom: 150px;
	}
	
}

@media screen and (min-width: 1350px) {
	.wide-container {
		padding-bottom: 150px;
	}
}

@media screen and (max-width: 512px) {
#background img {
width:100%;
height:auto;
}