@media screen and (min-width:341px) and (max-width: 600px) {
	.wide-container {
		padding-bottom: 150px;

	}
	
	.wide {width:100%}
	
	.activity {padding:10px}
	
	.wrapper {
		width:auto;
	}
	
	.row .agent-bridge-works-2 {
		display:block;
	}
	
	.agent-bridge-works {
		display:none;
	}
	
	.join-btn:link {
		font-size:24px;
	}
	
	.header2 li {
		margin-left:10px;
	}
	
	.main .footer  {
		min-width:none;
	}
	
	.footer-row .wrapper {
		width:auto;
	}
	
	.header2 ul {
		float:left;
		width:100%;
	}
	
	.top-right {
		float:left;
	}
	
	.right-nav {
		background:none;
		border-right:none;
	}
	
	.short-btn-browse {
		float:left;
	}
	.hpform {
		width:100%;
	}
	.hpform1 {
		margin:0px auto;
		padding-bottom:10px;
		float:none;
		width:100%;
	
	}
	
	.column-m3 {
		float:none;
		margin:0px auto;
	}
	
	.hpform2 {
		margin:0px auto;
		float:none;
		width:100%;
	
	}
	
	.hpform3 {
		margin-left:10px;
	}
	
	.login-form {
		float:none;
		margin:0px auto;
	}
	
	.apply-btn-form {
	clear:both;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	width:200px;

	}
	
	.acct_setup_holder input,.acct_setup_holder select {
		width:100%;
	}
	
	.ticker-row .wrapper {
		padding:0px;
	}
	
	.ticker-container {
		width:auto;
		text-align:center;
	}
	
	.ticker-container span {
		float:none;
		margin-top:5px;
	}
	
	.ticker {
		font-size:45px;
	}
	
	.agent-bridge-works .wrapper {
		width:auto;
	}
	
	.glow {
		width:auto;
	}
	
	.works-bg {
		display:none;
	}
	
	
	.ave-head {
		font-size:24px;
	}
	
	.wrapper-home {
		width:auto;
	}
	
	.view-video {
		display:none;
	}
	
	.get-start-row .wrapper  {
		width:auto;
	}
	
	.arrow-process {
		display:none;
		width:auto;
	}
	
	.banner-row h2 {
		font-size:45px;
	}

	.pw-container-right {
		float:none;
		width:100%;
	}

	.pw-container-left {
		display:none;
	}
	
	.text-input-pw {
		width:250px;
	}
	
	.wide-container,.short-container {
		width:90%;
	}
	
	.cyp_col2 {
		float:none;
	}
	
	.wide-container-profile,.short-container {
		width:90%;
	}
	
	.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-draggable .ui-resizable {
		width:100%;
	
	}
	
	.user-thumb {float:left}
	
	.membership_plan_info {
		width:100%;
		font-size:13px;
		line-height:18px;
	}
	.membership_plan_table {
		width:auto;
	}
	
	.membership_plan_benefits {
		display:none;
	}
	
	.membership_plan_info_right {
		float:left;
	}
	
	.pcolumn1{ float:left; overflow:hidden; margin-left:30px; width:278px}
	
	.pcolumn2{ float:none; clear:both; overflow:hidden;width:278px}

	.pcolumn3{ float:none; clear:both; overflow:hidden; width:278px}
	
	.column-sm4  {float:none; margin:0px auto}
	
	.contact-info {
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
	}
	
	.right-nav {padding-bottom:15px; padding-top:5px}
	
	/* Search*/
	.search {width: 260px}
	#searchValue {padding-left:120px}
	.search-container {padding:10px}
	
	/* Activity*/
	.pattern-div-activity { width:100%; height:auto}
	.realty-item-activity {width:90%}
	.addbuyerdiv {height:90px}
	.accept {margin-left:0px}
	.margtop {margin-top:10px; float:left}
	.margtopsend {margin-top:10px}
	.actbtn {clear:both; float:left}
	.actbtnreq {clear:both; margin-top:10px; float: left;}

	/* POPs*/
	
	.c200 { float: none;}
	#cityLabel{display:none}
	#stateLabel{display:none}
	.text-input-city {margin-left:0px}
	.popsaddress {float:left}
	.popsformpermission {height:120px}
	.state_dropdown{float:none; margin-left:0px}
	.text-input-propertyname {width:200px}
	.p_range {margin-top:0px}
	.popsform {padding:15px}
	.pinvalid {padding-top:5px; margin-left:0px;}
	.popsformdisplay{min-height:360px}
	.c90 {float:none}
	.text-area {width:100%}
	.img_mobile {width:100%}
	.c480 {width:100%; margin-top:15px;float:left; margin-bottom:15px}
	.price_row {margin-top:15px; clear:both}
	.popsstate {margin-left:0px}
	.pe_zip {width:120px; float:left}
	.pe_ptype {float:none; padding-top:10px; clear:both; width:200px}
	.pe_stype {float:none; padding-top:10px; width:200px}
	.pe_state {padding-top:10px; width:210px; clear:both}
	.addpopsbtn {float:left; clear:both; margin-top:15px}
	.pops {padding:10px}
	.c200 form { float:left; margin-top:15px }
	.edit-buyer {text-align:center; margin-bottom:20px; margin-top:15px}
	.content, .pops_content {width:100%}
	.popsindividual {padding:10px}
	.col1-popsindi {display:none}
	.savedbuyername {width:120px; float:none}
	.buyers-modal {width:100%}
	#buyer-m {margin-bottom:20px}
	#slider_adin {width:100%}
	.large-item-details {width: 320px;height: 217px;float: none;margin: 0 auto;}
	.imgsize {width:100%}
	.list-style .seen-expire {text-align:left}
	.permissionlbl {margin-right: 5px; padding-top: 5px; margin-left:-5px; font-size:11px}
	.pocket-form label,
	.pocket-form a:link {font-size: 11px;}
	.whatsthis {margin-left:20px}
	.popsnotes {height:200px}
	.popsindiphoto {width:300px}

	
	/* Buyers*/
	
	.buyers { padding:10px}
	.addbuyersbtn {float:left; clear:both; margin-top:15px}
	.buyersindividual {padding:10px}
	.list-style .other-description-placeholder {text-align:left; float:left}
	.buyerexpire {float:right}
	.buyersform {padding:10px}
	.buyersnamesection {height:auto}
	.buyerstatus {float:left; margin-top:15px}
	.text-input-buyername {width:100%}
	.buyerzipsection {padding-bottom: 0; height:auto}
	.buyerzipinput {width:250px; padding-bottom:10px}
	.buyerprange {width:150px; margin-top:-10px}
	.buyersform {padding:10px}
	.buyerpinput {padding-top:15px}
	.buyerpricesection {height:auto}
	.buyernameinput {width:auto}
	div#buyer-type {display:none}
	.buyermatch {color:#000000; font-size:11px; margin-right:5px}
	.list-style .items-inner-container{width:100%}
	.list-style .expired_span {float:left}
	
	/*Referrals*/
	.referral_transaction_details_list  {float:none;width:200px; margin-left:0px}
	.referrals {padding:10px}
	.addrefbtn {float:left; clear:both; margin-top:15px}
	.referralform {padding:10px}
	.mclient_fillbox input, .mclient_fillbox select {width:270px}
	.refcountry {width:150px}
	.text-input-refzip{width:120px}
	.pop {width:auto; padding:0px}
	.referral_user_details_list {float:none}
	.referral_transaction_details_labels {width:auto}
	.referral_transaction_details_list_profile {width:auto}
	.tbl_notes {width:auto}
	
	/* Profile */
	.ac-row {width:100%}
	.contact-form {padding:10px}
	.profemail {width:auto}
	.prof-main {padding:10px}
	.profile .user_name {clear:both}
	.prof_sales_msg {width:auto; line-height:18px; float:none}
	.network_row {width:auto}
	.list-style .seen-expire {float:left; clear:both}
	.progress-bar {height:auto; margin-bottom:10px}
	#add_more_cell{width:100%}
}

@media only screen and (max-width: 340px) {
	.wide-container {
		padding-bottom: 150px;

	}
	
	.wide {width:100%}
	
	.activity {padding:10px}
	
	.wrapper {
		width:auto;
	}
	
	.row .agent-bridge-works-2 {
		display:block;
	}
	
	.agent-bridge-works {
		display:none;
	}
	
	.join-btn:link {
		font-size:24px;
	}
	
	.header2 li {
		margin-left:10px;
	}
	
	.main .footer  {
		min-width:none;
	}
	
	.footer-row .wrapper {
		width:auto;
	}
	
	.header2 ul {
		float:left;
		width:100%;
	}
	
	.top-right {
		float:left;
	}
	
	.right-nav {
		background:none;
		border-right:none;
	}
	
	.short-btn-browse {
		float:left;
	}
	.hpform {
		width:100%;
	}
	.hpform1 {
		margin:0px auto;
		padding-bottom:10px;
		float:none;
		width:100%;
	
	}
	
	.column-m3 {
		float:none;
		margin:0px auto;
	}
	
	.hpform2 {
		margin:0px auto;
		float:none;
		width:100%;
	
	}
	
	.hpform3 {
		margin-left:10px;
	}
	
	.login-form {
		float:none;
		margin:0px auto;
	}
	
	.apply-btn-form {
	clear:both;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	width:200px;

	}
	
	.acct_setup_holder input,.acct_setup_holder select {
		width:100%;
	}
	
	.ticker-row .wrapper {
		padding:0px;
	}
	
	.ticker-container {
		width:auto;
		text-align:center;
	}
	
	.ticker-container span {
		float:none;
		margin-top:5px;
	}
	
	.ticker {
		font-size:45px;
	}
	
	.agent-bridge-works .wrapper {
		width:auto;
	}
	
	.glow {
		width:auto;
	}
	
	.works-bg {
		display:none;
	}
	
	
	.ave-head {
		font-size:24px;
	}
	
	.wrapper-home {
		width:auto;
	}
	
	.view-video {
		display:none;
	}
	
	.get-start-row .wrapper  {
		width:auto;
	}
	
	.arrow-process {
		display:none;
		width:auto;
	}
	
	.banner-row h2 {
		font-size:45px;
	}

	.pw-container-right {
		float:none;
		width:100%;
	}

	.pw-container-left {
		display:none;
	}
	
	.text-input-pw {
		width:250px;
	}
	
	.wide-container,.short-container {
		width:90%;
	}
	
	.cyp_col2 {
		float:none;
	}
	
	.wide-container-profile,.short-container {
		width:90%;
	}
	
	.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-draggable .ui-resizable {
		width:100%;
	
	}
	
	.user-thumb {float:left}
	
	.membership_plan_info {
		width:100%;
		font-size:13px;
		line-height:18px;
	}
	.membership_plan_table {
		width:auto;
	}
	
	.membership_plan_benefits {
		display:none;
	}
	
	.membership_plan_info_right {
		float:left;
	}
	
	.pcolumn1{ float:left; overflow:hidden; margin-left:30px; width:278px}
	
	.pcolumn2{ float:none; clear:both; overflow:hidden;width:278px}

	.pcolumn3{ float:none; clear:both; overflow:hidden; width:278px}
	
	.column-sm4  {float:none; margin:0px auto}
	
	.contact-info {
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
	}
	
	a:link {font-size:12px}
	
	.right-nav {padding-bottom:15px; padding-top:5px}
	/* Search*/
	.search {width: 220px}
	#searchValue {padding-left:120px}
	.search-container {padding:10px}
	
	/* Activity*/
	.pattern-div-activity { width:270px; height:auto}
	.margtop {margin-top:10px; float:left}
	.margtopsend {margin-top:10px}
	.realty-item-activity {width:90%; margin:0px}
	.addbuyerdiv {height:100px}
	.addpopsact {float:left; width:120px}
	.addrefact {float:left; width:145px}
	.accept {margin-left:0px}
	.actbtn {clear:both; float:left}
	.actbtnreq {clear:both; margin-top:10px;float:left}
	
	/* POPs*/
	
	.c200 { float: none;}
	#cityLabel{display:none}
	#stateLabel{display:none}
	.text-input-city {margin-left:0px}
	.popsaddress {float:left}
	.popsformpermission {height:120px}
	.state_dropdown{float:none; margin-left:0px}
	.text-input-propertyname {width:200px}
	.p_range {margin-top:0px}
	.popsform {margin:15px}
	.pinvalid {padding-top:5px; margin-left:0px;}
	.popsformdisplay{min-height:360px}
	.c90 {float:none}
	.text-area {width:100%}
	.img_mobile {width:100%}
	.c480 {width:100%; margin-top:15px;float:left; margin-bottom:15px}
	.price_row {margin-top:15px; clear:both}
	.popsstate {margin-left:0px}
	.pe_zip {width:120px; float:left}
	.pe_ptype {float:none; padding-top:10px; clear:both; width:200px}
	.pe_stype {float:none; padding-top:10px; width:200px}
	.pe_state {padding-top:10px; width:210px; clear:both}
	.addpopsbtn {float:left; clear:both; margin-top:15px}
	.pops {padding:10px}
	.c200 form { float:left; margin-top:15px }
	.edit-buyer {text-align:center; margin-bottom:20px; margin-top:15px}
	.content, .pops_content {width:100%}
	.popsindividual {padding:10px}
	.col1-popsindi {display:none}
	.savedbuyername {width:120px; float:none}
	.buyers-modal {width:100%}
	#buyer-m {margin-bottom:20px}
	#slider_adin {width:100%}
	.large-item-details {width:100%; height:205px}
	.imgsize {width:100%}
	.list-style .seen-expire {text-align:left}
	.permissionlbl {margin-right: 10px; font-size:11px; padding-top: 5px; margin-left:-5px}
	.popsnotes {height:200px}
	.pocket-form label, .pocket-form a:link {font-size: 11px;}
	.whatsthis {margin-left:20px}
	.popsindiphoto {width:200px}

	
	/* Buyers*/
	
	.buyers { padding:10px}
	.addbuyersbtn {float:left; clear:both; margin-top:15px}
	.buyersindividual {padding:10px}
	.list-style .other-description-placeholder {text-align:left; float:left}
	.buyerexpire {float:right}
	.buyersform {padding:10px}
	.buyersnamesection {height:auto}
	.buyerstatus {float:left; margin-top:15px}
	.text-input-buyername {width:100%}
	.buyerzipsection {padding-bottom: 0; height:auto}
	.buyerzipinput {width:250px; padding-bottom:10px}
	.buyerprange {width:150px; margin-top:-10px}
	.buyerpricesection {height:240px}
	.buyersform {padding:10px}
	.buyerpinput {padding-top:15px}
	.buyernameinput {width:270px}
	div#buyer-type {display:none}
	.buyermatch {color:#000000; font-size:11px; margin-right:5px}
	.list-style .items-inner-container{width:100%}
	.list-style .expired_span {float:left}
	
	/*Referrals*/
	.referral_transaction_details_list  {float:left;width:200px; margin-left:0px}
	.referrals {padding:10px}
	.addrefbtn {float:left; clear:both; margin-top:15px}
	.referralform {padding:10px}
	.mclient_fillbox input, .mclient_fillbox select {width:270px}
	.refcountry {width:150px}
	.text-input-refzip{width:120px}
	.pop {width:auto; padding:0px}
	.referral_user_details_list {float:none}
	.referral_transaction_details_labels {width:auto}
	.referral_transaction_details_list_profile {width:auto}
	.tbl_notes {width:auto}
	
	/* Profile */
	.ac-row {width:100%}
	.contact-form {padding:10px}
	#add_more_cell{width:100%}
	.profemail {width:auto}
	.prof-main {padding:10px}
	.profile .user_name {clear:both}
	.prof_sales_msg {width:auto; line-height:18px; float:right}
	.network_row {width:auto}
	.list-style .seen-expire {float:left; clear:both}
	.progress-bar {height:auto; margin-bottom:10px}

}
@media screen and (min-width: 1350px) {
	.wide-container {
		padding-bottom: 150px;
	}
}

/*@media screen and (max-width: 512px) {
#background img {
width:100%;
height:auto;
}*/