@media screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 600px) {
	.wide-container {
		padding-bottom: 150px;

	}
	
	.wrapper {
		width:auto;
	}
	
	.row .agent-bridge-works-2 {
		display:block;
	}
	
	.agent-bridge-works {
		display:none;
	}
	
	.join-btn:link {
		font-size:24px;
	}
	
	.header2 li {
		margin-left:10px;
	}
	
	.main .footer  {
		min-width:none;
	}
	
	.footer-row .wrapper {
		width:auto;
	}
	
	.header2 ul {
		float:left;
	}
	
	.top-right {
		float:left;
	}
	
	.right-nav {
		background:none;
		border-right:none;
	}
	
	.short-btn-browse {
		float:left;
	}
	.hpform {
		width:100%;
	}
	.hpform1 {
		margin:0px auto;
		padding-bottom:10px;
		float:none;
		width:100%;
	
	}
	
	.column-m3 {
		float:none;
		margin:0px auto;
	}
	
	.hpform2 {
		margin:0px auto;
		float:none;
		width:100%;
	
	}
	
	.hpform3 {
		margin-left:10px;
	}
	
	.login-form {
		float:none;
		margin:0px auto;
	}
	
	.ticker-row .wrapper {
		padding:0px;
	}
	
	.ticker-container {
		width:auto;
		text-align:center;
	}
	
	.ticker-container span {
		float:none;
		margin-top:5px;
	}
	
	.ticker {
		font-size:45px;
	}
	
	.agent-bridge-works .wrapper {
		width:auto;
	}
	
	.glow {
		width:auto;
	}
	
	.works-bg {
		display:none;
	}
	
	
	.ave-head {
		font-size:24px;
	}
	
	.wrapper-home {
		width:auto;
	}
	
	.view-video {
		display:none;
	}
	
	.get-start-row .wrapper  {
		width:auto;
	}
	
	.arrow-process {
		display:none;
		width:auto;
	}
	
	.banner-row h2 {
		font-size:45px;
	}

	.pw-container-right {
		float:none;
		width:100%;
	}

	.pw-container-left {
		display:none;
	}
	
	.text-input-pw {
		width:250px;
	}
	
	.wide-container,.short-container {
		width:90%;
	}
	
	.cyp_col2 {
		float:none;
	}
	
	.wide-container-profile,.short-container {
		width:90%;
	}
	
	.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-draggable .ui-resizable {
		width:100%;
	
	}
	
	.membership_plan_info {
		width:100%;
		font-size:13px;
		line-height:18px;
	}
	.membership_plan_table {
		width:auto;
	}
	
	.membership_plan_benefits {
		display:none;
	}
	
	.membership_plan_info_right {
		float:left;
	}
	
	.pcolumn1{ float:left; overflow:hidden; margin-left:30px; width:278px}
	
	.pcolumn2{ float:none; clear:both; overflow:hidden;width:278px}

	.pcolumn3{ float:none; clear:both; overflow:hidden; width:278px}
	
	.column-sm4  {float:none; margin:0px auto}
	
	.contact-info {
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
	}
}

@media screen and (min-width:601px) and (max-width: 745px) {
	.cyp-col1 {
		width:auto;
		
	}
	.cyp-col2 {
		width:auto;
		float:none;
	}
}
@media screen and (min-width: 1350px) {
	.wide-container {
		padding-bottom: 150px;
	}
}

@media screen and (max-width: 512px) {
#background img {
width:100%;
height:auto;
}