/* Icon 1 */

#mobile-menu, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 22px;
  height: 20px;
  position: relative;
  margin: 5px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#mobile-menu span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 10px;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#mobile-menu span:nth-child(1) {
  top: 3px;
}

#mobile-menu span:nth-child(2) {
  top: 7px;
}

#mobile-menu span:nth-child(3) {
  top: 11px;
}

.mobile-menu .open {
	background:none !important;
}

#mobile-menu.open span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#mobile-menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#mobile-menu.open span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

ul.rates-column span.zips-mobile {
	display:none;
}

span.rate-text {
	display:inline;
}

span.rate-text-mobile {
	display:none;
}

@media screen and (min-width:341px) and (max-width: 600px) {	
	span.rate-text {
		display:none;
	}

	span.rate-text-mobile {
		display:inline;
	}
	
	.seen-expire div {
		width:100%;
	}
	.profile .details {
		text-align:left;
		width:64%;
	}
	
	ul.rates-column span.zips {
		display:none;
	}
	
	ul.rates-column span.zips-mobile {
		display:block;
	}

	#user-profile #progressdiv {
		width:300px;
	}
	
	#user-profile #progressdiv .progress-container {
		display:table;
		margin:0 auto;
	}
	#agent-email-error {
		display:table;
		clear:both;
		margin:0 !important;
	}
	
	.pending-invite {
		width:100%;
	}
	
	#invitationlist .field-result {
		width:99% !important;
	}
	
	#invitationlist .left {
		width:100%;
	}
	
	#invitationlist .field-result div {
		width:100% !important;
	}
	
	#invitationlist .field-result .pattern-div {
		width:100% !important;
	}
	
	.mobile-sidebar {
		background:#fff;
	}
	
	.pcolumn2 #phone {
		width:258px !important;
	}
	
	.pcolumn2 #state,
	.pcolumn2 #state #s2id_jform_state {
		width:100% !important;
	}
	
	.membership_plan_benefits ul li {
		float:left;
	}
	
	.membership_plan_benefits ul li span {
		float:left;
		margin-left:25px !important;
	}
	
	.wide-container-payments {
		width:90%;
	}
	
	.membership_plan_table ul li {
		margin-left:0 !important;
	}
	.membership_plan_table ul {
		margin-left:0 !important;
	}
	
	.membership_plan_info_left {
		width:100%;
		clear:both;
	}
	
	.membership_plan_info_right {
		width:100%;
		clear:both;
	}
	
	.membership_plan_info_right .referral_table {
		width:100%;
	}
	
	.referral_table ul li {
		height:36px;
	}
	
	.referral_table_col_1 {
		width:48%;
	}
	
	.referral_table_col_1 ul {
		margin-left:0 !important;
	}
	
	.pop .pcolumn1,
	.pop .pcolumn2,
	.pop .pcolumn3 {
		width:100%;
		clear:both;
		margin-left:0 !important;
	}
	
	.order_service {
		width:47%;
	}
	
	.order_qty, .order_sub {
		width:20%;
	}
	
	.grid-style .other-description-placeholder,
	.grid-style .other-description-placeholder .seen-expire {
		width:100%;
	}
	
	#invite-button-container {
		margin:15px 0 0 0 !important;
		clear:both;
		width:100px;
	}
	
	#invite-button-container .button {
		width:100px !important;
		margin-top:2px;
		height:30px;
		padding:8px 0;
	}
	
	.agent-verified {
		float:none !important;
		margin:0 auto 10px;
	}
	
	#invitesection {
		text-align:left;
	}
	
	.network_box {
		width:98%;
	}
	
	.network_user_info {
		width:246px;
	}
	
	.network_user_info li {
		width:100%;
	}
	
	#invitationlist div{
		text-align:left;
	}
	.referral_transaction_details_text {
		text-align:left;
	}
	
	.profile-btn {
		text-align:center;
		width:100%;
		margin:0 auto;
	}
	
	.profile-btn a {
		display:inline-block;
		float:none !important;
	}
	
	.profile-btn a#create-referral {
		margin-left:0 !important;
	}
	
	.profile {
		text-align:center;
	}
	.profile .user-avatar {	
		margin: 0px 0px 10px 0px;
		float:none !important;
		display:inline-block;
	}
	
	.search-right .items-container ul.items li {
		width:100%;
	}
	
	.pops .grid-style ul.items li {
		width:98%;
	}
	
	#tabs .items-container ul.items li .items-inner-container .description-placeholder {
		text-align:left;
	}
	
	
	.search-right .items-container ul.items li .items-inner-container .image-placeholder,
	.pops .grid-style ul.items li .items-inner-container .image-placeholder{
		width:100%;
	}
	
	.image-placeholder img {
		display:block;
		margin:0 auto;
	}
	
	.search-right .items-container ul.items li .other-description-placeholder .button,
	.pops .grid-style ul.items li .other-description-placeholder .button {
		margin-left:auto !important;
		margin-right:auto !important;
		float:none !important;
		display:block;
	}
	
	.back-to-top {
		display:block;
		position:fixed;
		bottom:50px;
		right:30px;
	}
	
	.show-hide-refinement {
		margin:10px 0;
		display:block;
	}
	
	.refine-container {
		min-height:initial;
	}
	
	.refinement-options {
		display:none;
	}
	
	.search-left {
		clear:both;
		width:100%;
	}
	
	.search-wrap {
		width:100% !important;
	}
	
	.search-right {
		width:100%;
	}
	
	.search-right .items-container {
		width:100%;
	}
	
	.search-right .items-container ul.referral_row {
		width:97%;
	}
	
	.search-right .items-container ul.referral_row ul.referral_row {
		width:100%;
	}
	
	ul.referral_row li {
		width:100%;
	}
	
	ul.referral_row li .sagent_user_details {
		width:100%;
	}
	
	.sbox_agent {
		width:100%;
	}
	
	.mobile-menu {
		display:block;
		float:right;
		cursor:pointer;
	}
	.sidebar {
		display:none;
	}
	
	#zip {
		margin-left: 0 !important;
	}
	#sales-record-container {
		width:100% !important;
		text-align:left;
	}
	
	.about {
		width:100% !important;
		text-align:left;
	}
	
	#selectedbrokerage {
		width:100% !important;
	}
	#selectedbrokerage li {
		width:95% !important;
	}
	
	#profile-save-button-container, #profile-save-button-container2 {
		width:100% !important;
		padding-left:0 !important;
	}
	
	#profile-fields-container {
		width:100% !important;
		text-align:left;
	}
	
	#submit-user-profile, #submit-user-profile2 {
		width:100% !important;
	}
	
	
	.a_setting_box {
		width:100% !important;
	}
	
	.referral_user_details_list .clear-float {
		padding-left:0;
		text-align:left;
	}
	.profile-btn .button {
		margin-left:5px;
		padding:5px;
	}
	
	.profile .user-details {
		width:100%;
	}
	
	.ac-row label {
		float:left;
		width:220px;
		line-height:16px;
	}
	.clear-float {
		padding-left:10px;
	}
	
	.ac-row {
		padding-left:10px;
	}
	
	.main .main-content h1 {
		padding-left:10px;
	}
	
	.wide-container {
		padding-bottom: 150px;

	}
	
	.wide {width:100%;padding:25px 10px 0;}
	
	.activity {padding:10px}
	
	.wrapper {
		width:auto;
	}
	
	.row .agent-bridge-works-2 {
		display:block;
	}
	
	.button {padding:8px}
	.agent-bridge-works {
		display:none;
	}
	
	.join-btn:link {
		font-size:24px;
	}
	
	.header2 li {
		margin-left:10px;
	}
	
	.main .footer  {
		min-width:none;
	}
	
	.footer-row .wrapper {
		width:auto;
	}
	
	.header2 ul {
		float:left;
		width:100%;
	}
	
	.top-right {
		float:left;
	}
	
	.right-nav {
		background:none;
		border-right:none;
	}
	
	.short-btn-browse {
		float:left;
	}
	.hpform {
		width:100%;
	}
	.hpform1 {
		margin:0px auto 15px;
		padding-bottom:10px;
		float:none;
		width:100%;
	
	}
	
	.column-m3 {
		float:none;
		margin:0px auto;
	}
	
	.hpform2 {
		margin:0px auto;
		float:none;
		width:100%;
	
	}
	
	.hpform3 {
		margin-left:10px;
	}
	
	.login-form {
		float:none;
		margin:0px auto;
	}
	
	.apply-btn-form {
	clear:both;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	width:200px;

	}
	
	.acct_setup_holder input,.acct_setup_holder select {
		width:100%;
	}
	
	.ticker-row .wrapper {
		padding:0px;
	}
	
	.ticker-container {
		width:auto;
		text-align:center;
	}
	
	.ticker-container span {
		float:none;
		margin-top:5px;
	}
	
	.ticker {
		font-size:45px;
	}
	
	.agent-bridge-works .wrapper {
		width:auto;
	}
	
	.glow {
		width:auto;
	}
	
	.works-bg {
		display:none;
	}
	
	
	.ave-head {
		font-size:24px;
	}
	
	.wrapper-home {
		width:auto;
	}
	
	.view-video {
		display:none;
	}
	
	.get-start-row .wrapper  {
		width:auto;
	}
	
	.arrow-process {
		display:none;
		width:auto;
	}
	
	.banner-row h2 {
		font-size:45px;
	}

	.pw-container-right {
		float:none;
		width:100%;
	}

	.pw-container-left {
		display:none;
	}
	
	.text-input-pw {
		width:250px;
	}
	
	.wide-container,.short-container {
		width:90%;
	}
	
	.cyp_col2 {
		float:none;
	}
	
	.wide-container-profile,.short-container {
		width:90%;
	}
	
	.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-draggable .ui-resizable {
		width:100%;
	
	}
	
	.user-thumb {float:left}
	
	.membership_plan_info {
		width:100%;
		font-size:13px;
		line-height:18px;
	}
	.membership_plan_table {
		width:auto;
	}
	
	.membership_plan_benefits {
		width:100%;
		clear:both;
	}
	
	.membership_plan_info_right {
		float:left;
	}
	
	.pcolumn1{ float:left; overflow:hidden; margin-left:30px; width:278px}
	
	.pcolumn2{ float:none; clear:both; overflow:hidden;width:278px}

	.pcolumn3{ float:none; clear:both; overflow:hidden; width:278px}
	
	.column-sm4  {float:none; margin:0px auto}
	
	.contact-info {
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
	}
	
	.right-nav {padding-bottom:15px; padding-top:5px}
	
	/* Search*/
	.search {width: 260px}
	#searchValue {padding-left:10px}
	.search-container {padding:10px}
	
	/* Activity*/
	.pattern-div-activity { width:100%; height:auto}
	.realty-item-activity {width:78%}
	.addbuyerdiv {height:90px}
	.accept {margin-left:0px}
	.margtop {margin-top:10px; float:left}
	.margtopsend {margin-top:10px}
	.actbtn {clear:both; float:left}
	.actbtnreq {clear:both; margin-top:10px; float: left;}
	.border-dot-act-left{width:20%;float:left;}
	.border-dot-act-right{width:80%;float:right;}
	.border-dot-act {width:auto}
	.pattern-div-activity {width:100%; line-height:24px;}
	.pattern-div-activity .question {line-height:24px; float:left; width:100%;}

	/* POPs*/
	.popsform {margin:15px 0 0 0;padding:0 10px;}
	#pocketform {
		margin:0 !important;padding:0 !important;
	}
	#completeadd {
		padding-left:0px !important;
	}
	.pocket-form {
		padding-left:0 !important;
	}
	.c200 { float: none;}
	#cityLabel{display:none}
	#stateLabel{display:none}
	.text-input-city {margin-left:0px}
	.popsaddress {float:left}
	.popsformpermission {height:120px}
	.state_dropdown{float:none; margin-left:0px}
	.text-input-propertyname {width:200px}
	.p_range {margin-top:0px}
	.popsform {padding:15px}
	.pinvalid {padding-top:5px; margin-left:0px;}
	.popsformdisplay{min-height:360px}
	.c90 {float:none}
	.text-area {width:100%}
	.img_mobile {width:100%}
	.c480 {width:100%; margin-top:15px;float:left; margin-bottom:15px}
	.price_row {margin-top:15px; clear:both}
	.popsstate {margin-left:0px}
	.pe_zip {width:120px; float:left}
	.pe_ptype {float:none; padding-top:10px; clear:both; width:200px}
	.pe_stype {float:none; padding-top:10px; width:200px}
	.pe_state {padding-top:10px; width:210px; clear:both}
	.addpopsbtn {float:left; clear:both; margin-top:15px}
	.pops {padding:10px}
	.c200 form { float:left; margin-top:15px }
	.edit-buyer {text-align:center; margin-bottom:20px; margin-top:15px}
	.content, .pops_content {width:100%}
	.popsindividual {padding:10px}
	.col1-popsindi {display:none}
	.savedbuyername {width:120px; float:none}
	.buyers-modal {width:100%}
	#buyer-m {margin-bottom:20px}
	#slider_adin {width:100%}
	.large-item-details {width: 320px;height: 217px;float: none;margin: 0 auto;}
	.imgsize {width:100%}
	.list-style .seen-expire {text-align:left}
	.permissionlbl {margin-right: 5px; padding-top: 5px; margin-left:-5px; font-size:11px}
	.pocket-form label,
	.pocket-form a:link {font-size: 11px;}
	.whatsthis {margin-left:20px}
	.popsnotes {height:200px}
	.popsindiphoto {width:300px}

	
	/* Buyers*/
	
	.buyers { padding:10px}
	.addbuyersbtn {float:left; clear:both; margin-top:15px}
	.buyersindividual {padding:10px}
	.list-style .other-description-placeholder {text-align:left; float:left}
	.buyerexpire {float:right}
	.buyersform {padding:10px}
	.buyersnamesection {height:auto}
	.buyerstatus {float:left; margin-top:15px}
	.text-input-buyername {width:100%}
	.buyerzipsection {padding-bottom: 0; height:auto}
	.buyerzipinput {width:250px; padding-bottom:10px}
	.buyerprange {width:150px; margin-top:-10px}
	.buyersform {padding:10px}
	.buyerpinput {padding-top:15px}
	.buyerpricesection {height:auto}
	.buyernameinput {width:auto}
	div#buyer-type {display:none}
	.buyermatch {color:#000000; font-size:11px; margin-right:5px}
	.list-style .items-inner-container{width:100%}
	.list-style .expired_span {float:left}
	
	/*Referrals*/
	.referral_transaction_details_list  {float:none;width:200px; margin-left:0px}
	.referrals {padding:10px}
	.addrefbtn {float:left; clear:both; margin-top:15px}
	.referralform {padding:10px}
	.mclient_fillbox input, .mclient_fillbox select {width:270px}
	.refcountry {width:150px}
	.text-input-refzip{width:120px}
	.pop {width:auto; padding:0px}
	.referral_user_details_list {float:none;margin-top:0;margin-left:5px;clear:both;}
	.referral_transaction_details_labels {width:auto}
	.referral_transaction_details_list_profile {width:auto}
	.tbl_notes {width:auto}
	
	/* Profile */
	.ac-row {width:100%}
	.contact-form {padding:10px}
	.profemail {width:auto}
	.prof-main {padding:10px}
	.profile .user_name {clear:both}
	.prof_sales_msg {width:auto; line-height:18px; float:none}
	.network_row {width:auto}
	.list-style .seen-expire {float:left; clear:both}
	.progress-bar {height:auto; margin-bottom:10px}
	#add_more_cell{width:100%}
	
	/*Security Question */
	.validate-question1 {font-size:11px}
}

@media screen and (min-width:401px) and (max-width: 600px) {
	.user-details .licence {
		width: 72%;
	}
	
	.user-details .broker {
		width: 79%;
	}
	
	.user-details .address {
		width: 83%;
		
	}
	
	.user-details .languages {
		width: 68%;
	}
}

@media screen and (min-width:341px) and (max-width: 400px) {
	.user-details .licence {
		width: 67%;
	}
	
	.user-details .broker {
		width: 77%;
	}
	
	.user-details .address {
		width: 82%;		
	}
	
	.user-details .languages {
		width: 62%;
	}
}


@media only screen and (max-width: 340px) {
	span.rate-text {
		display:none;
	}

	span.rate-text-mobile {
		display:inline;
	}
	
	.seen-expire div {
		width:100%;
	}
	
	.profile .details {
		text-align:left;
		width:70%;
	}
	
	.user-details .licence {
		width: 65%;
	}
	
	.user-details .broker {
		width: 76%;
	}
	
	.user-details .address {
		width: 80%;		
	}
	
	.user-details .languages {
		width: 59%;
	}
	
	ul.rates-column span.zips {
		display:none;
	}
	
	ul.rates-column span.zips-mobile {
		display:block;
	}
	
	.profile .details {
		text-align:left;
	}
	
	#search-email {
		height:30px;
		width:180px !important;
	}
	#submit-send-referral2 {
		height:30px;
	}
	
	#search-agent {
		height:30px;
	}
	
	#agent-email-error {
		display:table;
		clear:both;
		margin:0 !important;
	}
	
	.pending-invite {
		width:100%;
	}
	
	#invitationlist .field-result {
		width:99% !important;
	}
	
	#invitationlist .left {
		width:100%;
	}
	
	#invitationlist .field-result div {
		width:100% !important;
	}
	
	#invitationlist .field-result .pattern-div {
		width:100% !important;
	}
	
	.mobile-sidebar {
		background:#fff;
	}
	
	.mobile-sidebar {
		background:#fff;
	}
	
	.pcolumn2 #phone {
		width:208px !important;
	}
	
	.pcolumn2 #state,
	.pcolumn2 #state #s2id_jform_state {
		width:100% !important;
	}
	
	.pcolumn2 #jform_zip {
		margin-left: 0 !important;
	}
	
	.membership_plan_benefits ul li {
		float:left;
	}
	
	.membership_plan_benefits ul li span {
		float:left;
		margin-left:25px !important;
	}
	
	.user {
		padding-left:0 !important;
	}
	
	.wide-container-payments {
		width:90%;
	}
	
	.membership_plan_table ul li {
		margin-left:0 !important;
	}
	
	.membership_plan_table ul {
		margin-left:0 !important;
	}
	
	.membership_plan_info_left {
		width:100%;
		clear:both;
	}
	
	.membership_plan_info_right {
		width:100%;
		clear:both;
	}
	
	.membership_plan_info_right .referral_table {
		width:100%;
	}
	
	.referral_table ul li {
		height:36px;
	}
	
	.referral_table_col_1 {
		width:48%;
	}
	
	.referral_table_col_1 ul {
		margin-left:0 !important;
	}
	
	.pop .pcolumn1,
	.pop .pcolumn2,
	.pop .pcolumn3 {
		width:100%;
		clear:both;
		margin-left:0 !important;
	}
	
	.order_service {
		width:47%;
	}
	
	.order_qty, .order_sub {
		width:20%;
	}
	
	.grid-style .other-description-placeholder,
	.grid-style .other-description-placeholder .seen-expire {
		width:100%;
	}
	
	#invite-button-container {
		margin:15px 0 0 0 !important;
		clear:both;
		width:100px;
	}
	
	#invite-button-container .button {
		width:100px !important;
		margin-top:2px;
		height:30px;
		padding:8px 0;
	}
	
	.agent-verified {
		float:none !important;
		margin:0 auto 10px;
	}
	
	#invitesection {
		text-align:left;
	}
	
	.network_box {
		width:98%;
	}
	
	.network_user_info {
		width:194px;
	}
	
	.network_user_info li {
		width:100%;
	}
	
	.referral_transaction_details_text {
		text-align:left;
	}
	
	.profile-btn {
		text-align:center;
		width:100%;
		margin:0 auto;
	}
	
	.profile-btn a {
		display:inline-block;
		float:none !important;
		font-size:11px !important;
		margin-bottom:5px;
		padding-bottom:20px !important;
	}
	
	.profile-btn a#create-referral {
		margin-left:0 !important;
		padding-top:8px !important;
	}
	
	.profile-btn a#create-referral em {
		font-size:11px !important;
	}
	.profile {
		text-align:center;
	}
	.profile .user-avatar {	
		margin: 0px 0px 10px 0px;
		float:none !important;
		display:inline-block;
	}
	
	.search-right .items-container ul.items li {
		width:100%;
	}
	
	.pops .grid-style ul.items li {
		width:98%;
	}
	
	#tabs .items-container ul.items li .items-inner-container .description-placeholder {
		text-align:left;
	}
	
	.search-right .items-container ul.items li .items-inner-container .image-placeholder,
	.pops .grid-style ul.items li .items-inner-container .image-placeholder {
		width:100%;
	}
	
	.search-right .items-container ul.items li .other-description-placeholder .button,
	.pops .grid-style ul.items li .other-description-placeholder .button {
		margin-left:auto !important;
		margin-right:auto !important;
		float:none !important;
		display:block;
	}
	
	.image-placeholder img {
		display:block;
		margin:0 auto;
	}
	
	.back-to-top {
		display:block;
		position:fixed;
		bottom:50px;
		right:30px;
	}

	.show-hide-refinement {
		margin:10px 0;
		display:block;
	}
	
	.refine-container {
		min-height:initial;
	}
	
	.refinement-options {
		display:none;
	}
	
	.search-left {
		clear:both;
		width:100%;
	}
	
	.search-wrap {
		width:100% !important;
	}
	
	.search-right {
		width:100%;
	}
	
	.search-right .items-container {
		width:100%;
	}
	
	.search-right .items-container ul.referral_row {
		width:97%;
	}
	
	.search-right .items-container ul.referral_row ul.referral_row {
		width:100%;
	}
	
	ul.referral_row li {
		width:100%;
	}
	
	ul.referral_row li .sagent_user_details {
		width:100%;
	}
	
	.sbox_agent {
		width:100%;
	}
	
	.mobile-menu {
		display:block;
		float:right;
		cursor:pointer;
	}
	
	.sidebar {
		display:none;
	}
	
	#add_more_cell, #add_more_phone, #add_more_fax, #add_more_site, #add_more_social {
		width:260px;
	}
	.wide {width:100%;padding:25px 10px 0;}
	
	#zip {
		margin-left: 0 !important;
	}
	#sales-record-container {
		width:100% !important;
		text-align:left;
	}
	
	.about {
		width:100% !important;
		text-align:left;
	}
	
	#selectedbrokerage {
		width:100% !important;
	}
	#selectedbrokerage li {
		width:95% !important;
	}
	
	#profile-save-button-container, #profile-save-button-container2 {
		width:100% !important;
		padding-left:0 !important;
	}
	
	#profile-fields-container {
		width:100% !important;
		text-align:left;
	}
	
	#submit-user-profile, #submit-user-profile2 {
		width:100% !important;
	}
	
	#bigbutton {
		padding-top:3px !important;
	}
	.popsformdisplay {
		padding-left:0;
	}
	
	.a_setting_box {
		width:100% !important;
	}
	
	.a_setting_plan_info_1 {
		width:30%;
	}
	
	.a_setting_plan_info_2 {
		width:26%;
	}
	
	.a_setting_plan_info_2 .a_setting_plan_info_item {
		width:100% !important;
	}
	
	.a_setting_plan_info_2 .a_setting_plan_info_item .button {
		width:100% !important;
		padding-top:3px !important;
	}
	
	.return-listing, .add-pocket {
		height:25px;
	}
	.button {padding:5px;height:25px;font-size:12px !important;}
	
	.referral_user_details_list .clear-float {
		padding-left:0;
		text-align:left;
	}
	.profile .user-details {
		width:100%;
	}
	
	.ac-row label {
		float:left;
		width:190px;
		line-height:16px;
	}
	.clear-float {
		padding-left:10px;
	}
	
	.ac-row {
		padding-left:10px;
	}
	
	.main .main-content h1 {
		padding-left:10px;
	}
	
	#invitediv {
		min-height:50px !important;
	}
	
	#invitebutton {
		padding-top:8px;
	}
	
	.profile-btn .button {
		margin-left:5px;
		padding:5px;
	}
	
	.wide-container {
		padding-bottom: 150px;

	}
	
	.wide {width:100%}
	
	.activity {padding:10px}
	
	.wrapper {
		width:auto;
	}
	
	.row .agent-bridge-works-2 {
		display:block;
	}
	
	.agent-bridge-works {
		display:none;
	}
	
	.join-btn:link {
		font-size:24px;
	}
	
	.header2 li {
		margin-left:10px;
	}
	
	.main .footer  {
		min-width:none;
	}
	
	.footer-row .wrapper {
		width:auto;
	}
	
	.header2 ul {
		float:left;
		width:100%;
	}
	
	.top-right {
		float:left;
	}
	
	.right-nav {
		background:none;
		border-right:none;
	}
	
	.short-btn-browse {
		float:left;
	}
	.hpform {
		width:100%;
	}
	.hpform1 {
		margin:0px auto 15px;
		padding-bottom:10px;
		float:none;
		width:100%;
	
	}
	
	.column-m3 {
		float:none;
		margin:0px auto;
	}
	
	.hpform2 {
		margin:0px auto;
		float:none;
		width:100%;
	
	}
	
	.hpform3 {
		margin-left:10px;
	}
	
	.login-form {
		float:none;
		margin:0px auto;
	}
	
	.apply-btn-form {
	clear:both;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	width:200px;

	}
	
	.acct_setup_holder input,.acct_setup_holder select {
		width:100%;
	}
	
	.ticker-row .wrapper {
		padding:0px;
	}
	
	.ticker-container {
		width:auto;
		text-align:center;
	}
	
	.ticker-container span {
		float:none;
		margin-top:5px;
	}
	
	.ticker {
		font-size:45px;
	}
	
	.agent-bridge-works .wrapper {
		width:auto;
	}
	
	.glow {
		width:auto;
	}
	
	.works-bg {
		display:none;
	}
	
	
	.ave-head {
		font-size:24px;
	}
	
	.wrapper-home {
		width:auto;
	}
	
	.view-video {
		display:none;
	}
	
	.get-start-row .wrapper  {
		width:auto;
	}
	
	.arrow-process {
		display:none;
		width:auto;
	}
	
	.banner-row h2 {
		font-size:45px;
	}

	.pw-container-right {
		float:none;
		width:100%;
	}

	.pw-container-left {
		display:none;
	}
	
	.text-input-pw {
		width:250px;
	}
	
	.wide-container,.short-container {
		width:90%;
	}
	
	.cyp_col2 {
		float:none;
	}
	
	.wide-container-profile,.short-container {
		width:90%;
	}
	
	.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-draggable .ui-resizable {
		width:100%;
	
	}
	
	.user-thumb {float:left}
	
	.membership_plan_info {
		width:100%;
		font-size:13px;
		line-height:18px;
	}
	.membership_plan_table {
		width:auto;
	}
	
	.membership_plan_benefits {
		width:100%;
		clear:both;
	}
	
	.membership_plan_info_right {
		float:left;
	}
	
	.pcolumn1{ float:left; overflow:hidden; margin-left:30px; width:278px}
	
	.pcolumn2{ float:none; clear:both; overflow:hidden;width:278px}

	.pcolumn3{ float:none; clear:both; overflow:hidden; width:278px}
	
	.column-sm4  {float:none; margin:0px auto}
	
	.contact-info {
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
	}
	
	a:link {font-size:11px}
	.activity-list p {
		font-size:11px;
	}
	
	.right-nav {padding-bottom:15px; padding-top:5px}
	/* Search*/
	.search {width: 220px}
	#searchValue {padding-left:10px;font-size:11px;}
	.search-container {padding:10px}
	
	/* Activity*/
	.pattern-div-activity { width:270px; height:auto}
	.margtop {margin-top:10px; float:left}
	.margtopsend {margin-top:10px}
	.realty-item-activity {width:100%; margin:0px}
	.addbuyerdiv {height:100px}
	.addpopsact {float:left; width:120px}
	.addrefact {float:left; width:145px}
	.accept {margin-left:0px}
	.actbtn {clear:both; float:left}
	.actbtnreq {clear:both; margin-top:10px;float:left}
	.border-dot-act-left{width:20%;float:left;}
	.border-dot-act-right{width:75%;float:right;}
	.border-dot-act {width:auto}
	.pattern-div-activity {width:90%}
	.pattern-div-activity .question {line-height:20px}
	
	/* POPs*/
	.popsform {margin:15px 0 0 0;padding:0 10px;}
	#pocketform {
		margin:0 !important;padding:0 !important;
	}
	#completeadd {
		padding-left:0px !important;
	}
	.pocket-form {
		padding-left:0 !important;
	}
	.c200 { float: none;}
	#cityLabel{display:none}
	#stateLabel{display:none}
	.text-input-city {margin-left:0px}
	.popsaddress {float:left}
	.popsformpermission {height:120px}
	.state_dropdown{float:none; margin-left:0px}
	.text-input-propertyname {width:200px}
	.p_range {margin-top:0px}
	.pinvalid {padding-top:5px; margin-left:0px;}
	.popsformdisplay{min-height:360px}
	.c90 {float:none}
	.text-area {width:100%}
	.img_mobile {width:100%}
	.c480 {width:100%; margin-top:15px;float:left; margin-bottom:15px}
	.price_row {margin-top:15px; clear:both}
	.popsstate {margin-left:0px}
	.pe_zip {width:120px; float:left}
	.pe_ptype {float:none; padding-top:10px; clear:both; width:200px}
	.pe_stype {float:none; padding-top:10px; width:200px}
	.pe_state {padding-top:10px; width:210px; clear:both}
	.addpopsbtn {float:left; clear:both; margin-top:15px}
	.pops {padding:10px}
	.c200 form { float:left; margin-top:15px }
	.edit-buyer {text-align:center; margin-bottom:20px; margin-top:15px}
	.content, .pops_content {width:100%}
	.popsindividual {padding:10px}
	.col1-popsindi {display:none}
	.savedbuyername {width:120px; float:none}
	.buyers-modal {width:100%}
	#buyer-m {margin-bottom:20px}
	#slider_adin {width:100%}
	.large-item-details {width:100%; height:205px}
	.imgsize {width:100%}
	.list-style .seen-expire {text-align:left}
	.permissionlbl {margin-right: 10px; font-size:11px; padding-top: 5px; margin-left:-5px}
	.popsnotes {height:200px}
	.pocket-form label, .pocket-form a:link {font-size: 11px;}
	.whatsthis {margin-left:20px}
	.popsindiphoto {width:200px}

	
	/* Buyers*/
	
	.buyers { padding:10px}
	.addbuyersbtn {float:left; clear:both; margin-top:15px}
	.buyersindividual {padding:10px}
	.list-style .other-description-placeholder {text-align:left; float:left}
	.buyerexpire {float:right}
	.buyersform {padding:10px}
	.buyersnamesection {height:auto}
	.buyerstatus {float:left; margin-top:15px}
	.text-input-buyername {width:100%}
	.buyerzipsection {padding-bottom: 0; height:auto}
	.buyerzipinput {width:250px; padding-bottom:10px}
	.buyerprange {width:150px; margin-top:-10px}
	.buyerpricesection {height:240px}
	.buyersform {padding:10px}
	.buyerpinput {padding-top:15px}
	.buyernameinput {width:270px}
	div#buyer-type {display:none}
	.buyermatch {color:#000000; font-size:11px; margin-right:5px}
	.list-style .items-inner-container{width:100%}
	.list-style .expired_span {float:left}
	
	/*Referrals*/
	.referral_transaction_details_list  {float:left;width:200px; margin-left:0px}
	.referrals {padding:10px}
	.addrefbtn {float:left; clear:both; margin-top:15px}
	.referralform {padding:10px}
	.mclient_fillbox input, .mclient_fillbox select {width:270px}
	.refcountry {width:150px}
	.text-input-refzip{width:120px}
	.pop {width:auto; padding:0px}
	.referral_user_details_list {float:none;margin-top:0;margin-left:5px;clear:both;}
	.referral_transaction_details_labels {width:auto}
	.referral_transaction_details_list_profile {width:auto}
	.tbl_notes {width:auto}
	
	/* Profile */
	.ac-row {width:100%}
	.contact-form {padding:10px}
	#add_more_cell{width:100%}
	.profemail {width:auto}
	.prof-main {padding:10px}
	.profile .user_name {clear:both}
	.prof_sales_msg {width:auto; line-height:18px; float:right}
	.network_row {width:auto}
	.list-style .seen-expire {float:left; clear:both}
	.progress-bar {height:auto; margin-bottom:10px}
	
	/*Security Question */
	.validate-question1 {font-size:11px}

}
@media screen and (min-width: 1350px) {
	.wide-container {
		padding-bottom: 150px;
	}
}

/*@media screen and (max-width: 512px) {
#background img {
width:100%;
height:auto;
}*/