/*  SPECIFIC STYLES

    Define the specfic styles of the site

-------------------------------------------------------------------------------*/

/**/

/* For applying the brand color blue*/

/*

.glow-required {

	border:1px solid #E65252;

	box-shadow:0 0 4px #E65252;

}

*/



.glow-required {

	box-shadow:0px 0px 3px #2c99ce;

}



.invalid {

    border:0px;

}



.text-link {

	color: #007bae!important;

	cursor: pointer;

}



.text-link-dark {

	color: #333333;

}



.text-arrow {

	background: url(../images/blue-arrow-down.png) left center no-repeat;

	padding-left: 10px;

	text-decoration: none;

	color: #3399cc;

	font-size: 11px;

}



.text-arrow:hover {

	text-decoration: underline;

}



.light-gray {

	color: #999999;

	font-size: 10px;

	margin-bottom: 10px;

}



.blue-text {

	color: #3399cc;

}



.orange-text {

	color: #ff6600;

}



.text-link,.text-link-dark {

	text-decoration: none;

	font-size: 11px;

}



.gradient-blue {

	background: url(../images/blue-gradient-bg.png) repeat-x;

	width:150px;

	height:30px;

}



.gradient-blue-toggle {

	background: url(../images/blue-gradient-bg.png) repeat-x;

f}



.gradient-gray {

	background: url(../images/gray-gradient.png) repeat-x #d8d8d9;

}



.gradient-green {

	background: url(../images/green-gradient.png) repeat-x #339900;

	width:150px;

	height:30px;

}



.text-link-dark:hover,.text-link:hover {

	text-decoration: underline;

}



.bold {

	font-weight: 600;

}



.border-dot {

	border-bottom: 1px dotted #bfbfbf;

	padding: 15px 0px

}



.border-dot-pops {

	border-bottom: 1px dotted #bfbfbf;

	margin-bottom:10px;

}



.border-plain {

	border-bottom: 1px solid #bfbfbf;

	padding: 5px 0px

}



/*-------------------------------------------------------------------------

    STRUCTURE Styling

 */

.button {

	font-family: 'OpenSansRegular', Arial, sans-serif;

	border-radius: 2px;

	padding:10px 15px;

	border: 0px;

	text-align: center;

	text-decoration: none;

	color: #fff;

	font-size: 12px;

	outline:none; 

}



.button:hover {

	opacity: .9;

}



.sign-in-btn {

	background: url(../images/blue-gradient-bg.png) repeat-x;

}



.find-me {

	background: url(../images/blue-gradient-bg2.png) repeat-x;

	width: 100%;

}



.sign-up {

	background: url(../images/blue-gradient-bg2.png) repeat-x;

	width: 40%;

}



.align-center {

	text-align:center;

}



.enter-pword {

	width: 195px !important;

	margin-right: 5px;

}



/*-------------------------------------------------------------------------

    Decorators and General style skins

 */



/*------ Header Section ------*/

.header {

	background: #0e4a70;

	overflow: hidden;

}



.landing-head {

	background: url(../images/header-bg.png) repeat-x;

	padding: 6px 90px 9px 120px;

}



.logo {

	width: 199px;

	height: 49px;

	display: block;

}



.landing-head .ab-logo {

	background: url(../images/logo1.png) no-repeat;

}



.main .logo {

	margin: 10px 0px 0px 10px;

}



.main .header {

	min-width: 960px;

	width: 100%;

	box-shadow: 2px 3px 12px #bebebe;

}



.ab-logo {

	background: url(../images/logo2.png) no-repeat;

}



.search-container {

	background: url(../images/blue-border.png) repeat-y left;

	padding: 20px 25px;

}



.search-container .button {

	background: url(../images/search-right.png) no-repeat;

	width: 28px;

	height: 27px;

	border-radius: 0px;

	border: 0px;

	text-indent: -999999px;

}



.search {

	background: url(../images/search-left.png) no-repeat;

	border: 0;

	width: 334px;

	height: 27px;

	padding: 2px 10px;

	font-family: 'OpenSansRegular', Arial, sans-serif;

	font-size: 13px;

}



.right-nav {

	background: url(../images/blue-border.png) repeat-y left #0d4366;

	padding: 26px 10px;

	border-right: 1px solid #275c7f;

}



.right-nav li {

	float: left;

	border-right: 1px solid #275c7f;

	padding: 0px 15px;

}



.right-nav li:last-child {

	border-right: none;

}



.right-nav li a {

	color: #fff;

	font-family: 'OpenSansRegular', Arial, sans-serif;

	font-size: 12px;

	text-decoration: none;

}



.right-nav li a.username {

	/*background: url(../images/blue-arrow-down.png) no-repeat 96px center;*/

	padding-right: 15px;

}



.right-nav li a:hover {

	color: #008cdc;

}



/*------ Landing Menu  ------*/

.landing-head ul li {

	background: url(../images/menu-border.jpg) no-repeat right center;

	text-align: right;

	display: inline-block;

	padding: 0px 18px;

}



.landing-head ul li:last-child {

	border-right: none;

	background: none;

}



.landing-head ul li a {

	font-family: 'OpenSansRegular', Arial, sans-serif;

	text-decoration: none;

	color: #999999;

}



.landing-head ul li a:hover {

	color: #fff;

}



ul.other-nav {

    margin-bottom: 10px;

    margin-left: 218px;

    padding-top: 1px;

}



ul.other-nav li {

	background: none;

	border-right: 1px solid #505050;

}



ul.other-nav li a {

	text-align: right;

	font-size: 12px;

}



.text-input {

	width: 95%;

	border-radius: 2px;

	background: url(../images/text-input-bg.jpg) repeat-x top #fbfbfb;

	border-left: 2px solid #c9c9c9;

	border-right: 1px solid #c9c9c9;

	border-top: none;

	border-bottom: 1px solid #c9c9c9;

	padding: 6px 10px;

	font-size: 12px;

	font-family: 'OpenSansRegular', Arial, sans-serif;

}



.text-area {

	width: 100%;

	height: 90px;

}



.box1 label {

	font-size: 12px;

	color: #666666;

}



.box1 .text-link {

	margin-top: 4px;

}



/*------ Forms ------*/

.forms-content {

	padding-top: 30px;

}



.forms-head {

	margin-bottom: 15px;



}



.sub-head {

	font-size: 12px !important;

	

}



.wide-container {

	width: 545px;

	padding: 20px 23px;

	font-size: 12px;

	margin: 0 auto;

	border: 1px solid #bebebe;

	overflow: hidden;

}





.short-container form>div {

	margin-bottom: 10px;

}



.short-container form>div:last-child {

	margin-bottom: 0px;

}



.short-container form label {

	display: block;

	margin-bottom: 5px;

}



.short-container .forms-head {

	margin-bottom: 15px;

}



.wide-container,.short-container {

	padding: 20px 23px;

	font-size: 12px;

	margin: 0 auto 10px;

	border: 1px solid #bebebe;

	overflow: hidden;

}



.short-container h2,.wide-container h2 {

	margin-bottom: 10px;

}



.short-container {

	width: 399px;

	border:0;

	padding:20px;

}





.wide-container p {

	font-size: 12px;

}



/* Forms */



.pocket-form {

	border-bottom: 1px solid #dedede;

	padding-bottom: 5px;

	padding-top: 15px;

}



.pocket-form h2 {

	font-size: 16px;

	margin-bottom: 15px;

}



.pocket-form label {

	font-size: 12px;

}



.pocket-form .clear-float {

	margin-bottom: 15px;

}



.pocket-form:last-child {

	border-bottom: 0px;

}



.pocket-form .button {

	padding: 6px 18px;

}



.pocket-form .cancel {

	padding: 5px 18px;

	border: 1px solid #d2d2d2;

	color: #333333;

}



.c200 {

	width: 200px;

}



.c130 {

	width: 130px;

}



.c71 {

	width: 71px;

}



.c90 {

	width: 90px;

	margin-right: 40px;

	margin-top: -7px;

}



.c71 label {

	margin-bottom: 10px;

}



.c71  .jqTransformSelectWrapper,

	.c71 .jqTransformSelectWrapper ul {

	width: 71px !important;

}



.c200,

.c130,

.c71,

.c318,

.ys {

	margin-right: 8px;

}



.c200 .jqTransformSelectWrapper,

	.c200 .jqTransformSelectWrapper ul {

	width: 200px !important;

}



.c318 {

	width: 318px;

}



.c280 {

	width: 280px;

}



.c480 {

	width: 480px;

}



.c540 {

	width: 540px;

}



.push-top {

	margin-top: 10px;

}



.push-top2 {

	margin-top: 25px;

}



.push-bottom {

	margin-bottom: 10px !important;

}



.ys label {

	display: block;

	float: none !important;

	margin-top: -11px !important;

	margin-bottom: 2px;

}



.yes {

	border-radius: 2px 0px 0px 2px;

	padding: 7px 12px;

	color: #fff;

}



.no {

	border-radius: 0px 2px 2px 0px;

	padding: 6px 12px;

	color: #333333;

	border: 1px solid #d2d2d2;

}



.yes,

.no {

	text-decoration: none;

	font-size: 12px;

}



.add-photo {

	background: url(../images/add-photo.jpg) no-repeat;

	width: 150px;

	height: 98px;

	display: block;

}



.gallery-addphoto li {

	float: left;

	margin-right: 19px;

	margin-bottom: 25px;

}



.gallery-addphoto li a {

	cursor: pointer;

}



.gallery-addphoto li:last-child {

	margin-right: 0px;

}



.edit-view-setting {

	float: right;

	margin-top: 10px;

	margin-right: 5px;

	font-size: 11px;

}



.setting {

	padding-bottom: 40px;

}



li.setting-list {

	border-bottom: 1px solid #dedede;

	padding: 15px 0px;

	list-style-position: inside;

}



li.setting-list .margin-left {

	margin-left: 23px;

}



li.setting-list:last-child {

	border-bottom: 0px;

}



.setting li label,

	.setting li p {

	/*margin-top: 9px !important;*/

	font-size: #666666;

	font-size: 13px;

	margin-right: 5px;

}



.setting-height {

	height: 250px;

}



.change-password {

	padding-top: 20px;

	padding-bottom: 400px;

}



.change-password label {

	font-size: 13px;

	margin-bottom: 8px;

}



.change-password div {

	width: 298px;

	margin-bottom: 10px;

}





/*---- Profile ----*/

.divider {

	border-top:1px solid #bfbfbf; 

	margin-bottom:10px;

}



.user {

	border-top: 1px solid #f3f3f3;

	padding-top: 15px;

}



.user em {

	margin-bottom: 5px;

	display: block;

}



.user em span {

	color: #666666;

}



.user-name {

	font-size: 14px;

	margin-bottom: 5px;

	margin-top: 10px;

	display: block;

}



.user-thumb {

	border-radius: 4px;

	display: block;

	width: 150px;

	margin-right: 10px;

	float: left;

}



.user-thumb img {

	width: 150px;

}



.user-details {

	padding-left: 90px;

}



ul.list-status {

	margin-top: 10px;

}



ul.list-status li {

	display: inline;

	font-size: 13px;

	font-family: 'OpenSansRegular';

	border-right: 1px dotted #bfbfbf;

	padding: 0px 5px;

}



ul.list-status li:last-child {

	border-right: none;

}



.detail-full {

	margin-bottom: 30px;

}



.details-left,.details-right {

	margin-bottom: 15px;

}



.details-left {

	width: 120px;

}



.details-right {

	width: 285px;

}



.account-setup-bottom .text-link {

	margin-top: 10px;

	float:right;

	

	

}



.account-setup-bottom-action {

	margin-top: 10px;

	float:right;

	margin-right:40px;

	width:250px;

	

	

}



.account-setup-bottom .button {

	margin-right: 10px;

}



.jqTransformSelectWrapper {

	margin-bottom: 10px;

	font-family: 'OpenSansRegular', Arial, sans-serif;

	color: #666666;

	font-size: 12px;

}



.profile-title {

	float:left;

	height: 50px;

}



.profile-title h1{

	font-family: 'OpenSansRegular', Arial, sans-serif;

	font-size:28px;

	color:#0e4a70;

}



/*------ Form Display None ------*/

.security-question,.setup-password,.forgot-password,.password-reset,.new-password

	{ /* display: none; */



}



/*------ Security Question ------*/

.security-question form>div {

	margin-bottom: 30px;

}



.security-question form>div:last-child {

	margin-bottom: 0px;

}



.security-question .jqTransformSelectWrapper,.security-question .jqTransformSelectWrapper ul

	{

	width: 497px !important;

}



/*------ Main Pages ------*/

.wide {

	width: 730px;

	padding: 25px 28px 0px 0px;

}



.sidebar {

	width: 230px;

	padding-left: 10px;

}



.wide .text-input {

	background: url(../images/input-bg.png) repeat-x #fff !important;

	border-top: 1px solid #bbbbbb;

	padding: 6px 10px;

}



.blocks {

	background: url(../images/border-2px.jpg) repeat-x bottom;

	padding: 15px 0px;

	overflow: hidden;

}



.user-avatar {

	margin-right: 10px;

}



.user_name {

	font-family: 'OpenSansRegular';

	font-size: 16px;

	margin-top: 10px;

	margin-bottom: 5px;

	display: inline-block;

}



.realty {

	font-size: 11px;

}



ul.user-menu li {

	line-height: 1.6em;

}



ul.user-menu li a {

	font-size: 13px;

	text-decoration: none;

	color: #006699;

}



ul.user-menu li a:hover {

	text-decoration: underline;

}



.account-setting { background 		: url(../images/account-setting-icon.png) no-repeat left center; }



			.view-profile { background 	: url(../images/view-profile-icon.png) no-repeat left center; }

			.r_contacts	{ background:url(../images/contact_icon.png) no-repeat left center;}

			.view-profile,

			.account-setting,

			.r_contacts { padding-left : 17px; }



.view-profile {

	background: url(../images/view-profile-icon.png) no-repeat left center;

}



.view-profile,.account-setting {

	padding-left: 17px;

}



.activity-list p {

	font-size: 13px;

	margin-bottom: 0px;

	line-height: 1.3em

}



.activity-list .user_name {

	color: #006699;

	font-size: 13px;

}



.activity_number {

    font-weight:bold;



}





.other-user {

	overflow: hidden;

	margin: 0px 10px 30px 0px;

}



.pattern-div {

	background: url(../images/pattern1.png) repeat;

	width: 480px;

	height: 32px;

	padding: 2px 8px;

}



.pattern-div span {

	display: inline-block;

}



.pattern-div .button {

	font-family: 'OpenSansRegular';

	padding: 2px 10px 3px;

	font-size: 11px;

}



.pattern-div .question {

	font-size: 11px;

	margin-right: 13px;

	margin-top: 8px;

}



.decline {

	color: #333333;

	border: 1px solid #c5c5c5;

}



.decline-text {

	background: url(../images/cross.png) left center no-repeat;

	padding-left: 10px;

}



.accept {

	margin-right: 8px;

	margin-left: 8px;

	border: 1px solid #00689b;

}



.accept-text {

	background: url(../images/check.png) left center no-repeat;

	padding-left: 10px;

}



.time {

	background: url(../images/clock-icon.png) left no-repeat;

	margin-bottom: 10px;

}



.calendar {

	background: url(../images/calendar.png) left no-repeat;

	margin-top: 5px;

}



.time,.calendar {

	display: inline-block;

	padding: 2px 0px 2px 20px;

	font-size: 11px;

}



.realty-item,

.re-item {

	width: 470px;

	margin: 30px auto 0px;

	border-top: 1px solid #e3e3e3;

	padding-top: 10px;

	padding-right: 20px;

	overflow: hidden;

}



.re-item { font:11px 'OpenSansRegular'}



.realty-small-thumb {

	margin-right: 10px;

}



.item-number {

	display: block;

	color: #006699;

	margin-bottom: 5px;

}



.reality-description {

	font-size: 11px;

	color: #999;

	line-height: 1.4em;

}



.return-listing {

	border: 1px solid #d2d2d2;

	color: #333333;

}



.return-listing-text {

	background: url(../images/black-arrow.png) left center no-repeat;

	padding-left: 10px;

}



.return-listing,.add-pocket {

	padding: 9px 20px;

	margin: 7px 0px 7px 10px;

	display: inline-block;

	font-size: 11px;

}



.large-item-details {

	width: 350px;

	height: 253px;

	padding: 9px;

	margin-top: 10px;

	margin-bottom: 40px;

	margin-right: 30px;

	background: #e8e8e8;

	border: 1px solid #d8d8d8;

	position: relative;

	box-shadow: 2px 3px 12px #bebebe;

}



.large-item-details span {

	font-size: 12px;

	margin-top: 10px;

}



.item-details {

	width: 320px;

}



.item-details  span {

	display: block;

}



.item-details .item-number {

	font-size: 18px;

	font-family: 'OpenSansRegular';

	color: #3399cc;

	margin-top: 20px;

}



.item-details .reality-description {

	font-size: 13px;

	margin-bottom: 0px;

}



.price-label {

	font-size: 16px;



}



.price {

	font-size: 18px;

	margin-bottom: 20px;

	font-weight:bold;

}



.price-label,.price {

	font-family: 'OpenSansRegular';

}



.edit-pocket,.refer-me {

	padding: 8px 20px;

	font-size: 11px;

}	



.edit-buyer {

	padding: 0px;

	font-size: 11px;

	clear:both;

	margin-top:30px;

	

}



.edit-pocket-text {

	background: url(../images/edit-icon.png) no-repeat left center;

}



.refer-me-text {

	background: url(../images/refer-icon.png) no-repeat;

	margin-left: 10px;

}



.edit-pocket-text {

	padding-left: 15px;

}



.refer-me-text {

	padding-left: 15px;

}



.menu {

	padding: 0;

	clear: both;

}



.menu li {

	display: inline;

}



.menu li a {

	background: #999999;

	font-family: 'OpenSansRegular';

	padding: 10px 10px 5px 10px;

	font-size: 13px;

	margin-left: 10px;

	float: left;

	border-right: 1px solid #d7d7d7;

	border-left: 1px solid #d7d7d7;

	border-top: 1px solid #d7d7d7;

	text-decoration: none;

	color: #fff;

}

.pops_menu li a{ 

margin-left: 0px;

float:left;

padding:10px 20px;

border:1px solid #e8e8e8;

}

.pops_menu li a	{ margin-right:20px;}



.menu li.active a {

	background: #fff;

	color: #333333;

}



.content, .pops_content {

	float: left;

	clear: both;

	color: #333;

	line-height: 1.4em;

	font-size: 12px;

	border: 1px solid #d7d7d7;

	width: 700px;

	margin-bottom: 40px;

	box-shadow: 2px 3px 12px #bebebe;

}





.content p {

	font-size: 12px;

	line-height: 1.5em;

}



.content h2 {

	font-family: 'OpenSansRegular';

	font-size: 13px;

	margin-bottom: 10px;

}



.property-features {

	background: #e8e8e8;

	padding: 20px;

	overflow: hidden;

}



.property-features ul li {

	margin-bottom: 5px;

	list-style: disc;

	font-size: 13px;

}



.first-feature {

	margin-left: 13px;

}



.gallery-container {

	padding: 7px 7px 0px;

	overflow: hidden;

}



.gallery-container li {

	float: left;

	margin-right: 7px;

	margin-bottom: 7px;

}



.gallery-container



li

:nth-child



(4

n

+

0)

{

margin-right

:



0

px

;







}

.gallery-container li a.thumb {

	display: block;

	position: relative;

}



.open {

	background: url(../images/gallery-active.jpg) no-repeat bottom right;

	display: block;

	width: 100%;

	height: 100%;

}



.lock {

	background: url(../images/gallery-lock.jpg) no-repeat bottom right;

	background-color: rgba(154, 154, 154, 0.9);

	display: block;

	width: 100%;

	height: 100%;

}



.last4 {

	margin-right: 0px;

}



/* Forms */

.pocket-form {

	border-bottom: 1px solid #dedede;

	padding-bottom: 15px;

	padding-top: 15px;

}



.pocket-form h2 {

	font-size: 16px;

	margin-bottom: 15px;

}



.pocket-form label {

	font-size: 12px;

}





.pocket-form:last-child {

	border-bottom: 0px;

}



.pocket-form .button {

	padding: 6px 18px;

}



.pocket-form .cancel {

	padding: 5px 18px;

	border: 1px solid #d2d2d2;

	color: #333333;

}



.pocket-listing-number .list-style .seen-expire .right {

	font-size: 11px;

}



.c200 {

	width: 200px;

}



.c130 {

	width: 130px;

}



.c71 {

	width: 71px;

}



.c90 {

	width: 90px;

	margin-right: 40px;

	margin-top:-7px; 

}



.c71 label {

	margin-bottom: 10px;

}



.c71  .jqTransformSelectWrapper,.c71 .jqTransformSelectWrapper ul {

	width: 71px !important;

}



.c200,.c130,.c71,.c318,.ys {

	margin-right: 8px;

}



.c200 .jqTransformSelectWrapper,.c200 .jqTransformSelectWrapper ul {

	width: 200px !important;

}



.c318 {

	width: 318px;

}



.c280 {

	width: 280px;

}



.c480 {

	width: 480px;

}



.c540 {

	width: 540px;

}



.push-top {

	margin-top: 10px;

}



.push-top2 {

	margin-top: 25px;

}



.push-bottom {

	margin-bottom: 10px !important;

}



.ys label {

	display: block;

	float: none !important;

	margin-top: -11px !important;

	margin-bottom: 2px;

}



.yes {

	border-radius: 2px 0px 0px 2px;

	padding: 7px 12px;

	color: #fff;

}



.no {

	border-radius: 0px 2px 2px 0px;

	padding: 6px 12px;

	color: #333333;

	border: 1px solid #d2d2d2;

}



.yes,.no {

	text-decoration: none;

	font-size: 12px;

}



.add-photo {

	background: url(../images/add-photo.jpg) no-repeat;

	width: 150px;

	height: 98px;

	display: block;

}



.gallery-addphoto li {

	float: left;

	margin-right: 19px;

	margin-bottom: 25px;

}



.gallery-addphoto li a {

	cursor: pointer;

}



.gallery-addphoto li:last-child {

	margin-right: 0px;

}



.edit-view-setting {

	float: right;

	margin-top: 10px;

	margin-right: 5px;

	font-size: 11px;

}



li.setting-list {

	border-bottom: 1px solid #dedede;

	padding: 15px 0px;

	list-style-position: inside;

}



li.setting-list .margin-left {

	margin-left: 23px;

}



li.setting-list:last-child {

	border-bottom: 0px;

}



.setting li label,.setting li p {

	/*margin-top: 9px !important;*/

	font-size: #666666;

	font-size: 13px;

	margin-right: 5px;

}



.setting-height {

	height: 250px;

}



.change-password {

	padding-top: 20px;

	padding-bottom: 400px;

}



.change-password label {

	font-size: 13px;

	margin-bottom: 8px;

}



.change-password div {

	width: 298px;

	margin-bottom: 10px;

}



/* ----- Profile Style ---- */

.profile .user-avatar {

	margin: 0px 10px 10px 0px;

}



.profile .user_name {

	font-family: 'OpenSansRegular';

	font-size: 24px;

	margin-bottom: 15px;

	font-weight: bold;

}



.profile .user-details {

	width: 370px;

	padding: 0px;

}



.profile span {

    display: block;

    font-size: 13px;

    line-height: 16px;

    margin-bottom: 10px;

}



.profile .label {

	margin-right: 5px;

	color: #666666;

}



.profile .label-edit {

	margin-right: 5px;

	width:110px;

}



.profile .details {

	font-family: 'OpenSansRegular';

}

.profile .details-edit {

	font-family: 'OpenSansRegular';

	width:200px;

	margin-bottom:10px;

}



.profile .details a {

	font-size: 13px;

	font-family: 'OpenSansRegular';

}



.profile .details,.profile .label {

	margin-bottom: 5px;

}



.profile-btn {

	overflow: hidden;

	margin-bottom: 10px;

}



.profile-btn .button {

	margin-left: 10px;

	padding: 10px 15px;

}



.edit-profile {

	background: url(../images/edit-profile-icon.png) no-repeat left center;

	padding: 5px 0px 0px 15px;

}



.create-referral {

	background: url(../images/create-referall-icon.png) no-repeat left

		center;

	padding-left: 20px;

}



.agent-verified {

	color: #fff;

	margin-top: -15px;

}



.score-container {

	background: url(../images/dark-blue.png) repeat-x;

	border-radius: 5px;

	text-align: center;

	padding: 4px 20px !important;

	overflow: hidden;

	margin-bottom: 10px;

}



.score-container .text-link {

	color: #33ccff;

	font-size: 10px;

	text-decoration: underline;

}



.score-container span {

	display: block;

	margin-top: -4px;

	font-size: 12px;

}



.score-number {

	font-family: 'OpenSansRegular';

	font-size: 38px !important;

}



.rates {

	background: #e8e8e8;

	overflow: hidden;

	border-bottom: 1px solid #dedede;

	border-top: 1px solid #dedede;

}



.rates-column li {

	padding: 10px 9px;

	float: left;

	text-align: center;

	border-right: 1px dotted #dedede;

}



.rates-column li a {

	font-size: 10px;

}



.rates-column li span {

	margin-bottom: 5px;

	line-height: 20px;

}



.rates-column li:last-child {

	border-right: none;

}



.rate-label {

	font-size: 12px;

}



.rate {

	font-size: 12px !important;

	font-family: 'OpenSansRegular';

	font-weight:bold;

}



.rate-label,.rate {

	display: block;

}



.zipcode {

	background: url(../images/zip-icon.png) no-repeat left;

}



.about {

	padding-top: 20px;

	padding-bottom: 50px;

}



.about h1 {

	margin-bottom: 15px;

}



.about h2 {

	font-family: 'OpenSansRegular';

	font-size: 16px;

	color: #003366;

	margin-bottom: 10px;

}



.about li {

	margin-bottom: 10px;

	font-size: 12px;

	list-style: disc;

	list-style-position: inside;

}



.about p {

	font-size: 13px;

	line-height: 1.4em;

	margin-bottom: 10px;

}



.white-bg {

	background: #fff !important;

}



.pocket-listing-number {

	overflow: hidden;

	padding-top: 20px;

}



.pocket-listing-number .listing-number {

	font-size: 16px;

	font-family: 'OpenSansRegular';

	color: #333;

	display: inline-block;

}



.pocket-listing-number h1 {

	margin-bottom: 20px;

}



.pocket-listing-number .pattern-div {

	width: 100%;

	height: auto;

	padding: 40px 20px;

	text-align: center;

	font-size: 13px;

	line-height: 1.4em;

	margin-bottom: 20px;

	clear:both

}



.pocket-listing-number p {

	margin-bottom: 10px;

}



.pocket-listing-number .button {

	padding: 9px 15px;

}

.account-info h3 { margin-bottom:10px; }

.account-info .user-avatar {

	margin: 0px 30px 900px 0px;

}



.account-info .user_name {

	font-size: 24px;

}



.account-info li {

	display: inline-block;

	margin-bottom: 50px;

	border-right: 1px solid #cccccc;

	font-size: 11px;

	padding: 0px 10px;

}



.account-info .jqTransformSelectWrapper li {

	width: 100%;

	margin: 0;

	padding: 0;

	border: none;

}



.account-info li:last-child {

	border-right: 0px;

}



.account-info li:first-child {

	padding-left: 0px;

}



.license {

	background: url(../images/license-icon.png) left center no-repeat;

	padding-left: 18px;

}



.ac-row {

	width: 660px;

	border-top: 1px solid #dedede;

	padding-top: 10px;

	margin-bottom: 20px;

}

.detail-container { line-height:20px;}

.ac-row .detail-container {

	overflow: hidden;

	margin-bottom: 10px;

}



.ac-row .label {

	width: 100px;

	overflow: hidden;

	font-size: 12px;

}



.ac-row label {

	font-size: 12px;

}



.ac-row .label-detail {

	width: 220px;

	overflow: hidden;

	font-family: 'OpenSansRegular';

	font-size: 12px;

}

.label-detail { width:350px; }

.detail {

	margin-left: 490px;

	color: #333333;

}



/* Style for Items List/Tile View */

.items-filter {

	padding: 10px 0px;

	border-bottom: 1px dotted #bfbfbf;

	margin-bottom:10px;

}



.items-filter .c200 .jqTransformSelectWrapper {

	margin-bottom: 0px;

}



.view {

	width: 30px;

	height: 25px;

	display: block;

	cursor: pointer;

}



.tile-view {

	background: url(../images/tile-view.png) top no-repeat;

}



.list-view {

	background: url(../images/list-view.png) top no-repeat;

}



.tile-number {

	font-size: 16px;

	margin: 5px 0px 0px 10px;

	display: inline-block;

}



.items-container {

	overflow: hidden;

}



ul.items li {

	width: 225px;

	float: left;

	background: #fff;

	border: 1px solid #cccccc;

	margin-right: 8px;

	margin-bottom: 30px;

	box-shadow: 2px 3px 8px #bebebe;

	border: 1px solid rgb(204, 204, 204);

}



ul.items li:nth-child(3n) {margin-rul .items liight:0px;



}



.image-placeholder {

	width: 213px;

	height: 128px;

	border: 1px solid #cccccc;

	overflow: hidden;

	margin-bottom: 11px;

	margin-bottom: 10px;

}



.items .item-number {

	font-size: 13px;

	color: #3399cc;

}



.items .reality-description {

	color: #333333;

	margin-bottom: 12px;

}



.items .price {

	padding: 0px 5px;

	display: block;

	font-family: 'OpenSansRegular';

	font-size: 18px;

	color: #333;

	margin-bottom: 10px;

}



.items-inner-container {

	padding: 5px;

}



.seen-expire {

	background: #e8e8e8;

	overflow: hidden;

	border-top: 1px solid #d7d7d7;

	padding: 3px 5px;

	font-size: 11px;

}



/*--Overide Style For List--*/

.list-style ul.items li {

	border-color: -moz-use-text-color -moz-use-text-color #BFBFBF;

    border-style: none none dotted;

    border-width: medium medium 1px;

    box-shadow: none;

   /* height: 70px;*/

    margin-bottom: 5px;

    margin-right: 0;

    width: 100%;

	clear:both;

}



.list-style .image-placeholder {

	width: 100px;

	height: 58px;

	float: left;

	margin-right: 10px;

}



.list-style .items-inner-container {

	width: 413px;

	float: left;

}



.list-style .other-description-placeholder{

	float: right;

	text-align: right;

	margin-top: 5px;

	margin-left: 8px;

}



.other-description-placeholder a {

	font: 11px 'OpenSansRegular';

	/*margin-left: 15px;

	margin-top: 0;

	margin-right: 10px;*/

}

.aa .other-description-placeholder {

	margin-top:25px; 

	text-align: left;

	width:220px;

}



.list-style .seen-expire {

	background: none;

	text-align: right;

	border: none;

}



.list-style .seen-expire span {

	display: inline-block;

}



.list-style .seen-expire a.left {

	float: none;

	/*margin-bottom: 5px;*/

	display: block;

	 margin-top: -3px;

	 height:15px; 

}



/* Search Result Page */



.search-left {

	width: 240px;

	margin-right: 20px;

	padding-top: 25px;

}



.search-right {

	padding-top: 25px;

}



	.search-left h2 {

		

		font:normal 16px 'OpenSansRegular';

	}



	.refine-container {

		min-height: 500px;

		padding: 20px 15px 30px;

		height: 100%;

		border-radius: 8px;

		border:1px solid #dcdcdc;

		width: 100%;

		background-image: linear-gradient(bottom, rgb(201,201,201) 3%, rgb(233,233,233) 53%);

		background-image: -o-linear-gradient(bottom, rgb(201,201,201) 3%, rgb(233,233,233) 53%);

		background-image: -moz-linear-gradient(bottom, rgb(201,201,201) 3%, rgb(233,233,233) 53%);

		background-image: -webkit-linear-gradient(bottom, rgb(201,201,201) 3%, rgb(233,233,233) 53%);

		background-image: -ms-linear-gradient(bottom, rgb(201,201,201) 3%, rgb(233,233,233) 53%);



		background-image: -webkit-gradient(

			linear,

			left bottom,

			left top,

			color-stop(0.03, rgb(201,201,201)),

			color-stop(0.53, rgb(233,233,233))

		);

	}



		.breadbox {

			overflow: hidden;

			margin-bottom: 3px;

		}



		.facet-title {

			font-size 		: 12px;

			line-height 	: 2em;

			float 			: left;

			color 			: #c0c0c0;

		}



		.facet-remove {

			background 		: url(../images/remove-facet.png) top no-repeat;

			width 			: 15px;

			height 			: 15px;

			cursor 			: pointer;

			display 		: block;

			float 			: right;

			margin-top 		: 5px;

		}



				.facet-remove:hover {

					/*background 		: url(../images/remove-facet.png) bottom no-repeat;*/

				}



/*--------------

Search Summarize

---------------*/

.search-summarize {

	padding-top 	: 20px;

}



	.search-summarize-title {

		background 		: url(../images/black-arrow-down.png) left no-repeat;

		font-family 	: 'OpenSansRegular';

		font-size 		: 12px;

		margin-bottom 	: 5px;

		margin-left 	: 10px;

		font-weight		: bold;

	}



	.remove-arrow-left {

		background: none;

		padding-left:0px;

	}



	.sub-nav {

		padding-left: 15px;

	}



	.sub-nav li {

		margin-bottom 	: 5px;

	}



	.sub-nav li a {

		text-decoration : none;

		font-size 		: 13px;

		color 			: #007bae;

		margin-top:20px;

	}



		.sub-nav li a:hover {

			color: #000;

		}



	.sub-nav li span {

		color: #999999;

	}



	.subtype {

		padding-left: 15px;

	}



		.subtype li {

			margin-top: 5px;

		}



	.show-more {

		text-decoration: none;

		font-size: 13px;

		margin-top: 10px;

	}



	.scroll-more {

		position: fixed;

		bottom: 100px;

		right: 270px;

		color: #171717;

		font-size: 14px;

		background: url(../images/scroll-more.png) no-repeat center 17px;

		padding-bottom: 19px;

		z-index: 400;

		display: none;

	}



.search-right {

	width: 700px;



}



.search-result .wrapper {

	padding-top: 10px;

}



	.search-result .items-container {

		margin-bottom: 0px;

		padding-bottom: 0px;

	}



.pagination {

	margin-bottom: 15px;

	padding-right: 10px;

}



ul.page-number{ margin-bottom:10px; }



ul.page-number li {

	display: inline;

	margin-right: 1px;

}



ul.page-number li a.page-number {

	background: url(../images/gray-gradient.png) repeat-x #d8d8d9;

	cursor: pointer;

	border-radius: 3px;

	padding: 1px 5px;

	width: 15px;

	height: 10px;

	color: #fff;

	font-size: 11px;

	text-align: center;

	border: 1px solid #c5c5c5;

	color: #333;

}



ul.page-number li a.page-number:hover  {

	background: url(../images/blue-gradient-bg.png) repeat-x;

	border: 0px;

	padding: 3px 6px;

	color: #fff;

}



.prev {

	background: url(../images/prev-icon.png) no-repeat left center;

	padding-left: 15px;

	color: #333;



}



.next {

	background: url(../images/next-icon.png) no-repeat right center;

	padding-right: 15px;

	color: #3399cc;



}



.prev,

.next {

	font-size: 11px;

	cursor: pointer;

}





/* Easy Slider */



 /* image replacement */

        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{

            margin:0;

            padding:0;

            display:block;

            overflow:hidden;

            text-indent:-999999px;

            }

    /* // image replacement */



	#slider ul, #slider li,

	#slider2 ul, #slider2 li{

		margin:0;

		padding:0;

		list-style:none;

		}

	#slider2{margin-top:1em;}

	#slider li, #slider2 li{ 

		/* 

			define width and height of list item (slide)

			entire slider area will adjust according to the parameters provided here

		*/ 

		width:330px;

		height:210px;

		overflow:hidden; 

		}	

	#prevBtn, #nextBtn,

	#slider1next, #slider1prev{ 

		display:block;

		width:30px;

		height:77px;

		z-index:1000;

		}	

	#nextBtn, #slider1next{ 

		

		}														

	#prevBtn a, #nextBtn a,

	#slider1next a, #slider1prev a{  

		display:block;

		width:24px;

		height:53px;

		background:url(../images/btn_prev.png) no-repeat 0 0;	

		}	

	#nextBtn a, #slider1next a{ 

		background:url(../images/btn_next.png) no-repeat 0 0;	

		}



	#nextBtn,

	#prevBtn {

		position: absolute;

		top: 50%;

		margin-top:-36px;

	}



	#nextBtn {

		right: 3px;



	}		

		

	.large-photo {

		background 		: url(../images/larger-photo.png) no-repeat left center;

		padding-left	: 22px;

		cursor 			: pointer;

	}







/*------ Footer Section ------*/

.footer {

	background: url(../images/footer-bg.png) repeat-x;

	display: block;

	height: 167px;



}



.des_box {

	float: left;

	width: 165px;

}



.des_box_excess {

	left: 25px;

	position: relative;

	top: 5px;

}





.notification_message h1 {

	font: bold 30px 'OpenSansRegular';

	color: #333333;

}



.designation_holder {

	clear: both;

	width: 497px;

	overflow: hidden;

	margin-bottom: 20px;

	padding-bottom: 20px;

}



.languages_holder {

	clear: both;

	width: 497px;

	overflow: hidden;

	margin-bottom: 20px;

	padding-bottom: 20px;

}



.acct_setup_holder {

	clear: both;

}



.acct_setup_holder label {

	width: 100px;

	margin-top: 12px;

	float: left

}



.acct_setup_holder input,.acct_setup_holder select {

	float: left;

	width: 300px;

	margin-bottom: 10px;

	background: url(../images/input-bg.png) repeat-x #fff !important;

}



.acct_setup_holder select {

	height: 30px;

	background: #f6f6f6;

	border: 1px solid #c9c9c9;

}



.error_msg {

	color: #007bae;

	font-size:11px;

}



.text_input_error {

	border: 1px solid #cc0000;

	position: relative;

	z-index: 9999;

}



.filled_error {

	border: 1px solid #cc0000;

	z-index: 9999;

	border-radius: 2px;

	padding: 8px 10px;

	font-size: 12px;

	font-family: 'OpenSansRegular', Arial, sans-serif;

	color: #999999;

}



.error_notifi {

	padding: 8px 10px;

	border-radius: 2px;

	border: 1px solid #cc0000;

}



.prof_edit_text textarea {

	font: 12px 'openSansRegular';

	color: #999999;

	line-height: 22px;

}



.hiddenDiv {

	height: auto;

}



.show_hide {

	display: none;

}



.alert {

	margin: 0px auto;

}



.alert h4 {

	margin: 0;

}



.alert .close {

	position: relative;

	top: -2px;

	right: -15px;

	line-height: 18px;

	float: right;

	color: #333;

	cursor: pointer;

}



.alert-success {

	background-color: #effaff;

	border-color: #d6e9c6;

	color: #333333;

	font: 12px 'OpenSansRegular';

}



.alert-danger,.alert-error {

	background-color: #f2dede;

	border-color: #eed3d7;

	color: #b94a48;

}



.alert-info {

	background-color: #d9edf7;

	border: 1px solid #dadada;

	color: #3a87ad;

}



.alert-block {

	padding-top: 14px;

	padding-bottom: 14px;

}



.alert-block>p,.alert-block>ul {

	margin-bottom: 0;

}



.alert-block p+p {

	margin-top: 5px;

}



#login-form div.clear {

	padding-bottom: 6px;

}



.invalid-text {

	font-style: italic;

	color: red;

}



.ui-autocomplete {

	max-height: 100px;

	overflow-y: auto;

	/* prevent horizontal scrollbar */

	overflow-x: hidden;

}

/* IE 6 doesn't support max-height

* we use height instead, but this forces the menu to always be this tall

*/

* html .ui-autocomplete {

	height: 100px;

}



label {

	font-size: 12px;

}



.text-input-small {

	width: 100%;

	border-radius: 2px;

	background: url(../images/text-input-bg.jpg) repeat-x top #fbfbfb;

	background-color: #f8f8f8;

	border-left: 2px solid #c9c9c9;

	border-right: 1px solid #c9c9c9;

	border-top: none;

	border-bottom: 1px solid #c9c9c9;

	padding: 4px 10px;

	font-size: 12px;

	font-family: 'OpenSansRegular', Arial, sans-serif;

	color: #999999;

}



.transparent-text {

	background-color: #f8f8f8;

	border: 0px;

}



#selectedimagecontainer {

	max-height: 150px;

	overflow:hidden;

}



.grayed-italic {

	color: #a09b9b;

}



.move-up {

	top: -20px;

}



a {

	font-family: 'OpenSansRegular', Arial, sans-serif;

	text-decoration: none;

	color: #007bae;

	font-weight: normal;

}



#forget-register li {

	padding-bottom: 5px;

}



#vpb_uploads_displayer {

	display: none !important;

}



input.text-input.disabled[disabled] {

	background: #999999 !important;

}



.gray {

	opacity: .5;

}



.thumb.gallery {

	overflow: hidden;

	margin:10px;

	height:90px;

}



.clear-float, .clear-both {

	clear: both

}



.left .long {

	width: 100px;

}



.longaddress {

	width: 480px;

}



.shortaddress {

	width: 170px;

}



#state input {

	width: 170px;

}



#state select {

	width: 170px;

}



#completeadd .padded {

	color: red;

	width: 100px;

}



.remove.text-link {

	position: relative;

	left: -10px;

}



#searchdropcontainer {

	width: 110px;

	overflow: hidden;

	position: absolute;

}



#searchdropdown {

	overflow: hidden;

	/*position: relative;*/

	width: 110px;

}

#searchdropcontainer select{

	/*height: 27px;

	padding: 0px;*/

}

#searchValue {

	padding-left: 120px;

}



.downimage {

	height: 7px;

	position: absolute;

	top: 10px;

	left: 100px;

}



.desc-below-photo{

	height: 50px;

	overflow: auto;

}



#user-profile .label.left.paddedadin span{

	padding-top: 8px;

}



.user-menu-low{

	margin-left: 20px;

	display:none;

}



#system-message-container{

	padding-top: 18px;

}



.bg-bottom{

	background-position: bottom;

}



.moredetails-contact{

	margin-left: 100px;

}



.text-link.show-language, .text-link.show-fax, .text-link.show-work, .text-link.show-mobile{

	padding-top: 3px;

	cursor:pointer;

	font-size: 8px!important;

}



.hideitem-lang, .hideitem-fax, .hideitem-mobile, .hideitem-work{

	display:none;

}



/*account settings*/

.a_setting_box,

.a_setting_box2					    { padding:20px; border:1px solid #bfbfbf; }

.a_setting_box,

.a_setting_box2						{ margin-top:20px;}

.inner_asettings					{ margin-left:20px;}

.a_setting_box h2,

.a_setting_box2 h2					{ font:bold 18px 'OpenSansRegular'; color:#333; }

.a_setting_box 						{ min-height:340px;}

.a_setting_box li,

.a_setting_box2 li					{ line-height:22px; font:11px 'OpenSansRegular'; width:300px; }

.a_setting_box ul li a,

.a_setting_box2 ul li a				{ color:#006699; }

.a_setting_box2 					{ clear:both; position:relative; top:-25px; margin-bottom:150px; width:694px;}



.watdis {font-size: 8px;}



.remember_me { margin-left: 5px;}



.other-user.left{

	max-height: 70px;

	overflow:hidden;

	margin-right:10px; 

	margin-top:0px;

}



/*userbox*/



.suggestion-box{

	position: relative;

	overflow: hidden;

	border: 1px solid #f3f3f3;

	float:left;

	cursor: pointer;

	width:225px;

	margin-bottom:10px;  

	margin-right:20px;  

	font:normal 11px 'OpenSansRegular';

	-webkit-box-shadow: 2px 3px 8px (190, 190, 190, 0.2);

	-moz-box-shadow:    2px 3px 8px (190, 190, 190, 0.2);

	box-shadow: 2px 3px 8px #bebebe;	

	height:100px;

		

}



.suggestion-details{

	oveflow: hidden;

	text-align: center;

	padding:10px;

	line-height:14px;

	height: 170px;

}



.suggestion-box .user-image{

	width: 75px;

	padding-top: 10px;

	margin: auto;

	overflow: hidden;

}



.suggestion-box .user-image img{

	margin: auto;

	height: 75px;

}



.user-name{

	font-weight: bold;

}



.user-brokerage{

	font-size: 12px;

}



.user-address{

	padding-top:5px;

	padding-bottom:5px;

	font-size: 10px;

}



#suggestions{

	margin-bottom: 5px;

}



.suggestion-hovered{

	opacity: 0.6;

}



.suggestion-hovered, .suggestion-selected{

	opacity: 0.4;

}



.practically-hidden{

	width: 0px;

	height: 0px;

	overflow: hidden;

}



.upper-right{

	position: relative;

	top: 5px;

	right: 5px;

}



.add-image, .minus-image{

	position: absolute;

	/*height:100%;

	width:100%;*/

	top:5px;

	right:5px;

	opacity:100;

	float:right;

}







/*network page*/

.w_popup { background:#999999; }



.network_row				{ clear:both; margin-top: 10px; width:750px}

.map_network				{ background:url(../images/map_network.jpg) no-repeat; width:715px; height:232px; display:block; margin:0px 0 20px 7px; clear:both;  }

.members_network			{ clear:both; margin:0 0 20px 0; overflow:hidden; font:10px 'OpenSansRegular'; }

.m_npic img					{  border-radius: 35px; border:3px solid #21A8D9; width:50px; height:50px;}

.m_npic,

.m_ninfo,

.m_nholder					{ float:left;}

.m_npic						{ width:50px; margin-right:10px;}

.m_ninfo li h3				{ margin-bottom:5px;}

.m_ninfo a					{ color:#21A8D9;}

.m_nholder					{ width:250px; padding:30px 5px}

.a_wrap						{ white-space:nowrap; overflow:hidden; width:130px; text-overflow: ellipsis}

.a_wrap_search						{ white-space:nowrap; overflow:hidden; width:115px; text-overflow: ellipsis}





.network_box {width:230px; float:left; background:#FFFFFF; overflow:hidden; margin-bottom:10px;  margin-right:5px; color:#999999; position:relative; 

									 font:normal 11px 'OpenSansRegular'

									-webkit-box-shadow: 2px 3px 8px (190, 190, 190, 0.2);

									-moz-box-shadow:    2px 3px 8px (190, 190, 190, 0.2);

									box-shadow: 2px 3px 8px #bebebe;}

									



.network_user_image {width:80px; float:left; margin-top:10px; margin-bottom:10px;   border-right: 1px solid #BFBFBF;}

.network_user_info {width:120px; float:left; margin-top:10px;  font:normal 11px 'OpenSansRegular',Arial,sans-serif; margin:10px; color:#000000}

.network_user_info li {white-space:nowrap; overflow:hidden; width:130px; text-overflow: ellipsis}

.network_user_logo 	{ background:url(../images/agent-bridge-verified-small.jpg) 0 0; width:60px; height:25px; display:block; clear:both; margin-left:10px; margin-right:10px; margin-top:10px  }

.network_user_info li {width:120px}

.network_user_image_inner {margin-left:15px; margin-right:5px; border-radius: 30px; border:3px solid #21A8D9; width:50px; height:50px; overflow:hidden}



/*referals*/



.gen_hide, .private_hide { padding:5px 15px;  margin-left:0px; margin-top:-30px;}



.score_hide{margin-left:120px; margin-top:-10px; }



.a_loghide{ background:#e7f8ff; margin-left: 62px; margin-top: 15px;padding: 10px; font:normal 11px 'OpenSansRegular'; width:470px; }

.a_loghide_arrow{ background:url(../images/a_loghide_arrow.gif) no-repeat; height:12px; width:23px; display:block; margin-top:-22px; margin-left:270px; margin-bottom:10px;}

.a_loghide2{ display:none;  margin-top:-150px;}

.a_loghide p{ font:normal 10px 'OpenSansRegular'}

.score_hide p{ font:normal 12px 'OpenSansRegular'; color:#999999}



.referral_row						{ clear:both; margin-top: 10px; }

.referral_row li					{ float:left; margin-left:4px;}

.referral_row li:nth-child{3n+3}	{ margin-left:0; }

.rbox								{ background:#FFFFFF; width:225px; overflow:hidden; margin-bottom:10px;  margin-right:5px; color:#999999; position:relative; 

									padding-top:5px; font:normal 11px 'OpenSansRegular'

									-webkit-box-shadow: 2px 3px 8px (190, 190, 190, 0.2);

									-moz-box-shadow:    2px 3px 8px (190, 190, 190, 0.2);

									box-shadow: 2px 3px 8px #bebebe;

									}

.referral_user_pic					{ overflow:hidden; width:80px; height:80px; margin:5px}

.referral_user_pic img				{ margin-right:10px;}



.rbox .u_contract,

.rbox .connected,

.rbox .working,

.rbox .no_go,

.rbox .need_help,

.rbox .closed,

.rbox .active,

.rbox .pending,

.rbox .comres						{ height:23px; display:block; /*float:right;*/}



.u_contract							{ background:url(../images/referal_status.jpg) 0 0; width:98px;  }

.connected							{ background:url(../images/referal_status.jpg) -101px 0; width:78px; }

.working							{ background:url(../images/referal_status.jpg) -182px 0; width:68px; }

.no_go								{ background:url(../images/referal_status.jpg) -252px 0; width:58px; }

.need_help							{ background:url(../images/referal_status.jpg) -312px 0; width:78px; }

.closed								{ background:url(../images/referal_status.jpg) -393px 0; width:58px; }

.pending							{ background:url(../images/referal_status.jpg) -453px 0; width:66px; }

.active								{ background:url(../images/referal_status.jpg) -521px 0; width:50px; }

.comres								{ background:url(../images/referal_status.jpg) -571px 0; width:80px; }

.rbox h2,

.referral_user_details a						{ color:#3399cc; font:normal 13px 'OpenSansRegular';}





.referral_user_details strong					{ color:#333333;}

.referral_user_details li						{ line-height:20px}

.referral_user_details a						{ font:normal 12px 'OpenSansRegular'; text-decoration:none; clear:both; }

.referral_user_details a:hover					{ text-decoration:underline; }

.referral_title						{ font:normal 20px 'OpenSansRegular'; color:#333334; clear:both; margin-bottom:10px; }



.referral_viewer					{ clear:both; overflow:hidden; padding:10px 0 10px 0; border-top:1px dashed #bfbfbf; margin-top:-120px; }

.my_rate_box						{ border-top:1px dashed #bfbfbf; padding:10px 0; overflow:hidden; clear:both; }

.my_rate_info						{ clear:both; padding-top:10px;}

.my_rate_bank						{ clear:both ; padding-top:10px; font:normal 13px 'OpenSansRegular'; overflow:hidden;}

.my_rate_info li					{ float:left; width:160px; border-right:1px dashed #bfbfbf; padding:10px 0; text-align:center;}

.my_rate_info li:last-child			{ width:auto; border-right:0; }

.my_rate_info ul li strong			{ font:normal 25px 'OpenSansRegular'; }

.my_rate_info ul li span			{ font:bold 13px 'OpenSansRegular';}

.my_rate_info ul					{ margin-left:20px;}

.crop_image							{ margin-top:10px; border:0; background: url(../images/blue-gradient-bg.png) repeat-x; font:normal 9px 'OpenSansRegular'; border-radius: 2px; color:#FFFFFF; padding:5px; outline:none; width:150px; height:30px;  }





.invisible							{ width: 0px; height: 0px}





.border-dot .other-user{

	height: 60px;

	width: 60px;

	margin-top:5px;

}





.push-top2 label					{ margin-bottom:5px ;}

.push-top2 select					{ min-width:200px;}



.progress_close						{ border:0; background:#FFFFFF; color:#000000; font-weight:bold;  }



.select_nostyle a,

#searchdropcontainer .select_nostyle a	{ border:0; background:none; height:25px; margin-top:2px;}

.whats_style{font:normal 13px 'OpenSansRegular';}

.setting-list_select		{ min-width:125px}



.agentname{

	cursor: pointer;

}



.listings{

	margin-left: 10px;

}



.history-date, .history-status, .history-note{

	padding-left: 10px;

	float: left;

}



.history-date{

	width: 20%;

}

.history-status{

	width: 50%;

}

.history-note{

	width: 30%;

}



.hover-item{

	cursor: pointer;

}



.viewer_image{

	width: 20px;

	max-height: 20px;

	overflow:hidden;

}











/*** loading ***/



#loadingimage_custom {

  width: 100%;

  height: 100%;

  top: 0px;

  left: 0px;

  position: fixed;

  display: block;

  opacity: 0.4;

  background-color: #fff;

  z-index: 99;

  text-align: center;

}



#loading-image_custom {

	top: 50%;

	position: fixed;

	margin-top: -200px;

	left: 50%;

	margin-left: -200px;

  z-index: 100;

}



.cursor-point{

	cursor: pointer;

}



.strong{

	font-weight: bold;

	font-size:14px;

}



.panel-head{

	cursor:pointer;

	background-color: #003366;

	color: #fff;

	font-weight: bold;

	padding-left: 2px;

	margin: 2px 0;

}

.panel-head:hover{

	background-color: #003340;

}



.focus {

    border: 2px solid red;

}



.download-text{

	background: url(images/dl.png) no-repeat;

	padding-left: 20px;

}



#try_hard_upload{

	padding-bottom:5px;

}



.ref_popup				{ font:normal 14px 'OpenSansRegular',Arial,sans-serif; clear:both; overflow:hidden; text-align:left; width:650px; }

h2						{ font:normal 18px 'OpenSansRegular',Arial,sans-serif; color:#007bb5;}

.t_border				{  border-top:1px solid #dedede; }

.date_update,

.status_change ,

.notes 					{ width:auto; float:left;   border-bottom:1px solid #dedede; padding:10px 30px; height:60px;  font:normal 12px 'OpenSansRegular',Arial,sans-serif;  }

.date_update 			{ border-left:1px solid #dedede; width:150px; text-align:center; }

.status_change 			{ border-left:1px solid #dedede; border-right:1px solid #dedede; width:350px;  }

.notes					{ border-right:1px solid #dedede; width:150px; text-align:center; }



.referral_transaction_details_list  		{ width:380px; float:left; margin-left:10px; overflow:hidden; margin-top:5px }

.referral_transaction_details_list_profile 	{ width:360px; float:left; margin-left:10px; overflow:hidden; margin-top:5px }



/*------ Use for Referrals ------*/

.l_rbox									{ /*padding-right: 10px;*/ width:100%;  }	

.rbox_list								{ display:none; }

.l_rbox .rbox							{ width:100%; clear:both; margin-bottom:15px; height: 100%; padding:5px; color:#000000; }

.l_rbox .rbox span						{ font:11px 'OpenSansRegular';}

.l_rbox .rbox .referral_transaction_details_left			{ width:80px; }

.l_rbox .rbox .rbox_grid				{ display:none; height:225px }

.l_rbox .rbox .rbox_list				{ display:block; }



/*------ User for Buyers ------*/

.b_rbox									{ /*padding-right: 10px;*/ width:99%;  }	

.rbox_list								{ display:none; }

.b_rbox .rbox							{ width:100%; clear:both; margin-bottom:15px; height: 100%; padding:5px; color:#000000; }

.b_rbox .rbox span						{ font:11px 'OpenSansRegular';}

.b_rbox .rbox .referral_transaction_details_left			{ width:80px; }

.b_rbox .rbox .rbox_grid				{ display:none; height:225px }

.b_rbox .rbox .rbox_list				{ display:block; }







.m_wallet				{ font:12px 'OpenSansRegular'; line-height:18px; margin-bottom:20px;}

.m_wallet span			{ font:10px 'OpenSansRegular';}

.my_wallet_icon 		{ background 	: url(../images/wallet.png) no-repeat left center; padding-left : 17px; } 



.b_info_landscape 		{ width:250px; float:left; margin-left:20px; overflow:hidden; }



.referral_user_pic img				{ margin-right:10px;}

.referral_user 						{ border-bottom:1px solid #d7d7d7; overflow:hidden; margin-bottom:10px; padding:5px; height:100px; }

.referral_transaction_details   					    { clear:both; overflow:hidden; position:relative; margin-bottom:30px; padding-left:10px; font:normal 11px 'OpenSansRegular'; height:105px;}



.referral_user_details							{ font:normal 11px 'OpenSansRegular'; width:120px; float:right; color:#000000 }

.referral_user_details_list						{ font:normal 11px 'OpenSansRegular'; margin-right:10px; margin-top:10px}

.referral_user_details a						{ font:normal 11px 'OpenSansRegular';}

.referral_user_details a						{ margin-top:5px;}

.l_update span 						{ font:normal 11px 'OpenSansRegular',Arial,sans-serif;}

.referral_transaction_details_labels		{ float:left; width:80px;}

.referral_transaction_details_actual	{ float:left; width:120px;}

.c_name									{ float:left; width:80px;}

.referral_transaction_details_labels a							{ font:normal 12px 'OpenSansRegular',Arial,sans-serif; }





.referral_transaction_details_left					{ float:left; width:60px; color:#000000;  }

.referral_transaction_details_container				{ height:100px; clear:both;}

.referral_transaction_details_text					{ clear:both; overflow:hidden; font:normal 11px 'OpenSansRegular'; color:#000;  }

.client_download_list							{ width:15px;height:15px; margin-left: 5px;}

.client_download_grid					{ background:url(../images/download_icon_grid.png) no-repeat;width:40px;height:40px;position:absolute; right:5px; top: 2px; }

.view_ref							{ background:#e8e8e8 ; padding:5px 0; overflow:hidden; text-align:center; position:absolute; bottom:0; width:100%; border-top:1px solid #d7d7d7; font-size:12px }

.view_ref a							{ text-decoration:none ;  color:#007BAE; }

.l_update							{ font:normal 10px 'OpenSansRegular'; clear:both; overflow:hidden; margin:10px 0;}



.pcolumn{ float:left; overflow:hidden; margin-left:30px; width:278px}

.pcolumn h2	{ background:#e8e8e8; padding:10px; font-size:14px; width:258px; }



.pcolumn label{ font:normal 10px 'OpenSansRegular',Arial,sans-serif; line-height:18px; text-align:center; float:none; clear:both; }

.pcolumn:first-child{ margin-left:0; }

.pop { padding:0px 30px 30px 30px; width:959px; overflow:hidden; }

.pop p	{ font:normal 11px 'OpenSansRegular',Arial,sans-serif; line-height:18px; }

.pop h1	{ font:normal 22px 'OpenSansRegular',Arial,sans-serif;}

.pop h2	{ width:258px; background:#eeeeee; color:#000000; font:normal 12px 'OpenSansRegular',Arial,sans-serif; padding:7px ; clear:both;  }

.pop h3	{ font:normal 12px 'OpenSansRegular',Arial,sans-serif; margin-top:10px;}

.ptext_input { width:258px; padding:5px 10px; margin-bottom:10px;}	

.sptext_input,

.pselect{ width:114px; padding:5px 0px 5px 0px; margin-bottom:10px; float:left;}



.order_service,

.order_qty,

.order_sub	{ width:120px; float:left; text-align:left; font:normal 12px 'OpenSansRegular',Arial,sans-serif; line-height:18px; margin-left:10px;}



.order_qty  { width:40px; text-align:center; }	 

.order_sub	{ width:69px; text-align:left; }	 



.order_box	{ padding-bottom:20px; border-bottom:1px solid #999999; overflow:hidden; margin-bottom:20px; width:259px;  }



#summary .select2-container { margin-top: -5px }



.sub-nav ul li input		{ margin-right:10px; margin-bottom:8px;}

.sub-nav ul li label { margin-bottom:8px;}

.refine-container input.button  { margin-top:20px; width:206px; text-align:center; }

.psubmit_btn					{ padding: 5px 20px 10px 20px; clear:both; overflow:hidden; line-height:18px;  }

.referral_transaction_details_text .left span		{ font:normal 11px 'OpenSansRegular',Arial,sans-serif;}

.referral_user_details h2 a			{ font:normal 12px 'OpenSansRegular',Arial,sans-serif;}

.lbl_spacer					{ float:left; }	

.list_margin				{ margin-left:5px}

.referral_user_details_city			{ float:left; width:125px; margin-bottom:10px;}

.cselect                     { margin-top: 15px;}

.prange .select2-choice		{ margin-top: 8px;}





/* custom slider v1*/

#slider_adin{

	width: 330px;

	height: 215px;

	overflow:hidden;	

}

#slider_adin div{

	width: 990px;

	margin:0;

	padding:0;

	list-style:none;

}



.referral_user_pic_container.l_rbox{

 	margin-top: 5px!important;

    padding: 0!important;

}



div.aa{

	width: auto;

	float: left;

}





ul.aa li{

	list-style: none;

	border: 0px !important;

	width: auto !important;

	float: left !important;

	margin-right: 4px !important;

}



div.items-container{

	border-color: -moz-use-text-color -moz-use-text-color #BFBFBF;

    border-style: none none dotted;

	margin-bottom: 5px;

}



div#buyer-type{

	float: right;

    margin-top: 0px;

	font-weight: bold;

	font-size: 15px;

	text-align: right;

    width: 200px;

	

	}



div.buyer_a{

	color: green;

}

div.buyer_b{

	color: blue;

}

div.buyer_c{

	color: orange;

}

div.buyer_inactive{

	color: black;

}



div.all-view{

	font-size: 12px !important;

	/*margin-top: -4px !important;*/

	margin-right: 12px;

    margin-top: 5px !important;

}

div.aa div.all-view{

	float: right;

    font-size: 12px !important;

    font-weight: bold;

    margin-left: 214px !important;

    margin-top: 6px !important;

    position: absolute;

}



div.aa .buyer-name-link a{

	display: block;

	border: 1px solid red;

	float: left;

}



.buyer-details-small{

	font-size: 11px;

	color: #333333;

	margin-top: -10px;

}



div.aa .buyer-details-small{

	border: 1px solid blue;

}



.buyer-detail-list{

	font-size: 11px;

	float: left;

	

}



.buyer-detail-list li{

	line-height:16px;

	

}



div.aa .buyer-detail-list{

	width: 95px;

}



div.aa .buyer-detail-list li {

	width: 100% !important;

	overflow: visible !important;

	color: #000;	

	line-height:16px;

}



.l_update_buyer{

	display: none;

	

}



div.aa .l_update_buyer{

	background: none repeat scroll 0 0 #e8e8e8;

    color: rgb(51, 51, 51);

    display: block;

    font-size: 12px;

    height: 21px;

    margin-left: -5px;

    margin-top: 210px;

    padding-right: 2px;

    padding-top: 3px;

    position: absolute;

    text-align: center;

    width: 228px;

	border-top: 1px solid rgb(215, 215, 215);

	height:25px;

}



#buyer-aa-border{

	display: none;

}



div.aa #buyer-aa-border{

	border-bottom: 1px solid #D7D7D7;

    display: block;

    float: left;

    height: 1px;

    margin: 2px auto 0 0;

    width: 100%;	

}



div.aa .rbox{

	box-shadow: 0;

	height:250px;

}



div.buyer-image-placeholder{

	text-align: center;

}



div.individual-buyer-image{

	height: 235px;

}



div.individual-buyer-details #buyer-type{

	margin-top: -38px;

}



div.rbox div.image-placeholder{

	width: 60px;

}



div.rbox div.image-placeholder img{

	margin-top: 5px;

}



#buyer-needs-container{

	display: none;

	vertical-align:top;

	

}



.buyer-needs-individual {

	clear:both;

	line-height:16px;

	font-size:13px;

}







div.aa #buyer-needs-container{

	display: block;

	width: 100%;

	float: left;

	height: auto;

	font-size: 11px;

	color: #000000;

}



div.aa #buyer-needs{

	height: 20px;

    margin-bottom: 10px;

    margin-top: 0px;

    padding: 0 5px;

    width: 230px;

	line-height:15px;

}



#property_name{

	font-size: 11px;

	/*margin-bottom: -9px;*/

}



#search_more{

	display: block;

	text-align: center;

}



#loader-container{

	width: 100%;

	text-align: center;

}



.pattern-div-pl-notif{

	margin-top: 5px;

}



.seen-by{

	margin-top: -5px;

    width: 100%;

	margin-bottom: -5px !important;

}



.buyers-modal{

	margin: 10px;

	padding: 0px;

}



#buyer-modal-container{

	list-style: none;

	border: 0px solid red;

}



#buyer-m{

	margin-bottom: 5px;

}



.savetobuyercheckbox{

	margin-right: 5px;

}



#buyer-m-tbl, #buyer-m-tbl td, #buyer-m-tbl tr{

	border: 0px solid;

	padding: 5px;

}



#savebuyers-button-container{

	border: 0px solid red;

	float: right;

    margin-top: 25px;

    text-align: right;

}



#result-message{

	margin-top: 15px;

	color: #006699;

}



#cancel-savebuyer{

	float: left;

    margin-top: 17px;

    text-align: center;

    width: 80px;

}



#cancel-savebuyer a{

	color: #007BAE;

}



#save-savebuyer{

	float: left;

}



#save-savebuyer a{

	height: 30px;

    padding: 6px;

    width: 80px;

}



.button-save{

	font-family: 'OpenSansRegular', Arial, sans-serif;

	border-radius: 2px;

	padding: 9px 15px;

	border: 0px;

	text-align: center;

	text-decoration: none;

	color: #fff;

	font-size: 12px;

}



#save-buyer-title{

	border: 0px solid red;

}



#save-buyer-title h4{

	border: 0px solid red;

}





.panel_info			{ background:#e8e8e8;  border-top:1px solid #d7d7d7; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; padding:10px 20px; }

.ui-tabs ul.ui-widget-header { background:#ffffff; } 

.c200 form { float:right; } 



.grid-style ul.items li { height: 275px;  position:relative; }

.grid-style .other-description-placeholder .seen-expire { width:223px; padding-right: 10px; }

.grid-style .other-description-placeholder { position:absolute; bottom:0; }



rbox_list #buyer-type a{ color:#FF0000}



/* ----- Save POPs ---- */



.col1 {

	float:left;

	width:15%;

	margin:10px 10px 5px 2px

}

.col2 {

	float:left;

	width:26%;

	margin:10px 10px 5px 2px

}

.col3 {

	float:left;

	width:26%;

	margin:10px 10px 5px 2px

}

.col4 {

	float:left;

	width:26%;

	margin:10px 10px 5px 2px

}





/* Search Agent Box*/

.sbox_agent { background:#FFFFFF; overflow:hidden; margin-bottom:10px;  margin-right:5px; position:relative; 

									padding-top:5px; font:normal 11px 'OpenSansRegular'

									-webkit-box-shadow: 2px 3px 8px (190, 190, 190, 0.2);

									-moz-box-shadow:    2px 3px 8px (190, 190, 190, 0.2);

									box-shadow: 2px 3px 8px #bebebe;

									}



.sagent_user_details { font:normal 11px 'OpenSansRegular'; width:120px; float:right; margin-left:5px }



.sagent_user_details li{ width:110px}



.sagent { border-bottom:1px solid #d7d7d7; overflow:hidden; margin-bottom:10px; padding:5px; }



.sagent_user {width:80px; float:left; overflow:hidden}



.sagent_user_details_lower { clear:both; overflow:hidden; margin-bottom: 10px}



.sagent_user_details_labels {font-size:11px}



.sagent_user_details_actual {font-size:14px; width:120px; font-weight:bold; margin-top:5px}



/* tooltip */

#dhtmltooltip{

position: absolute;

left:-300px;

line-height:14px;

padding:8px 12px;

background:#effaff;

border-radius:3px;  

visibility: hidden;

font-size:11px;

color:#000000;

z-index: 9999;

/*Remove below line to remove shadow. Below line should always appear last within this CSS*/

filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);

}



#dhtmlpointer{

position:absolute;

left: 0px;

z-index: 101;

visibility: hidden;

}


/* DROP FORM */
#drop_form				{ position:relative; z-index:1; width:250px; float:right; margin-right: 123px;}
#savePops_form			{ background:#fff; border:1px solid #333; display:none;  padding:20px;  position:absolute; z-index:9999; overflow:hidden; top:7px; left:160px; }
a#drop_close			{ position:absolute; top:20px; right:20px; font-weight:bold; font-size:16px;  }	