.left {
    float: left;
}

.push-top2 {
    margin-top: 25px;
}

.pocket-form {
	width:100%;
}

.c200, .c130, .c71, .c318, .ys {
    margin-right: 8px;
}
.c200 {
    width: 200px;
}
.c200, .c130, .c71, .c318, .ys {
    margin-right: 8px;
}
.c200 {
    float: left;
    width: 200px;
}

.error_msg {
    color: red;
    font-size: 11px;
    font-weight: bold;
}

.text-input {
    background: #fbfbfb scroll center top;
    border-color: -moz-use-text-color #c9c9c9 #c9c9c9;
    border-radius: 2px;
    border-style: none solid solid;
    border-width: medium 1px 1px 2px;
    font-family: "OpenSansRegular",Arial,sans-serif;
    font-size: 12px;
    padding: 6px 10px;
    width: 95%;
}

.wide .text-input {
    background: url(../images/input-bg.png) repeat-x #fff !important;
    border-top: 1px solid #bbbbbb;
    padding: 6px 10px;
}

.popsaddress {
    float: none;
}


.pocket-form .clear-float {
    margin-bottom: 5px;
}
.clear-float {
    clear: both;
}
.clear-float, .clear-both {
    clear: both;
}


.change_country {
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
}


.popsstate {
    margin-left: 10px;
}

.ys label {
    display: block;
    float: none !important;
    margin-bottom: 2px;
    margin-top: -11px !important;
}
.pocket-form label {
    font-size: 12px;
}

.yes, .no {
    font-size: 12px;
    text-decoration: none;
}
.no {
    border: 1px solid #d2d2d2;
    border-radius: 0 2px 2px 0;
    color: #333333;
    padding: 6px 12px;
}

.yes {
    border: 1px solid #d2d2d2;
    border-radius: 0 2px 2px 0;
    color: #333333;
    padding: 6px 12px;
}

.gradient-blue-toggle {
    background: rgba(0, 0, 0, 0) url("../../../../templates/agentbridge/images/blue-gradient-bg.png") repeat-x scroll 0 0;
}

.gradient-gray {
    background: #d8d8d9 url("../../../../templates/agentbridge/images/gray-gradient.png") repeat-x scroll 0 0;
}


.c480 {
    width: 480px;
}

.permissionlbl {
    margin-right: 40px;
    padding-top: 5px;
}

.whatsthis {
    float: left;
    margin-left: 25px;
    margin-top: 5px;
}

.gallery-addphoto li a {
    cursor: pointer;
}

.gallery-addphoto li:last-child {
    margin-right: 0;
}

.gallery-addphoto li {
    float: left;
    margin-bottom: 25px;
    margin-right: 19px;
}

.add-photo {
    background: rgba(0, 0, 0, 0) url("../../../../templates/agentbridge/images/add-photo.jpg") no-repeat scroll 0 0;
    display: block;
    height: 98px;
    width: 150px;
}

.pocket-form {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    padding-top: 10px;
}
.popsformpermission {
    height: 100px;
}

#try_hard_upload {
    padding-bottom: 5px;
}
.text-link, .text-link-dark {
    font-size: 11px;
    text-decoration: none;
}
.text-link {
    color: #007bae !important;
    cursor: pointer;
}

ul.gallery-addphoto {
    list-style: outside none none;
}

#country_modal_left {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #bfbfbf;
}

.choose-country {
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    margin: 5px;
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

#country_modal_right {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}

.tab {
    display: none;
    padding-top: 20px;
}


.setting {
    padding-bottom: 40px;
}

.setting ul {
	list-style: outside none none;
}


.setting ul li.setting-list {
    border-bottom: 1px solid #dedede;
    list-style-position: inside;
    padding: 15px 0;
}

.setting li label, .setting li p {
    font-size: 13px;
    margin-right: 5px;
}

.c480 input,
.c480 label,
.c480 #settings_desc {
	float:left;
}

.c480 #settings_desc {
	width:480px;
}


.setting ul li.setting-list input[type=radio] {
	margin-right:5px;
}
.setting ul li.setting-list input,
.setting ul li.setting-list label {
	float:left;
}

.button {
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    font-family: "OpenSansRegular",Arial,sans-serif;
    font-size: 12px;
    outline: medium none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}
.gradient-blue {
    background: rgba(0, 0, 0, 0) url("../../../../templates/agentbridge/images/blue-gradient-bg.png") repeat-x scroll 0 0;
    height: 30px;
    width: 150px;
}

.practically-hidden {
    height: 0;
    overflow: hidden;
    width: 0;
}

.wide .text-input {
    background: #fff url("../../../../templates/agentbridge/images/input-bg.png") repeat-x scroll 0 0 !important;
    border-top: 1px solid #bbbbbb;
    padding: 6px 10px;
}

.text-area {
    height: 90px;
    width: 100%;
}

.change_country a {
	font-family: 'OpenSansRegular', Arial, sans-serif;
    text-decoration: none;
    color: #007bae;
    font-weight: normal;
}

#editclickchangecurrency a, #editclickrevertcurrency a,
#clickchangecurrency a, #clickrevertcurrency a , a#showhidefield {
	font-family: 'OpenSansRegular', Arial, sans-serif;
    text-decoration: none;
    color: #007bae;
    font-weight: normal;
}

.ui-dialog {
	z-index:10000 !important;
}


.tabs {
    clear: both;
}

.tab-links::after {
    clear: both;
    content: "";
    display: block;
}

.tab-links a {
    color: #4c4c4c;
    display: inline-block;
    font-weight: 600;
    transition: all 0.15s linear 0s;
}

#changecountry ol, ul {
    list-style: outside none none;
	margin:0;
}

#changecountry .tab-content {
    background: #fff;
    width: 80%;
	border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

.pe_zip {
    width: 120px;
    float: left;
    margin-right: 20px;
}

.select-disabled {
	display: block;
    height: 23px;    
	padding: 2px 10px 5px 10px;    
	overflow: hidden;    
	position: relative;    
	border: 1px solid #aaa;   
	white-space: nowrap;    
	line-height: 27px;    
	color: #666666;    
	text-decoration: none;	
	min-width:100px;	    
	-webkit-border-radius: 2px;       
	-moz-border-radius: 2px;            
	border-radius: 2px;    
	-webkit-background-clip: padding-box;       
	-moz-background-clip: padding;            
	background-clip: padding-box;    
	-webkit-touch-callout: none;      
	-webkit-user-select: none;       
	-khtml-user-select: none;         
	-moz-user-select: none;          
	-ms-user-select: none;              
	user-select: none;    
	background-image: 
	-webkit-gradient(linear, left bottom, left top, color-stop(0, #d1d1d1), color-stop(0.5, #ebebeb));    
	background-image: -webkit-linear-gradient(center bottom, #d1d1d1 0%, #ebebeb 50%);    
	background-image: -moz-linear-gradient(center bottom, #d1d1d1 0%, #ebebeb 50%);    
	background-image: -o-linear-gradient(bottom, #d1d1d1 0%, #ececec 50%);    
	background-image: -ms-linear-gradient(top, #ececec 0%, #d1d1d1 50%);    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ececec', endColorstr = '#d1d1d1', GradientType = 0);    
	background-image: linear-gradient(top, #ececec 0%, #d1d1d1 50%);
}

.pe_ptype {
    float: left;
    margin-right: 20px;
}

.pe_stype {
    float: left;
}

.pe_stype {
    float: left;
}

#edit_jform_zip, #edit_jform_city, #edit_jform_state_text {
	border:1px solid #aaa;
}

.pe_state {
	float:left;
}


.imgs_th {
    cursor: pointer;
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    padding: 5px;
}