#graph_container a:link,
#graph_container a:visited,
#graph_container a {
	color: #555555;
    text-decoration: underline !important;
}

#graph_container {
	font-weight: normal !important;
}
#graph_container h2 {
	margin: 0 0 5px 0;
}
#graph_container h3 {
	color: #FF8800;
	margin: 0 0 5px 0;
}
#graph_container h4 {
	margin: 0 0 5px 0;
	color: #275886;
	font-size: 13px;
}

#complaints {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: transparent url(../images/statsHeader.png) no-repeat scroll 0 0;
	margin: 0;
	padding: 4px;
	text-align: center;
}

#complaint-count {
	color: #555555;
}

#complaints a {
	font-size: 14px;
}


#detail-stats {
	font-size: 1.4em;
	background-color: #f1f1f1;
	padding: 0;
	width: 320px;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.stats-list {
	font-size: 90%;
	margin:14px 10px 14px 0;
	padding:0 0 0 10px;
}

ul.stats-list {
	list-style: none outside none;
}

.stats-list li {
	border-bottom: 1px dashed #cdcdcd;
	font-size: 0.7em;
	padding: 5px 0;
}

.stats-list li:last-child {
    border: 0 none !important;
}

.stats-list li .value {
	color: #ff8800;
	float: right;
	font-weight: bold;
}
.stats-list .name {
	position: relative;
	top: 0px;
}
.stats-list .name input {
	position: relative;
	top: -2px;
}
.stats-list .value {
	position: relative;
	top: 2px;
}

.countrystats, .twitterstats {
	color: #555555;
	display: block;
	background-color: #f1f1f1;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	overflow: hidden;
}
.optionsHeader {
	background: url(../images/optionsHeader.png) no-repeat 0 0;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 0 0 10px;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}
.optionsHeader span {
	display:inline-block;
	height:16px;
	margin:0 0 0 7px;
	padding:0 0 0 25px;
}
.countrystats .optionsHeader span {
	background:url("../images/globe.png") no-repeat scroll 0 0 transparent;
}
.twitterstats .optionsHeader span {
	background:url("../images/twitter_16.png") no-repeat scroll 0 0 transparent;
}
.optionsHeader_r {
	background: url(../images/optionsHeader_r.png) no-repeat 0 0;
	height: 26px;
	width: 24px;
	float:right;
	position:relative;
	top:-6px;
	cursor: pointer;
}
.optionsHeader_rc {
	background: url(../images/optionsHeader_rc.png) no-repeat 0 0;
}
.optionsContent {
	padding: 10px;
}

.tweet {
	margin: 0 5px 1em;
}
.twitterStatus {
	margin-bottom: 3px;
}
.twitterInfo, .twitterInfo a {
	color: #afa78e !important;
}

#cacheLoader {
    display: inline-block;
    height: 16px;
    position: relative;
    top: -2px;
    width: 16px;
    visibility: hidden;
}