/* share report */
*:focus {
	outline: none;
}

table.noPadding {
	border-collapse: collapse;
	display:block;
}

table.noPadding td {
	padding: 0;
}

#directLink{
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	margin:2px 10px;
}

#shareReport {
	width: 350px;
    margin-bottom: 1em;
}

#shareReportTitle {
	float: left;
	margin: 0 0px 0 0;
	background: #dedede !important;
	border: 1px solid #CCCCCC !important;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-bottom: 0px solid #dedede !important;
	z-index: 2;
	position: relative;
}

#shareReportTitle h3 {
	background: transparent url(../images/mail_16.png) no-repeat scroll left center;
	margin: 0 10px;
	padding: 10px 0px 10px 25px;
	font-size: 12px;
	max-width:450px;
}

#shareReportTable {
	padding: 10px;
	background: #dedede !important;
	border: 1px solid #CCCCCC !important;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	float: left;
	position: relative;
	top: -1px;
	z-index: 1;
}

#shareReportTable td {
	padding: 5px;
}

#shareReportTable input {
    width: 335px;
}


#shareReportOptionsTitle {
	float: left;
	margin: 0 0px 0 0;
	background: #dedede !important;
	border: 1px solid #CCCCCC !important;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-bottom: 0px solid #dedede !important;
	z-index: 2;
	position: relative;
}

#shareReportOptionsTitle h3 {
	background: transparent url(../images/mail_16.png) no-repeat scroll left center;
	margin: 0 10px;
	padding: 10px 0px 10px 25px;
	font-size: 12px;
	max-width:450px;
}

#shareReportOptionsTable {
	padding: 10px;
	background: #dedede !important;
	border: 1px solid #CCCCCC !important;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	float: left;
	width: 96%;
	position: relative;
	top: -1px;
	z-index: 1;
}

#shareReportOptionsTable td {
	padding: 5px;
}

#shareReportOptionsTable input {
    margin-bottom: 0;
}
