.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.icon-mc_title_logo {
    background: url(../images/MC_logo_30.png) no-repeat 0 2px !important;
    margin-right: 0 !important;
    padding-left: 20px !important;
    line-height: 30px !important;
    height: 30px !important;
}

.icon-create-campaign {
    background: url(../images/new_campaign_14.png) no-repeat !important;
}
.icon-upload_14 {
    background: url(../images/upload_14.png) no-repeat !important;
}
.icon-upload_32 {
    background: url(../images/upload_32.png) no-repeat !important;
}
.icon-extensions {
    background: url(../images/addons_16.png) no-repeat !important;
}
.icon-templates {
    background: url(../images/template_16.png) no-repeat !important;
}
.icon-account-settings:before {
    content: "\38";
}
.icon-lists {
    background: url(../images/lists_14.png) no-repeat !important;
}
.icon-unsubscribe {
    background: url(../images/unsubscribe_14.png) no-repeat !important;
}
.icon-sync {
    background: url(../images/sync_16.png) no-repeat !important;
}
.icon-shareReport {
    background: url(../images/shareReport_14.png) no-repeat !important;
}
.icon-reports {
    background: url(../images/statistics_14.png) no-repeat !important;
}
.icon-send {
    background: url(../images/send_14.png) no-repeat !important;
}
.icon-hotness {
    background: url(../images/flame_14.png) no-repeat !important;
}
.icon-unschedule {
    background: url(../images/stop_14.png) no-repeat !important;
}
.icon-resume {
    background: url(../images/play_14.png) no-repeat !important;
}

.container-main .span10, #sidebar {
    border: 1px solid #ccc;
    padding: 0 15px;
    background-color: #f4f4f4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.container-main #sidebar {
    padding: 10px;
}

.container-main #sidebar .nav-list .active a {
    background-color: #eee7cd !important;
    color: #555;
}

#content-box {
    color: #666666 !important;
}
#submenu a.active,
#submenu span.nolink.active {
    color: #666666 !important;
    text-decoration: none !important;
}

/* tables */
table.adminlist {
    border: 0px solid #666666 !important;
    width: 100% !important;
    border-spacing: 0 !important;
    border-collapse:collapse;
}
table.adminlist thead th,
table.adminlist tfoot td {
    background: url(../images/th.jpg) repeat-x !important;
    height: 37px !important;
    line-height: 11px;
    font-size: 11px;
    border: 0px solid #666666 !important;
    border-left: 1px solid #ededed !important;
    vertical-align: middle !important;
}

table.adminlist tbody {
    border:0 solid #FFFFFF !important;
}
table.adminlist tbody tr {
    height: 47px;
    border:0 solid #FFFFFF !important;
}
table.adminlist tbody tr.row1 {
    background: #fbfbfb !important;
    border-top:0 solid #FFFFFF !important;
}
table.adminlist tbody tr:hover td {
    color: #666666 !important;
}
table.adminlist tbody tr.row1:hover {
    background: #ffffdf !important;
}
table.adminlist tbody td {
    background: none repeat scroll 0 0 #FBFBFB !important;
    border-color: #FFFFFF #FFFFFF #DDDDDD #FFFFFF !important;
    border-style: solid solid dashed solid !important;
    border-width: 0 0 1px 1px !important;
    text-align: center;
    padding: 0 7px;
}

table.adminlist tfoot select,
table.adminlist tfoot .pagination {
    display: inline-block;
    float: left;
    margin: 3px 0 0 5px;
}

table.adminlist td label {
    min-width: 20px !important;
    display: inline-block;
    margin-right: 10px;
}

#html_container .accordion,
#html_container .accordion-group {
    margin: 0;
}

#html_container .accordion-heading .accordion-toggle {
    padding-left: 20px;
}

#article_lists_sliders table.adminlist td label {
    min-width: 30px !important;
}

#system-message-container {
    margin-top: 1em;
}

h3 {
  margin: 1em 0 0.5em 0;
  font-size: 14px !important;
}

input[type="text"], input[type="email"] {
    padding: 5px;
    font-size: 15px;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: rgb(235,234,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(235,234,237,1) 2%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(235,234,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(235,234,237,1) 2%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(235,234,237,1) 2%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(235,234,237,1) 2%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(235,234,237,1) 2%,rgba(255,255,255,1) 100%); /* W3C */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
    -webkit-box-shadow: 1px 1px 0px #efefef;
    -moz-box-shadow: 1px 1px 0px #efefef;
    box-shadow:  1px 1px 0px #efefef;
}

input[type="text"]:focus {
    -webkit-box-shadow: 0px 0px 5px #007eff;
    -moz-box-shadow: 0px 0px 5px #007eff;
    box-shadow: 0px 0px 5px #007eff;
}

label input[type="checkbox"] {
    margin-top: -2px;
}

label.labelNode {
    background: url(../images/node.gif) no-repeat 0 0;
    padding: 2px 0 0 21px;
}

label.labelNode.indent {
    margin-left: 20px;
}

textarea {
    background: #f9f9f9;
    border: 1px solid #c6c6c6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select {
    color: #626262 !important;
}
#initialScreen {
    color: #2c280f;
}
#initialScreen a {
    color: #2c280f;
    font-weight: bold;
    text-decoration: underline;
}
#initialScreen table {
    border-spacing: 0px;
}
#initialScreen td {
    padding: 0;
}
#authHeader h1 {
    color: #d16700;
}
#freddieBig {
    margin:0 0 -30px 190px;
    position:relative;
    top:-30px;
    width:130px;
}
#MClogo {
    float:right;
    position:relative;
    top:-32px;
}
#signupBox {
    width: 330px;
    margin-right: 14px;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}
#signupBox #signupBoxHeader {
    height: 61px;
    background: #f0e3d2;
    border-bottom: 1px solid #d6d6d6;
    padding: 10px 0 0 5px;
}
#signupBox #signupBoxHeader a {
    display: block;
    width: 163px;
    height: 45px;
    padding: 18px 0px 0 12px;
    color: #ffffff;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 2px 2px 1px #994d00;
    background: url(../images/btn.png) no-repeat 0 0;
}
#signupBox #subHead {
    color: #676767;
    font-size: 20px;
    padding: 10px;
}
#signupBox #subHead #subHeadInner {
    border-bottom: 1px solid #d6d6d6;
    padding: 0 0 5px;
}

#signupBox ul {
    list-style-type: none;
    margin: 0 0 10px 10px;
    padding: 0;
    color: #636363;
    font-size: 18px;
}
#signupBox ul li {
    margin: 0 0 9px 0;
    line-height: 29px;
}
#signupBox ul .bullet {
    display: inline-block;
    float: left;
    width: 21px;
    height: 28px;
    padding: 0 0 2px 9px;
    margin: 0 10px 0 0;
    color: #32679d;
    font-size: 20px;
    font-weight: bold;
    background: url(../images/ol_bg.png) no-repeat 0 0;
}

#authTabs .tabs {
    width: 100%;
    margin-top: 0;
    margin-left: -3px;
}

#authTabs .tabs dt {
    width: 270px;
    height: 32px;
    font-size:16px;
    margin-left: 3px !important;
}
#authTabs .tabs dt span {
    position: absolute;
    margin: 6px 0 0 5px;
}

#authTabs ul {
    margin: 0;
    border-bottom: 0;
}

#authTabs li a {
    background-color: #eee7cd;
    text-decoration: none;
    color: #d16700;
}

#authTabs .tab-content {
    padding: 0 7px;
    background-color: #eee7cd;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 0px solid #eee7cd;
}

#authTabs .closed {
    background: #e6d5b7 url(../images/tabClosedBg.jpg) repeat-x 0 0;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 0px solid #eee7cd;
    color: #5a3c16;
}
#authTabs div.current {
    background-color: #eee7cd;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 0 0 #ffffff !important;
}
#authTabs h2 {
    color: #326894;
}
#authTabs h3 {
    color: #D16700;
}

#authTabs .text_area {
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #666666;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    height: 24px;
    width: 97.5%;
}

.JMbuttonOrange, .qq-upload-button {
    display: inline-block;
    background-color: rgb(207,104,0);
    background-image: -webkit-gradient( linear,
                    left bottom,
                    left top,
                    color-stop(0.47, rgb(207,104,0)),
                    color-stop(0.87, rgb(251,151,0))
                    );
    background-image: -moz-linear-gradient( center bottom,
                        rgb(207,104,0) 47%,
                        rgb(251,151,0) 87%
                    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 0 5px;
    padding: 6px 15px;
    outline:none;
    float:right;
    font-size: 13px;
    color: #ffffff !important;
    text-shadow: 0 1px 2px #616161;
    text-align: center;
    cursor: pointer;
}

.JMbuttonOrange:hover {
    color: #F4F4F4 !important;
    text-decoration: none;
    background-color: rgb(207,104,0);
    background-image: -webkit-gradient( linear,
                    left bottom,
                    left top,
                    color-stop(0.47, rgb(186,93,0)),
                    color-stop(0.87, rgb(251,151,0))
                    );
    background-image: -moz-linear-gradient( center bottom,
                        rgb(186,93,0) 47%,
                        rgb(251,151,0) 87%
                    );

}

.JMbuttonBlue {
    display: inline-block;
    background-color: #396A9C;
    background-image: -webkit-gradient( linear,
                    left bottom,
                    left top,
                    color-stop(0.4, rgb(57,106,156)),
                    color-stop(0.74, rgb(159,193,222))
                    );
    background-image: -moz-linear-gradient( center bottom,
                        rgb(57,106,156) 40%,
                        rgb(159,193,222) 74%
                    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 0 5px;
    padding: 6px 15px;
    outline:none;
    float:right;
    font-size: 13px;
    color: #ffffff !important;
    text-shadow: 0 1px 2px #616161;
    text-align: center;
    cursor: pointer;
}

.JMbuttonBlue:hover {
    color: #F4F4F4 !important;
    text-decoration: none;
    background-color: #2c5278;
    background-image: -webkit-gradient( linear,
                    left bottom,
                    left top,
                    color-stop(0.4, rgb(44,82,120)),
                    color-stop(0.74, rgb(132,162,186))
                    );
    background-image: -moz-linear-gradient( center bottom,
                        rgb(44,82,120) 40%,
                        rgb(132,162,186) 74%
                    );


}

.buttonSaveApi, .buttonSaveApi:hover {
    display: block;
    outline: none;
    border: none;
    float: right;
    margin: 5px -2px 0 0;
    padding: 3px 20px;
    cursor: pointer;
    font-size: 16px;
}
#APIinfo {
    display: block;
    margin: 10px 0 0 0;
    height: 20px;
}

#APIinfo a {
    float:right;
    background: url(../images/info.png) no-repeat 0 0;
    padding: 0 0 0 20px;
    color: #D16700;
    height: 16px;
}

.planDescription {
    float:left;
    width:250px;
}
.buyButton {
    float: left;
    margin: 35px 0 0;
}
.buyButton a {
    display: block;
    outline: none;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none !important;
}
.buyButton a:hover {
    text-decoration: none !important;
}

#newInfo {
    margin: 2em 0;
    padding: 10px;
    line-height: 1.5em;
    background: #d7e7f3;
    border: 1px solid #d6cfb8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#hideSetupInfo {
    float: right;
    cursor: pointer;
}

.dashboard_box {
  width: 105px;
  height: 70px;
  border: 1px solid #ccc;
  font-size: 11px;
  line-height: 12px;
  margin: 0 2px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 5px #888888;
  box-shadow: 2px 2px 5px #888888;
}
.dashboard_box:hover {
  background: #DFDFDF;
  -moz-box-shadow: 2px 2px 5px #555555;
  box-shadow: 2px 2px 5px #555555;
}
.dashboard_box a {
  display: block;
  width: 105px;
  height: 60px;
  padding: 10px 0 0;
}
.dashboard_box a:hover, .dashboard_box a:focus, .dashboard_box a:active {
  text-decoration: none;
  outline:none;
}
.dashboard_box img {
    margin: 0 0 5px 0;
}

#savedButtons {
    float: right;
    margin: 1em 0 0;
}
#savedButtons a#editDraft {
    float:left;
    margin:6px 7px 0 0;
    position:relative;
    color: #666666;
    text-decoration: underline !important;
}
#savedButtons span {
    float: left;
    margin: 6px 7px 0 0;
}
#savedButtons a#sendDraft {
    float:left;
    margin:6px 10px 0 0;
    position:relative;
    color: #666666;
    text-decoration: underline !important;
}
/*
#savedButtons a#createCampaign {
    display: inline-block;
    width: 109px;
    height: 25px;
    background: url(../images/buttonCreate.png) no-repeat 0 0;
    text-indent: -5000px;
    outline:none;
}
*/
#adminForm1, #adminForm2 {
    margin-bottom: 1em;
}
.admintable {
    background-color: transparent !important;
}
#campaignButtons {
    float: right;
    margin: 17px 0 0;
}
#campaignButtons a {
    color: #666666;
    text-decoration: underline;
}

.moreCampaigns {
    text-align:right !important;
}
.moreCampaigns a {
    color: #666666 !important;
    text-decoration: underline !important;
}

#info dl.tabs {
    margin-left: -3px !important;

}
#accountDetailTab ul {
    border-bottom: 0;
    margin: 0;
}

#accountDetailTab ul li a {
    background: #dedede !important;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #CCCCCC !important;
    border-bottom: 0px solid #dedede !important;
    height: 28px !important;
    padding: 8px 15px 0 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #666666 !important;
}
#info {
    padding-top: 37px;
    padding-left: 10px;
    color: #666666 !important;
}
#info .buyCredits {
    position: relative;
    right: 20px;
    top: 3px;
}
#info .buyCredits a {
    width: 90px;
    /*
    background: url(../images/buttonBuyCredits.png) no-repeat 0 0;
    display: block;

    height: 26px;
    text-indent: -5000px;
    outline: none;
    cursor: pointer;
    */
}

#info #accountDetailTab {
    width: 100%;
}
#info div.current {
    padding: 0 !important;
    border: 0px solid #CCCCCC !important;
    box-shadow: 0 0 0 #ffffff !important;
}
#info .tabs dt {
    margin-left: 3px !important;
}
#info div.tabContent {
    text-align: left;
    padding: 10px;
    background: #dedede !important;
    border: 1px solid #CCCCCC !important;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    display: block !important;
}
#info table {
    width: 100%;
    color: #555555;
    font-weight: bold;
}
#info td {
    border-bottom: 1px dashed #c6c6c6;
    padding: 8px 5px;
}

#chimpChatter {
    margin: 0 0 0 3px;
}

#chimpChatter .rss {
    margin: 15px;
}

#chimpChatter .rss a {
    background: url(../images/rss_12.png) no-repeat 0 0;
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -5000px;
    outline: none;
    cursor: pointer;
}

#chimpChatter ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#chimpChatter ul li {
    border-bottom: 1px dashed #cdcdcd;
    padding: 5px 0;
}

#graph_container {
  width: 100%;
  /*height: 150px;*/
  margin: 0 0 1em 0;
  display: block;
  text-align: left;
  font-size: 125%;
  font-weight: bold;
  color: #555555;
}
#graph_container h3 {
  margin: 0 0 1em 0;
}
#graph_container table {
  /*float: left;
  margin: 22px 0 0 30px;*/
  width:100%;
}

#graph_container td {
  padding: 3px 5px;
}

#form_container th {
  text-align: center;
}

table.adminlist table tr, table.adminlist table td {
    background: transparent !important;
    border: 1px solid transparent !important;
}

.row0 td:first, .row1 td:first {
    padding: 3px 0;
}

table.adminlist tbody .row1 td {
  background: #EEE !important;
}

table.adminlist tbody .row0:hover td, table.adminlist tbody .row1:hover td {
  background: #FFFFDF !important;
}

/* accordeon sliders */
.accordion-heading {
    border: 1px solid #CCCCCC !important;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    background: url(../images/th.jpg) repeat-x !important;
}

.accordion-heading a {
    color: #616161;
    background: url("../images/j_arrow_down.png") no-repeat scroll 5px 50% transparent;
}

.accordion-heading a.collapsed {
    color: #616161;
    background: url("../images/j_arrow.png") no-repeat scroll 5px 50% transparent;
}

.accordion-heading a:hover {
    color: #333;
    text-decoration: none;
}

.accordion-inner {
    border: 1px solid #CCCCCC;
    background: #FFF !important;
}





.pane-sliders .panel h3.jpane-toggler-down,
.pane-sliders .panel h3:hover {
    background: none repeat scroll 0 0 #EFEFEF !important;
}

.jpane-slider {
  padding: 0 !important;
  line-height: 14px;
}
.pane-sliders .content {
    background: transparent !important;
    padding: 2px 1px !important;
}
.jpane-toggler span {
    background: url("../images/j_arrow.png") no-repeat scroll 5px 50% transparent;
    padding-left: 20px;
}
.jpane-toggler-down span {
    background: url("../images/j_arrow_down.png") no-repeat scroll 5px 50% transparent;
    padding-left: 20px;
}

/* add users */
#filter_date {
    line-height: 14px;
    position:relative;
    top:-6px;
}
#form_container .calendar {
    border: 0px solid #ffffff !important;
    cursor: pointer;
    position:relative;
    top:2px;
    left: 2px;
}
.note {
    background: #f8f6c7;
    padding: 15px 15px 13px;
    margin-bottom: 10px;
    color: #323232;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.legendIcon {
    display:inline-block;
    padding: 0 15px 0 20px;
    line-height: 17px;
    height: 20px;
    white-space: nowrap;
}
#alreadyAssigned {
    background: transparent url(../images/legendAdded.png) no-repeat scroll left 0px;
}
#infoUpdated {
    background: transparent url(../images/legendUpdated.png) no-repeat scroll left 0px;
}
#suppressed {
    background: transparent url(../images/legendSuppressed.png) no-repeat scroll left 0px;
}
#ajax_response {
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:10000;
    color: #000000;
}
#ajax_response #bg {
    background:#000000 none repeat scroll 0 0;
    height:100%;
    opacity:0.7;
    width:100%;
    position:fixed;
}
#ajax_response img {
    vertical-align: top;
}

#progressBarTitle {
    margin: 35px auto 3px;
    width: 300px;
    text-align: center;
}
#progressBarContainer {
    background: #FFFFFF none repeat scroll 0 0;
    border: 10px solid #000000;
    width: 300px;
    height: 100px;
    position: relative;
    left: 37%;
    top: 37%;
    text-align: center;
}
#progressBarBg {
    margin: auto;
    background: transparent url(../images/progress_bar_grey.gif) repeat scroll 0% 0%;
    width: 190px;
    height: 14px;
}
#progressBarCompleted {
    height: 14px;
    background: url(../images/progress_bar.gif);
    overflow: hidden;
}
#progressBarNumber {
    width: 190px;
    text-align: center;
    position: relative;
    top: -17px;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-shadow: #000 0.1em 0.1em 0.1em;
}
#sbox-btn-close {
    text-indent: -5000px;
    right: -20px;
    top: -18px;
    outline: none;
}
/* create draft */
#create {
    margin: 15px 0 0 0;
}

#create ul.nav-tabs {
    margin-left: -3px !important;
    margin: 0;
    border-bottom: 0;
}

#create ul.nav-tabs li a {
    height: 13px;
    font-size:16px;
    margin-left: 3px !important;
    padding-bottom: 8px;
}

#create ul.nav-tabs li.active a {
    background-color: #e6e5ea !important;
    border: 1px solid #d6d6d6;
    border-bottom: 1px solid #e6e5ea;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #626262;
}
#create ul.nav-tabs li:not(.active) a {
    background: #ebeaef url(../images/createTabClosed.jpg) repeat-x 0 0;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #878688;
}
#create div.tab-content div.active {
    display: block;
    background-color: #e6e5ea;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 0 0 #ffffff !important;
    padding: 15px 10px;
}
#create .key {
    background: transparent !important;
    border: 0px solid #000000;
}

.inputInfo {
    display: inline-block;
    margin: 7px 0 0 0;
    overflow: hidden;
}
.checkboxInfo {
    display: inline-block;
    margin: 3px 0 0 0;
}

#popSlide {
    margin-left: 73px;
}
#popk2Slide {
    margin-left: 93px;
}

.componentsOptionsTable input[type=checkbox] {
    margin-left: 3px;
}

#sidebar_info {
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 0.5em 4px;
}

#buttons {
    float: right;
    height: 30px;
    position:relative;
    top:-6px;
}

#buttons * {
    float: left;
}

#previewButtonContainer {
    margin-right: 4px;
}

#previewButton {
    font-size: 18px;
}

#previewButton span {
    display:inline-block;
    height:20px;
    width:20px;
    position:relative;
    top:5px;
}

#previewButton span,
#campaignDetailsButtons a span {
    display: inline-block;
    float: left;
    height:20px;
    width:20px;
    position:relative;
    top:1px;
    /*
    padding: 0 0 0 10px;
    margin: 0;
    */
    background: transparent url(../images/search_16.png) no-repeat scroll left center;
    /*
    width: 115px;
    height: 33px;
    border: 0px solid #000000;
    text-indent: -5000px;
 */
    outline: none;
}

#saveButton {
    font-size: 18px;
}

#saveButton span {
    display: inline-block;
    height:20px;
    width:20px;
    position:relative;
    top:1px;
    background: transparent url(../images/save_16.png) no-repeat scroll left center;
}

.nodeImg {
    float: left;
    margin-right: 5px;
}

.nodeImg.paddingLeft {
    padding-left: 20px;
}

#preview iframe {
    margin: 15px 0 0 0;
    border: 1px solid #D6D6D6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* send campaign */
#selectCampaign {
    margin: 1em 3px;
    padding: 15px;
    background: #dedede !important;
    border: 1px solid #CCCCCC !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#selectCampaign label {
    display: inline-block;
    margin: 0;
    position: relative;
    top: 2px;
    font-weight: bold;
}

#selectCampaign select {
    min-width: 450px;
    margin: 0 0 0 5px;
}

#campaignDetailsCell {
    width: 305px;
}

#campaignDetails {
    float: left;
    width: 310px;
    margin-right: 10px;
}

#campaignDetailsTitle {
    float: left;
    margin: 0 0px 0 0;
    background: #dedede !important;
    border: 1px solid #CCCCCC !important;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 0px solid #dedede !important;
    z-index: 2;
    position: relative;
}

#campaignDetailsTitle h3 {
    background: transparent url(../images/preview_23.png) no-repeat scroll left center;
    margin: 0 5px;
    padding: 10px 0px 10px 25px;
    font-size: 12px;
}

#campaignDetailsButtons {
    float: left;
    margin-top: 1px;
}

#campaignDetailsButtons a {
    display: block;
    float: left;
    height: 23px;
    padding: 9px 12px 3px 8px;
    margin-left: 4px;
    outline: none;
    font-size: 14px;
}

#campaignDetailsButtons a,
#campaignDetailsButtons a:active,
#campaignDetailsButtons a:hover {
    text-decoration: none;
}

#campaignDetailsButtons a span {
    top: -2px;
}

#campaignDetailsTable {
    background: #dedede !important;
    border: 1px solid #CCCCCC !important;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    float: left;
    width: 100%;
    position: relative;
    top: -1px;
    z-index: 1;
}
#campaignDetailsTable table {
    margin: 10px;
    width: 290px;
}
#campaignDetailsTable tr {
    height: 37px;
}
#campaignDetailsTable tr td {
    background:none repeat scroll 0 0 transparent !important;
    border-color:#FFFFFF #FFFFFF #c6c6c6 #FFFFFF !important;
    border-style:solid solid dashed solid !important;
    border-width:0 0 1px 0 !important;
}

#campaignDetailsTable tr:last-child td {
    border-width: 0 !important;
}

#sendOptions {
    float: left;
    width: 100%;
}

#sendOptions h4 {
    margin: 5px 0;
}

#sendOptions h4.left {
    margin-right: 10px;
}

.sendOptionsTitle {
    background: #dfdfdf;
    background: -moz-linear-gradient(top, #dfdfdf 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #dfdfdf 0%,#eaeaea 100%);
    background: -o-linear-gradient(top, #dfdfdf 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #dfdfdf 0%,#eaeaea 100%);
    background: linear-gradient(to bottom, #dfdfdf 0%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#eaeaea',GradientType=0 );
    height: 40px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.sendOptionsTitle h3 {
    margin: 0 10px !important;
    padding: 10px 0px 10px 30px !important;
    font-size: 12px !important;
}
#optionsTitle h3 {
    background: transparent url(../images/paramsIcon_24.png) no-repeat scroll left center;
}
#testTitle h3 {
    background: transparent url(../images/sendTest.png) no-repeat scroll left center;
}
#scheduleTitle h3 {
    background: transparent url(../images/calendar_24.png) no-repeat scroll left center;
}
#segmentsTitle h3 {
    background: transparent url(../images/segmentsIcon.png) no-repeat scroll left center
}
#socialTitle h3 {
    background: transparent url(../images/share.png) no-repeat scroll left center
}
#autoTitle h3 {
    background: transparent url(../images/autoresponder.png) no-repeat scroll left center
}
.sendOptionsButton {
    float:right;
}
.sendOptionsButton a {
    display:block;
    outline: none;
}
.sendOptionsButton #sendTestButton span,
.sendOptionsButton #testSegments span {
    background: transparent url(../images/test_16.png) no-repeat scroll left 0;
    display: block;
    float: left;
    height: 16px;
    width: 23px;
}
.sendOptionsButton .sendNowButton span {
    background: transparent url(../images/send_16.png) no-repeat scroll left 0;
    display: block;
    float: left;
    height: 16px;
    width: 23px;
}
.sendOptionsButton #saveAuto span {
    background: transparent url(../images/save_16.png) no-repeat scroll left 0;
    display: block;
    float: left;
    height: 16px;
    width: 23px;
}

.sendOptionsContent {
    background: #f0f0f0;
    padding: 1em 10px !important;
}

#selectListInfo {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 15px;
}

#deliveryTime {
    width: 65px;
}
#pickDeliveryTime {
    margin: 0 0 0 3px;
    position: relative;
    top: -5px;
    border: 0px solid #ffffff !important;
    cursor: pointer;
}

#segments {
    min-width: 625px;
}

#segments select {
    margin-bottom: 0;
}

#match {
    width: 75px;
}

.segmentCondition {
    border-bottom: 1px dashed #c6c6c6;
    margin: 5px 0;
    padding: 0 0 7px 0;
}
.segmentConditionDiv {
    float:left;
    margin: 4px 0 0 0;
}
.segmentConditionDiv * {
    float: left;
}
.segmentConditionDiv select, .segmentConditionDiv input {
    margin-left: 5px;
}
.segmentTypeConditionDetailDiv {
    display: inline-block;
    float: left;
}
.segmentType {
    float:left;
    margin: 4px 0 0 0;
}

#addCondition {
    cursor:pointer;
    background: url('../images/add.png') no-repeat 0 7px;
    padding: 5px 0 0 20px;
    width: 120px;
}

.removeCondition {
    float: right;
    margin: 5px 0 0 2px;
}

#testResponse {
    display: none;
    float: right;
    width: 135px;
    padding: 15px;
    margin-top: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:none repeat scroll 0 0 #DEDEDE !important;
    border:1px solid #CCCCCC !important;
    text-align: center;
}
#ajax-spin {
    background:url(../images/loader_16.gif) no-repeat scroll 0 5px transparent;
    float:left;
    height:22px !important;
    width:26px !important;
}

/* rating */
.ratingBG {
    background: transparent url(../images/ratingStars.gif) repeat-x scroll left 0;
    display:block;
    width: 80px;
    height:16px;
    text-align: left;
}
.rating5 {
    background: transparent url(../images/ratingStars.gif) repeat-x scroll left -32px;
    display:block;
    width: 80px;
    height:16px;
}

.ageResult {
    margin-left: 10px;
    position:relative;
    top:-5px;
}

ul.memberRating {
    list-style-type:none;
    display:inline;
    float: right;
    margin: 5px 0 0 10px;
    padding: 0;
}
ul.memberRating li {
    display:inline-block;
    background: transparent url(../images/ratingStars.gif) repeat-x scroll left 0px;
    width: 16px;
    height:16px;
    cursor: pointer;
}
ul.memberRating li:hover, ul.memberRating li.active {
    background-position: left -32px;
}

.preload {
    display: none;
}

/* campaign list */
#filter {
    float: right;
    display: block;
    margin: 0 0 5px 0;
}
#filter select {
    min-width: 100px;
}

/* share report */
/*
#shareReport {
    width: 450px;
}

#shareReportTitle {
    float: left;
    margin: 0 0px 0 0;
    background: #dedede !important;
    border: 1px solid #CCCCCC !important;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 0px solid #dedede !important;
    z-index: 2;
    position: relative;
}
#shareReportTitle h3 {
    background: transparent url(../images/mail_16.png) no-repeat scroll left center;
    margin: 0 10px;
    padding: 10px 0px 10px 25px;
    font-size: 12px;
}
#shareReportTable {
padding: 10px;
    background: #dedede !important;
    border: 1px solid #CCCCCC !important;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    float: left;
    width: 100%;
    position: relative;
    top: -1px;
    z-index: 1;
}
#shareReportTable td {
    padding: 5px;
}
#directLink{
    display:inline-block;
    font-size:12px;
    font-weight:bold;
    margin:2px 10px;
}
*/

/* footer */
#joomailermailchimpintegrationfooterlogo {
    float: left;
}

#joomailermailchimpintegrationfooter {
    float: right;
    padding: 5em 0 0 0;
}

/* buttons */
a.button-orange, a.button-orange:hover, a.button-orange:focus, a.button-orange:active {
    display: inline;
    background-color: #F68212;
    border: 1px solid #D16F02;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 9px 5px;
    text-decoration: none;
}

a.button-orange, a.button-orange:hover, a.button-orange:focus, a.button-orange:active {
    display: inline-block;
}

a.button-orange span {
    display: block;
    padding: 1px 10px 2px;
    border: 1px solid #FFA64F;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    color: #ffffff;
}
