.icon-48-mc_title_logo_25 {
    background: url(../images/MC_logo_56.png) no-repeat 10px 0 !important;
    padding-left: 85px !important;
    line-height: 56px !important;
    height: 56px !important;
}

.icon-32-create-campaign {
    background: url(../images/new_campaign_32.png) no-repeat !important;
}
.icon-32-reports {
    background: url(../images/statistics.png) no-repeat !important;
}
.icon-32-link {
    background: url(../images/freddie_32.png) no-repeat !important;
    width: 45px !important;
}
.icon-32-extensions {
    background: url(../images/addons_32.png) no-repeat !important;
}
.icon-32-payment_details {
    background: url(../images/credit_card.png) no-repeat !important;
}
.icon-32-buy_credits {
    background: url(../images/buy_credits.png) no-repeat !important;
}
.icon-32-config {
    background: url(../images/paramsIcon.png) no-repeat !important;
}
.icon-32-sync_selected {
    background: url(../images/sync_selected.png) no-repeat !important;
}
.icon-32-plus {
    background: url(../images/sync_32.png) no-repeat !important;
}
.icon-32-sync_sugar {
    background: url(../images/sugarcrm_logo.png) no-repeat !important;
}
.icon-32-sync_highrise {
    background: url(../images/highrise_logo.png) no-repeat !important;
}
.icon-32-sync {
    background: url(../images/sync.png) no-repeat !important;
}
.icon-32-templates {
    background: url(../images/template_32.png) no-repeat !important;
}
.icon-32-upload_32 {
    background: url(../images/upload_32.png) no-repeat !important;
}
.icon-32-hotness {
    background: url(../images/flame_32.png) no-repeat !important;
}
.icon-32-send {
    background: url(../images/send_32.png) no-repeat !important;
}
.icon-32-unsubscribe {
    background: url(../images/unsubscribe_32.png) no-repeat !important;
}
.icon-32-resubscribe {
    background: url(../images/sync_32.png) no-repeat !important;
}
.icon-32-lists {
    background: url(../images/lists_32.png) no-repeat !important;
}
.icon-32-unschedule {
    background: url(../images/stop_32.png) no-repeat !important;
}
.icon-32-pause {
    background: url(../images/pause_32.png) no-repeat !important;
}
.icon-32-resume {
    background: url(../images/play_32.png) no-repeat !important;
}
.icon-32-copy {
    background: url(../images/copy_32.png) no-repeat !important;
}
.icon-32-analytics360 {
    background: url(../images/statistics.png) no-repeat !important;
}
.icon-32-shareReport {
    background: url(../images/shareReport.png) no-repeat !important;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert,
.alert h4 {
    color: #c09853;
}
.alert h4 {
    margin: 0;
}
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.alert-success h4 {
    color: #468847;
}
.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.alert-danger h4,
.alert-error h4 {
    color: #b94a48;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.alert-info h4 {
    color: #3a87ad;
}
.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}

#info {
    padding-top: 29px !important;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}

#sendOptions label {
    display: block;
    padding-bottom: 7px;
}